<h3>De profondes racines</h3>
<h4>Synopsis</h4>
Voir si il faut résumé cette partie

<h4>Phase 0: où tout commence</h4>
Les PJ sont appelés pour enquêter sur un double homicide et une disparition d'enfant (R01 p55).
L'enfant du couple mort est porté disparu.
Alice et Tommy Spencer ont adopté Lisa Anne il y a 4 mois, agée de 7 ans elle à noué des liens avec ses nouveaux parents.
Même si elle avait du mal pendant les cours, elle faisait partie de l'équipe locale de softball et elle était appréciée par tous ses camarades et professeurs.
Les Spencer ont été retrouvé morts dans la chambre de Lisa; le mort est du à un choc electrique et aux lacérations par arme blanche.
Selon la police il s'agit d'un cambriolage qui à mal tourné et Lisa à été enlevée comme otage lors de leurs fuites.
TEST BAGOU: selon un officier franc, ils vont la tuer si ils sortent de l'Etat.
TEST TORCHE: une petite quantité de substance noir étrange; semblable à un résidus biologique.
L'appartement est un appart de banlieu classique, il à été adapté à le venue d'un enfant (détails p54).
Il y a l'imgae d'un orphelinat avec des enfants souriants et un grand arbre dans le fond, une autre montre un arbre avec une cabane délabrée dans les bois.
La chambre, la cuisin et la salle de bain sont classiques; Lisa à sa propre chambre et récement décorée.
On trouve des rainures profondes sur le rebord de la fenêtre et la peinture à été rayée à l'intérieur comme à l'extérieur.
TEST BAGOU: selon des voisin, leurs vie semblait normal et alice était très heureuse de la conclusion de l'adoption.
TETS BAGOU (si ils continuent d'interroger les voisins) ou TORCHE (si ils s'interressent au rapport de police): un voisin à entendu des mouvements et des voix dans la nuit, ils pensent que Lisa ne dort pas bien et les voix étaient semblable à une dispute.
TEST TOCHE: Les PJ regardent dans la cours arrière de la maison mais ne trouve aucune traces de pas récentes.

<h5>Que s'est il réellement passé ?</h5>
Lisa à été réveillé par le bruit d'une Aile Noire, elle était chargée de récupérer Lisa pour la ramener à l'orphelinat.
En se posant sur le rebord de la fenêtre elle y a laissée des traces de griffures.
Lisa s'est avancéée vers la créature  pour partir avec elle même si elle aurait aimé dire au revoir à ses parents.
Les grognements de la créature ont reveillé Alice et Tommy qui se sont précipités dans la chambre de Lisa.
Tommy se jète sur Lisa pour la séparer de la créature mais l'Aile Noire l'a attaqué avec ses épines et ses griffes.
Elle attaqua aussi Alice avant de s'envoler avec Lisa.

<h5>Suivre la piste</h5>
Les PJ devront faire le rapprochement entre l'affaire des Spencer et des autres enfants récemments adoptés.
Après une equête auprès deu Service de la Famille et de l'Enfance, ils ont le nom de Lac des Bois l'orphelinat d'où viennent les enfants, il à récemment fermé ses portes.
Terry - était en charge de Lisa - dis aux PJ qu'un autre enfant à été impliqué dans un "accident domestique " le mois dernier.
Il a blésser son père adoptif alors qu'il t'entait de le ramener chez lui après une fugue; ce n'était pas la seule fois où il à essayé de s'enfuire.
TEST BAGOU: Kyle était plutôt effrayant et elle se demande si sa place n'était pas dans un "établissement sûr". lire para 1 ital p56.
Elle avoue qu'elle détestait aller à Lac des Bois pour rendre visite aux enfants; l'orphelinat était dans les bois au milieu de nul part et les enfants était livrés à eux même libre de faire et d'aller où ils voulaient.
Ils étaient dehors jour comme nuit et quand la nouvelle de la fermeture de l'établissement Lisa et Kyle lui étaient asignés. lire para 2 ital p56.
Les PJ peuvent prendre l'avion depuis Thunder Bay jusqu'à l'aérodrome de la Rivière à la Puie puis aller à Lac des Bois.
Si les PJ enquêtent sur les autres adoptions, il y a des aéroports à Nestor Falls, Winnipieg, Pinecreek et Kenora.

<h4>Phase 1 arrivée en ville</h4>
<h5>Visiter l'orphelinat (Lace des Bois)</h5>
L'orphelinat est à l'ouest de Bergland, un chemin de terre qui part de l'autoroute 600 et vas jusqu'au lac.
Il est sur la rive sur-ouest d'une cirque qui délmite la réserv indienne d'Assabaska.
La police locale peut proposer un itinéraire et l'existence de la réserve indienne.
L'orphelinat est à quelques mètres di rivage en touré d'un bosquet.
La maison et le verger montrent des signes d'abandons, la façade en bois gonflé par l'humidité s'affaisse; la maison à deux étages présentes des signes de décennies de négligences.
Une pancarte indique "Maison de la Rivière à la Pluie pour les enfants perdus et les orphelins, Fond. 1822" (R03 p61).


































