<h1>GRAND FROID</h1>
Histoire de Alex Campbell pages 101-102 (avec aide de jeu page 102 - lettre d'adieux).
La mère d'Alex (Memengwaa) appel le Wendigo pour venger son fils.
Il prend possession du corps de son marie (Terry).
Le Wendigo à pour cible toutes les personnes qui sont liées à la mort d'Alex:
    - Walter Nunez
    - Dorotea Brickford
    - Shelryn Moore
    - Stephen Barlow
    - Thalia Carodios
Si il réussit, Chicago et sa région seront recouvert d'un froid étenel.
Le wendigo n'est visible sous sa vrai forme que si on l'observe à travers un filtre.

Chronologie page 103.

Les PJ (les enquêteurs) ont été appelé par Harold Company pour effectuer une enquête discrète, M. Harold leurs en dira plus pendant leur RDV (mardi 29 janvier 12h00).
Lire la partie L'ENQUÊTE page 104.

<h3>WALTER NUNEZ</h3>
<h4>Première victime - Samedi 26 janvier</h4>
Le PJ peuvent aller dans son bureau ou dans son appartement pour obtenir plus d'informations.
L'adresse peut être obtenu auprès des RH.


BUREAU DE WALTER
Les PJ peuvent voir sur son ordinateur et sur son bureau, qu'il possèdes des dizaines de personnes sous ses ordres.
TEST DE TORCHE: Un justificatif de note de frais pour une gerbe de fleur pour l'enteremenet d'Alex, ils trouvent aussi un brouillon page 106.


APPARTEMENT DE WALTER
Il est fermé à clef, pour crocheter la serrure faire une SAUVEGARDE DE DEXTERITE.
Si échec à la sauvegarde, les voisins arrivent voir ce qu'il se passe et appelent la police.

Il y a un PC fixe dans l'appartement et il n'as pas de mot de passe.
TEST DE TORCHE: il s'en voulait pour la morte d'Alex et suite à ça il s'est inscrit sur des forums d'aide psychologique.


ENQUÊTE SUR LA MORT DE WALTER
Les PJ peuvent aller parler au voisins pour avoir des informations.
TEST DE BAGOU: il y a eu une coupure de courant vers 20h00, tout est revenu après 2-3 minutes, le voisin qui a découvert le corps à vu sa montre être arrêter à 20h04.


<h3>DOROTHEA BRICKFORD</h3>
<h4>Deuxième victime - Dimanche 27 janvier</h4>
Les PJ peuvent aller dans son bureau et son appartement (même si il n'y a rien d'interessant).
Il peuvent aussi aller sur le lieu de l'accident de voiture.

BUREAU DE DOROTHEA
Il n'y a pas de PC portable dans son bureau (elle l'as pris avec elle).

ACCIDENT DE VOITURE
Les PJ peuvent:
    - pirater les données de la police; SAUVEGARDE INTELLIGENCE, si échec la police traque la personne à l'origine du piratage pour une GAV
    - appeler à des connaissances (police, médecins, ...); TEST BAGOU
    - aller sur les lieux de l'accident et interroger les commerçants (TEST BAGOU) page 108

ORDINATEUR PORTABLE
Interoger les pompier ou la police (TEST BAGOU) donne le lieux où sont aller les affaires de Dorothea (chez ses parents).
Une fois chez les parents de Dorothea, TETS BAGOU: elle était en froid avec sa famille depuis 10 ans à cause de son orientation sexuelle.
Ils ont juste à demander à ses parents pour avoir accès à son ordinateur.

On peut aller sur sa méssagerie instantanée, elle à contactée une certaine "Tahlia" dimanche à 23h00.
Grâce à la conversation on peut comprendre que les 2 sont en couple, et Dorothea à demander à Tahlia de faire attention (page 109).



<h3>SHERLYN MOORE</h3>
<h4>Troisième victime - Lundi 28 janvier</h4>
Les PJ peuvent aller au domicile de Sherlyn pour avoir plus d'informations.

VILLA DE SHERLYN MOORE
TEST BAGOU: Jhon (le majordome) laisse entrer les PJ.
Si les PJ l'évoque, Jhon approuve le côté étarange de la mort de M. Moore.
Il était 08h00 quand l'air à subitement fait très froid. Il est aller en parler à M. Moore mais elle était déjà morte gelée.
Il y a 2 porte pour aller à la piscine, une vers les salon, l'autre vers les local d'entretien (qui à une porte qui donne sur l'extérieur).
La porte du local technique à été crochetée.
TEST TORCHE: vers 08h00 lundi, une personne semblait rôder autour de la maison (taille moyenne mais pas plus d'infos).

SOCIÉTÉ D'ENTRETIEN
Ils viennent mardi pour faire des vérifications.
IL découvre qu'il n'y a aucun disfonctionnement et que l'eau aurait gelée en quelques secondes.

MONSIEUR MOORE
SAUVEGARDE CHARISME DÉSAVANTAGE: il brise la glace et demande le but de l'enquête.
TEST BAGOU: un homme (taille moyenne habillé en noir) s'est approché de la porte arrière, mais son reflet dans le bassin semblait être beucoup plus grand avec des yeux rouges un gros ventre et la beau flétrie et meurtrie.



<h3>STEPHEN BRALOW</h3>
<h4>Quatrième victime - Mardi 29 janvier</h4>
Maria Moon appel un des PJ pour lui dire qu'Alex et Dorothea faisait parti d'un groupe avec 2 autres personnes, la petite amie d'Alex et un journaliste Stephen Barlow.

DANS LE MÉTRO
TEST BAGOU: C'est la station Austin qui est incriminé.
SAUVEGARDE SAGESSE: la victime s'est mise à hurler, les lumières ont explosé alors que le froid envahit la rame, le corps de la victime était lacérée et gelée.
Si les PJ enquête à la station de métro mercredi il n'y a plus personne pour.

INFORMATIONS COMPLÉMENTAIRES
Le corps à été placé à la morgue.
Si les PJ insistent pour que Davis continuent son enquête, Angen Tulo qui leurs donne plus d'informations sur le Wendigo (page 112).



<h3>LES CAMPBELL</h3>
ALEX CAMPBELL
Le bureau ou l'appartement
TEST TORCHE: les PJ trouvent certaines infos qu'ils n'ont pas.
    - Selfie du groupe d'ami au Tropical Bar.
            Dans le bar (Trpocipal Bar): TEST BAGOU: infos page 113.
    - Enregistrement du répondeur d'Alex.
            M. Moore qui hurle sur Alex (enregistrements envoyé par mail à Walter).
    - Un SMS de Tahlia à Alex.

MEMENGWAA CAMPBELL
Quand les PJ vont chez les parents d'Alex, sa mère ouvre après quelques minutes.
Elle peut servir un café au PJ et leurs demande de ne pas parler trop fort (car son mari dort).
SAUVEGARDE CHARISME: si réussite elle leurs montre la dernière lettre de son fils.
si échec elle les mets dehors.
(si les PJ savent pour le Wendigo Terry n'est pas là)



<h3>TAHLIA CARODIOS</h3>
<h4>Cinquième victime ??? Mercredi 30 janvier</h4>
RETROUVER TAHLIA CARODIOS
Il peuvent avoir trouvé le numéro de Tahlia mais elle répond pas.
    - fournisseur téléphonique; TEST TORCHE: il leur donne l'endroit ou pointe son téléphone.
    - son appartemenet; elle a un calendrier qui indique "Lac Michigan" pour le mercredi 30 janvier.
    - piratant la méssagerie de Tahlia; SAUVERGARDE INTELLIGENCE: si échec le compte est bloqué, sinon ils apprennent qu'elle va au Lac Michigan pour prendre des photos.
    - le videur du bar peut donner l'adresse de Tahlia.
    - en cherchant sur le site du magazine, ils trouvent que Tahlia est photographe pour eux; Si les PJ demande au magazine sa localisation, ils l'obtiennent.

LAC MICHIGAN
Quand les PJ arrivent Tahlia est immobilisé par la peur a cause du Wendigo.
Faire un TEST SANTE MENTALE si un PJ vois le Wendigo dans un filtre, si échec pendant 1d6 tours le perso ne joue pas, TEST CHARISME pour arrêté ça, si échec ça dure 2x plus longtemps.



<h2>CONCLUSION</h2>
Si les PJ n'arrivent pas à arrêter le Wendigo dans sa quête, le Wendigo explose en une vague de glace qui s'étend sur tout Chicago et sa région tuant tout le monde.
Si les PJ arrivent à arrêter le Wendigo, le Wendigo est réduit en cendre ou en neige, la glace commence à fondre et la température à montée.


































