<h3>La sororité</h3>
Anouk, Arya et Zelda sont 3 jeunes filles qui ont connu une adoléscence spéciale: ex petit amis qui développe une tendance d'auto mutilation, leur concurrente qui cumules les mésaventures.
Elles ont esayer d'apprivoiser ces nouveaux pouvoirs.
Mais avec l'arrivée des smartphones: Anouk pense à un garçon, son numéro se compose; Arya souhaite se venger d'une camarade pour qu'elle ne puisse plus toucher son smartphone sans prendre une décharge; quand à Zelda elle peut recevoir des articles gratuitement suite à une anomalie du site marchant.
Toutes les 3 se retrouvèrent dans le même tchat d'un forum, elles eurent tout de suite envie de se rencontrer même si elles habitent loins les unes des autres.
Étant capable de se numériser, elles se retrouvèrent dans Hyrule fondant dans l'immédiat: la sororité.
Les prochaines années fur animées, cherchant les limites de leurs pouvoirs.
Tous cela mena des forces occultes à s'interresser à elles.
c'est aussi à cause de leurs tumultes sur internet qu'elles vont attiré l'oeuil des investigateurs.

<h4>ANOUK, ARYA, ZELDA</h4>
Anouk aime les chat et après avoir utiliser Boule de Chat comme cobaye, elle ne veut plus que les chat nouffre à cause d'eux.
Arya a baignée depuis son enfance dans les univers med-fan, elle à appris à se numériser totalement pour vivre pleinement ses jeux préférés.
Zelda à été bersé par les jeux zelda, elle s'est rendu compte quelle pouvait faire ce quelle voulait dans un jeu même des actions normalement impossible.
Elles partagent le même profil numérique: Cutewitch.

<h4>ARKHAM FUTUR</h4>
ARkham futur à été créer par des rejeton d'un ancien culte priant des Grands Anciens.
Taegr (fils de cultistes) à créer ce nouveau culte sur les cendre de l'ancien.
Ils gardent le même but que leurs parents mais ils comptent utiliser les nouvelles technologies pour atteindre leurs objectifs.
Les parents de Taerg sont devenu démen en lisent un livre, il s'est alors demander si il pouvait utiliser la technologie pour que ça puisse toucher plus de gens en même temps.
FICHE TAERG p103.

<h3>L'ENFANCE DE L'ART</h3>
<h4>PREMIER SORTILEGE</h4>
<h5>CE QU'IL S'EST PASSÉ</h5>
6969 personnes afluent devant le lycée Arkham East lundi après-midi non sans heurt.
Ils grimpent les uns sur les autres afin d'atteindre les grilles pour au final finir, 2 heures plus tard, la foule se dissipe et on y découvre quelques morts piétinés.

<h5>POURQUOI</h5>
Zelda à voulu se vengé de son ancien lycée qui l'as exclu à cause de son grand nombre d'heure séchées.
Elle à enscorcelé la nouvelle vidéo d'un influenceur pour pousser toutes les personnes qui regardent à aller devant l'établissement pendant 2 heures.

<h5>COMMENT LES PJ DECOUVRENT L'EVENEMENT</h5>
Ils découvrent ce phénomène via leur média préféré (S01).
Cette information commence par les médias locaux avant de se propager.
Les PJ peuvent y aller avant que la foule se disperse.

<h5>En quête</h5>
Personne parmis la foule ne peut expliquer sa présence sur place.
Elles on toutes l'air sonné et cherchent toutes à retourner chez elles pour se reposer.
Le points commun de toutes ces personnes est un casque sur les oreilles ou un téléphone dernier cri à la main.
Elles ont toutes passé la journée sur Youtube.

TEST TORCHE: Elles ont toutes regardé la même vidéo avant de venir devant le lycée.

Les PJ peuvent regarder la vidéo, TEST SAGESSE (avec désavantage) si réussite rien ne se passe ; si échec ils se retourvent devant les grilles du lycée quelques heures plus tard.

Après une analyse poussée de la vidéo les experts sont très troublés par les conclusions.
Lire dernier paragraphe p106.

<h5>COnséquence</h5>
Tous ceux qui regardent cette vidéo - même après ça - se rendent devant le lycée qui voit toujours des centaines de personnes venir devant ses grilles.

<h4>DEUXIEME SORTILLEGE</h4>
<h5>Ce qu'il s'est passé</h5>
Une vidéo montrant un homme se faire torturer par des chats jusqu'à la mort circule sur internet.

<h5>Pourquoi</h5>
Jeff est énervé par les vidéos de chat qui font des milions de vues.
Il à décidé de provoqué ceux qui regardent ces vidéos en publiant des vidéo de lui entrain d'écorché des chat vivant.
Il postes ces vidéos via un lien en commentaire avec le pseudo "Attrape-moi si tu peux !".
Des milliers d'internautes cherchent à le retrouver en vain.
Lui se délecte de sont impunité en faisant toujours plus de vidéos plus horribles les unes que les autres, la dernière en date le met en scène entrain de dépecer un chat vivant dans une bassine d'eau salée.
I se fit numérisé par Anouk se retrouvant dans une vidéo torturé par des chats encore et encore.
Cette vidéo à été posté par un utilisateur anonyme et change à chaque visionnage.
Depuis plus aucune vidéo de torture de chat n'as été postée.

<h5>Comment les investigateurs décrouvrent l'événement</h5>
Steve - le grand frère de jeff - contacte les investigateurs après la disparition de son frère le 15 mai, après avoir visionné la vidéo ou il se fait torturer par des chats.
Il est assez direct avec les investigateurs: lire p107-108.

<h5>En quête</h5>
 - une analyse de la vidéo; TEST TORCHE: révèle quelque chose d'impossible, même si elle change à chaque visionnage ses caractéristiques restes identiques et là aussi il y a un trou noir numérique dans les données.
                                         A chaque fin de vidéo jeff écrit un mot avec son sang qui finit par formé une phrase "Que'est-ce qu'il se passe ? Soirtez-moi d'ici, je souffre vraiment !".

 - En se rendant chez jeff (son frèrey invite et accompagne les PJ).
                Ils trouvent l'ordi de Jeff (protéger par un mot de passe); TEST TORCHE (désavantage si pas dans l'info): pour contourner la protection.
                Dans l'historique ils trouvent une invitation à une conversation Messenger par Cutewitch, puis le texte de la conversation est introuvable.
                La lentille externe de la webcam est intengible (ils ne peuvent pas la toucher).
                En démontant l'ordi, les PJ voient que l'air est trouble autour du proc.
                Une fouille en règle de la chambre; TEST TORCHE:  pour découvrire une caméra dans l'oeil d'un chien en peluche posé sur une étagère. Elle film en continue.
                                En regardant les images enregistrer; les PJ voient des ébats, des scènes de torture de chat qui correspondent aux vidéos postées par le pseudo "Catch me !"
                                La disparition de jeff absorbé par la caméra alors qu'il était entrain de taper au clavier; TEST SANTE MENTALE.
                                Les PJ reconnaissent le son des messages Messenger avant que Jeff soit absorbé par la caméra.
                                Un agrandissement assorti d'un traitement de l'écran permet de savoir à qui il parlait (Cutewitch) mais le contenu de la conversation est caché par Jeff.
                Les PJ peuvent essayer d'aller parler avec Cutewitch en tapant sur internet; TEST SAGESSE: ils remarquent que l'air se trouble autour de la caméra de l'ordi en cherchant son nom
                                La soritité ne répond pas immédiatement au PJ et attend pour les observer.


Un nouvel énenement viens compliquer les choses.
Le mercredi 16 mai (le lendemain de la rencontre avec Steve), Steve indique aux PJ qu'il est entré en contact avec un autre groupe d'investigateurs mieux qualifiés et n'as donc plus besoin de leurs services (il à été hypnotisé par Taerg).
Il s'agit du culte d'ARkham Future qui s'est présenté sous le nom de Levi.
Taerg vas essayer de trouver Cutewitch avant les PJ pour l'intégrer à la secte de gré ou de force.

<h3>LA BASCULE</h3>
Lire dernier para p109.
Si les PJ s'intéressent à ce phénomène (si ils vont voir Steve il est devant son PC dans le même état que les autres), ils découvrent que ça s'est produit quand ils étant entrain de regardé des vidéos devant leurs écran.
TEST TORCHE: il recoupent plusieurs historiques, il découvrent la vidéo à l'origine de tout ça.
TEST TORCH (par expert info PJ ou PNJ): encore un trou noir numérique, si quelqu'un la regarde il fini dans le même état que tous les autres.

Derrière ce mystère Taerg à réussi à remonter la piste et a kidnaper Anouk.
Il l'as enfermé dans son sanctuaire, couper du monde numérique et fait préssion sur les autres membres de la sororité.
Il les a forcé à lancer un sort sur la dernière vidéo de Paul Negan (un gros youtubeur): il y met en scène sa dernière aventure cherchant une carcasse d'avion au large de la Floride; il a perdu sa volonté en regardant sa propre vidéo.
Il a sommé les sorcières de préparer un sortilège pour corrompre le flux la source de The Final Day le prochain bloc buster de Netflix.
Le sortilège doit imporser des à la consciences des spécatateurs des passages du nécronomicom provoquant un chaos hors norme à travers le monde et des comportement déments (détails p110).
Il a promis de relacher Anouk une fois ceci fait; mais il compte pas le faire.

<h4>DES SORCIERES DESEMPATEREES</h4>
Quand Taerg veux contacter la sororité il envoie un de ses cultistes avec un polaroide de Anouk attachées dans une pièce en bois recouverte de film métalique; Taerg se cache dans son sancturaire pour ne pas être à proximité d'objet numérique.
Elles se sont résilier à faire le sortilège mais le lendemain il demande d'ensorcelé une autre vidéo au lieu de relacher Anouk.
Elles placent désormais leurs espoirs dans le groupe des PJ.
Elles prennent contact avec les PJ jeudi 17 mai en fin de matinée en faisant sonner et vibrer leurs téléphones en continue.
Elles exposent la situation aux PJ en leurs expliquant qu'il faut libérer Anouk avant le lancement de The Final Day vendredi soir, le temps est compté il faut agire vite.
Elles accèdes à toutes les demandes des PJ.

 - Les PJ peuvent aller chez Steve pour trouver le numéro de Taerg dans son téléphone.
                D'une manière ou d'une autres ils peuvent trouver l'identité du titulaire du numéro de téléphone.
                TEST BAGOU ou TORCHE: ils ont l'adresse de la ferme à une dizaine de kilomètres à l'est d'Arkham.
 - Les PJ peuvent aussi demander l'aide des sorcières: elles peuvent retracer le trajet des messagers et borner les telephones pour rétrécire la zone de recherche.
                TEST BAGOU (parler au gens du coin) TEST TORCHE (trouver l'endroit précis) pour trouver le repaire de la secte.

<h4>LE SANCTUAIRE</h4>
Dans la ferme il y a une dizaine d'adepte dont les parents de Taerg rendu fou, ils passent leurs journée à lire des pages arrachées du necronomicon.
Si les PJ arrivent dans la pièces ils essayent de la avaler (si un PJ veux les lire 2 TEST SANTE MENTAL avec Desavantage).
Si un PJ à asser d'esprit il peut faire un TEST INTELLIGENCE pour connaitre le sort Flétrissement; TEST SANTE MENTAL pour l'utiliser.
Taerg est dans la pièce avec Anouk pour la surveiller, des cultistes viennent le voir au moins une fois par heure pour lui donner des nouvelles et prendre des instructions.
3 cultistes sont dans la grande pièce à vivre avec tout le matériel informatique, ils cherchent et enregistrent des articles et vidéos créées par leurs chaos.
3 cultistes guettent des intrus depuis le sommet du silo.
Si les PJ passent par le petit ruisseau; TEST SAGESSE: ils arrivent à passer sans être vus.
Les 2 dernier cultistes s'occupent du seul champ cultivé.

Si les PJ ne libèrent pas Anouk avant vendredi soir, ils peuvent convaincre les sorcières de ne pas inclure les extraits du Necronomicon si TEST CHARISME.
Si elles ne mettent aucun sortilège sur la vidéo, une demi heure après le lancement, une photo montrant un doigt tranché d'Anouk, une autre suivra avec un ultimatum pour le lendemain (il ne promet plus de l'ibérer Anouk: elle restera en un seul morceau).
Il est alors impossible pour elles de ne pas succomber au chantage.



<h3>EPILOGUE</h3>
Lire p114.





























