<h3>La sororité</h3>
Anouk, Arya et Zelda sont 3 jeunes filles qui ont connu une adoléscence spéciale: ex petit amis qui développe une tendance d'auto mutilation, leur concurrente qui cumules les mésaventures.
Elles ont esayer d'apprivoiser ces nouveaux pouvoirs.
Mais avec l'arrivée des smartphones: Anouk pense à un garçon, son numéro se compose; Arya souhaite se venger d'une camarade pour qu'elle ne puisse plus toucher son smartphone sans prendre une décharge; quand à Zelda elle peut recevoir des articles gratuitement suite à une anomalie du site marchant.
Toutes les 3 se retrouvèrent dans le même tchat d'un forum, elles eurent tout de suite envie de se rencontrer même si elles habitent loins les unes des autres.
Étant capable de se numériser, elles se retrouvèrent dans Hyrule fondant dans l'immédiat: la sororité.
Les prochaines années fur animées, cherchant les limites de leurs pouvoirs.
Tous cela mena des forces occultes à s'interresser à elles.
c'est aussi à cause de leurs tumultes sur internet qu'elles vont attiré l'oeuil des investigateurs.

<h4>ANOUK, ARYA, ZELDA</h4>
Anouk aime les chat et après avoir utiliser Boule de Chat comme cobaye, elle ne veut plus que les chat nouffre à cause d'eux.
Arya a baignée depuis son enfance dans les univers med-fan, elle à appris à se numériser totalement pour vivre pleinement ses jeux préférés.
Zelda à été bersé par les jeux zelda, elle s'est rendu compte quelle pouvait faire ce quelle voulait dans un jeu même des actions normalement impossible.
Elles partagent le même profil numérique: Cutewitch.

<h4>ARKHAM FUTUR</h4>
ARkham futur à été créer par des rejeton d'un ancien culte priant des Grands Anciens.
Taegr (fils de cultistes) à créer ce nouveau culte sur les cendre de l'ancien.
Ils gardent le même but que leurs parents mais ils comptent utiliser les nouvelles technologies pour atteindre leurs objectifs.
Les parents de Taerg sont devenu démen en lisent un livre, il s'est alors demander si il pouvait utiliser la technologie pour que ça puisse toucher plus de gens en même temps.
FICHE TAERG p103.

<h3>L'ENFANCE DE L'ART</h3>
<h4>PREMIER SORTILEGE</h4>
<h5>CE QU'IL S'EST PASSÉ</h5>
6969 personnes afluent devant le lycée Arkham East lundi après-midi non sans heurt.
Ils grimpent les uns sur les autres afin d'atteindre les grilles pour au final finir, 2 heures plus tard, la foule se dissipe et on y découvre quelques morts piétinés.

<h5>POURQUOI</h5>
Zelda à voulu se vengé de son ancien lycée qui l'as exclu à cause de son grand nombre d'heure séchées.
Elle à enscorcelé la nouvelle vidéo d'un influenceur pour pousser toutes les personnes qui regardent à aller devant l'établissement pendant 2 heures.

<h5>COMMENT LES PJ DECOUVRENT L'EVENEMENT</h5>

























