<h3>LES DISPARUS DE VAULNES</h3>
En France en octobre 1921 vers Livradois , Puy-de-Dôme.

<h4>L'histoire</h4>
Charles Montiers habite Vaulnes dans les bois noirs.
Il est devenu alcoolique après la fin de la guerre.
Il perd une grande parcelle au jeu au profit d'Edmond Fargeaux en 1919.
Depuis il lui voue une grande haine tout comme envres les villageois qui ne l'ont pas aidés quand il en avait besoins.
Un conflit s'installe entre lui et le village.
Fargeaux décide de vendre la parcelle à un promoteur immobilier et rend fou de rage Montiers.
Il fréquente désormais Escure un village voisin et boi avec les villageois.
Louise et Honoré Tardieu lui disent que dans les bois de Trailles, il y a un esprit qui peut l'aider dans son mailheur; pour se venger de Fargeaux et des Vaulnois.
Depuis des temps préhistoriques un ancien culte de Ménade est dans la région.
Les fidèles de Pan vivant dans le domaines passent dans la régions faisant naître des rumeurs de sorcelleries.
En 1921 Montiers fait un cérémonal pour appeler l'esprit (les Ménades).
Elles répondent à sa demande de vangeance en échange de sa dévotion envers Pan.
La nuit du 18 octobre 1921, elles entrainent les Vaulnois dans la Sombre forêt avec l'aide d'Homme-bête.
Il vit caché chez les Tardieu depuis cet razia.

Description Livradois p89.

<h4>La disparitions des Vaulnois</h4>
Les PJ sont sollicité pour aider la gendarmerie de Thiers dans une affaire de disparition massive à Vaulnes.
Ils arrivent le 25 octobre.
Leurs interrlocuteur est l'officier de gendarmerie Auguste Prat, face à ces disparitions il est vite perdu et l'aide des PJ est bienvenue.
Il peut donner ces informations:
        - La gendarmerie à été prévenu entre le 19 et 21 par plusieurs sources que des habitants de Vaulnes ne donnaient plus signe de vie.
                    La situation est suffisement généralisée pour que les gendarmes viennent sur place.
        - Quand ils sont arrivés Vaulnes était désert.
                    Il semble que tout le village est disparu entre le 18 et 19 octobre.
                    Le capitaine à relevé des traces qui font penser que les habitants ont quitter le bourg mais les premiers gendarmes arrivés ont brouillé les pistes sans le vouloir.
        - Le seul élément notable est la présence d'xcrément devant la maison d'Edmond Fargeaux.

Le capitaine à des effectifs très limités: 2 sergents, 2 guardes champêtres et 5 policiers.

Les lieux ont été laisés en l'état.

        - du 22 au 24 octobre Prat à fait des battues avec des volontaires sans succès.
                    Des affiches ont été placardées un peut partout aux alentours pour avoir des témoignages et des gardes forestiers ont été encourager à trouver des indices dans la forêt en échange de prime.
        - A la connaissance des gendarmes aucun évènement notable n'as eu lieu à Vaulnes ces derniers temps.

<h4>Approfondir l'enquête</h4>
Les PJ peuvent aller cherches des informations à Vaulnes ou aux alentours.

<h5>Vaulnes</h5>
Le village est désert, la pluspart des portes des maisons sont ouvertes; les commerces, église et mairie sont fermées.
TEST TORCHE :
            - Il n'y a aucune trace de violence.
            - Il y a des traces un peut partout dans le village même si elles sont brouillées par la voiture et les pas de gendarmes; 
                        TEST TORCHE: les habitants ont quitté leurs maison pour aller en direction du bois au sud, après quelques kilomètres les traces disparaissent dans la forêt.
                        TEST TORCHE: les PJ peuvent trouver un monticule de terre et de branches qui cache des cadavres de lapins, furets et souris; chacune des branches possède un symbole gravé (D02 p93).
            - Une fouille plus approfondie (réduire la TORCHE à cause de l'épuisement), dans une maison excentré du village il y a un petit papier griffonné (D02 p93).
                        La maison s'avère être celle de Charles Montiers - un agriculteur -, il n'y a pas grand chose dedans à part une grande quantité de bouteilles (vides et pleines).

<h5>Les environs</h5>
Dans cette région il y a beaucoup d'habitants isolés et de petits hameaux suseptible d'avoir des informations.

<h6>Fernand Jarnon et Marthe Dutilleul</h6>
Un jeune couple pas encore mariée qui habite Virennes est aller dans la forêt la nuit du 18 octobre (pour X).
Ils ont observé un groupe marché vers le sud.
Ils ont pensé à une procession ou une fête à cause de la musique (flûtes ou des clarinettes).

<h6>Jeanne Gourailland</h6>
Une vielle couturière habitant à Quiquandon connait pas mal d'histoire sur des gens de la région - vraies ou fausses.
        - Jean Mousset, le maire à déserté pendant la Grande Guerre et qu'il s'en es tiré grace à son cousin qui travail dans l'administration (vrai).
        - Famille Blanchard, vole régulièrement leurs voisins dès qu'ils sont absents (faux).
        - Eugénie Chaillon, ancienne jetteuse de sort (faux); 
                    Morte il y a une vingtaine d'années (plus ou moins vrai);
                    Pouvait faire tourner le lait ou pourir les récoltes (faux);
                    Il y a toujours eu des histoire de sorcières dans la région (vrai);
        - Charles Montiers, un alcoolique qui a perdu des terres au jeu et en veux à Edmond Fargeaux (vrai).

<h6>Jean-Louis Chastel</h6>
Le garde champêtre du Monestier connait certaines familles de Vaulnes.
Il confirme l'histoire de Montiers et Fargeaux.
Il sais que Montiers s'est coupé du village après une viollente dispute (vrai).
Il a trouvé un autre monticule de cadavre non loins de ceux trouvé par les PJ (vrai).
Il y a déjà eu des disparitions dans la région (vrai).

<h6>Gaston Leverthier</h6>
Le forestier de Susmontargues était ivre la nuit du 18 octobre comme souvent.
Il a vue un groupe de personne près du pont de Thiolières avant de disparètre dans la forêt (vrai).
Il se rappel avoir entendu des flûtes (vrai).
Sa femme ne l'as pas cru, lui a mis une trempe et l'as mis au lit.

Si les PJ veullent se renseigner sur la région, ça sera difficile et il faudra plusieurs jours en véhicule avant de trouver une bibliothèque fiable.
Ils sont cependant rediriger vers Pauline Jourins - une instit à Ambert - et le père Joffre - curé d'Ambert - qui habite Pomeyrolles.

<h6>Pauline Jourins</h6>
C'est une femme d'une cinquantaine d'années passionnée par l'histoire locale.
Un ésprit cartésien qui connait quand même les légendes fondées ou non.
Elle indique que les histoires de sorcières sont présentes dans la région depuis l'antiquité où des prêtresses officiaient dans la région.
Elle possède des récis flokloriques qui donne quelques éléments (D03 p95).

<h6>Le père Albert Joffre</h6>
C'est un écclésiast conservateur.
Il dit que des évenements étranges ont toujours exister dans la région depuis que les registres paroissiens existent - 16° siècles.
La région des Bois noirs compte aussi un nombre de décès et de disparitions innexpliqueré ~ 1-2 / an.
Interrogé sur une éventuelle récurrence, il peut indiquer qu'après certaines vérifications ces évenements ont souvent lieu entre le 20 - 21 mars.
Les seules fois où il y a eu une enquête, elles ont conclu à un accident, une fugue ou une attaque de prédateur.
Il n'y a jamais eu de disparition collective ou d'évenement en octobre.

Il peut confirmer que le 20 mars est le jour de l'équinoxe de mars et le premier jour du printemps.
Durant l'antiquité greque il y avais des fêtes païennes associées à ce jour.
Il ne connais pas Montiers mais si les PJ mensionnent des "brebis galeuses dans le troupeau", il donne plusieurs nom: 
                                                                                                                        - Pierre Jons - Ambert; un blasphémateur aux moeurs douteuses qui rejette le Christ
                                                                                                                        - les Tardieu - des Escures; Des charlatans qui profitent de ses paroissiens
                                                                                                                        - Simone Bleins - Champétières; une sorcière jeteuse de charme d'un autre âge.
Il a connu Eugénie Chaillon, une femme mréprisant Dieu et rejetant l'eucharistie.
Elle est morte dans un incendie de sa maison en 1902 au lieu-dit Magnarot.
Il ne sais pas ce qu'est devenu son fils.

<h5>Sorcellerie dans le Livradois</h5>
<h6>Les roches folles de Fournols</h6>
C'est un petit chaos mégalithique de quelques roches circulaires sur une butte de Boisgrand dans le Fournols.
Dans le village, les habitants sont au courant ddes récits autour de ces pierres comme quoi des druides utilisait ce site pour faire des sacrifices humains.
TEST TORCHE: un signe à demi-effacé (même que sur le papier Montiers et le monticule de bois de Trailles), il à l'air très ancien.

<h6>Les monticules dressés</h6>
Les PJ en ont trouvé un comme le garde champêtre Chastel.
Si ils attirent l'attention sur ce sujet, les PJ découvrent qu'il y en a d'autres au alentours; un au sud de Virennes et un autre au sud-est de Vaulnes.

<h6>Un spécialiste des rites antiques</h6>
Si les PJ ne le demandent pas le Prêtre, instit ou le capitaine peut inciter les PJ à aller voir un spécialiste des rites antiques pour avoir plus d'informations.
Il y a des cabine téléphoniques à Ambert.
TEST BAGOU (pour se renseigner auprès de ses relations) pour connaitre un spécialiste: Jeann-Marie Joulans prof d'histoire antique à la Sorbonne.
Elle peut donner des renseignements:
        - Les sacrifices humains par les druides sont remis en questions par des dpécialiste en religion antiques.
        - L'origine des mégalithes dates d'avant les cultures celstes.
        - Les Dionysies est une fête païenne célébré le 20 mars en l'honneur de la nature et des récoltes à venir son origine s'est perdu au cours du temps;
                                Elle s'accompagnait d'orgie et de cérémonies plus secrètes liées à des cultes encore méconnus;
                                Certaines de ces assemblées - Thyades - étaient exclusivement féminines.
        - Les autels improvisés avec des cadavres d'animaux sous des monticules de branches existent depuis l'antiquité.
                                Il s'agit d'une tradition païenne très ancienne visant à entré en contact avec des dieux ou esprit, ou leurs demander des services.

<h6>Les fausses pistes du père Joffre</h6>
 - Pierre Jons - jeune cordonnier d'Ambert - à repris l'affaire famillial.
                        Il n'est pas aprécier des autres citoyens (et du père Joffre) à cause de son homosexuallitée - qu'il essaie de cacher tant bien que mal .
                        Il n'as rien à voir avec les évènements de la région.
 - Simone Bleins - ouvrière de la papeterie d'Ambert.
                        C'est une communiste et une farouche anti-cléricale, ce qui lui vaut les foudre du prêtre qui l'accuse de tous les maux de la région.
                        Elle n'as rien à voir avec ce Montiers, les Tardieu ou ce qu'il s'est passé à Vaulnes.

<h6>Magnarot</h6>
Les ruines de la maison incenidée d'Eugénie Chaillon sont recourvertes de végétation.
Les PJ remarquent certains éléments:
        - Il y a des restes de 2 lits dans 2 pièces différentes
        - Les restes d'une photo à moitié brulée; on y voit une femme devant un rocher (les PJ peuvent reconnaître les roches folles de Fournols) et elle touche un pendentif qu'elle à autour du coup.

<h6>Le couple Tardieu</h6>
Si les PJ se renseigne sur eux (TEST BAGOU), ils découvrent qu'ils ont mauvaise réputation.
                                                Ils prodigues des soins et des baumes de rebouteux.
                                                Ils sont à moitié fous, tiennent des propos qu'eux seuls semble comprendre et ils vivent reclus.
                                                Ils occupent l'une des 4 batisses du hameaux des Escures (2 sont abandonnées [ancienneement les Jailans et la vielle Dupontet] et la dernière est à Gustave Gondart - plus infos p99).

La vielle Dupontet est morte l'année dernière.
Paul et madelaine Jailans sont aller habiter chez leus cousine au Montel près de Ambert.
                                Interrogé sur les Tardieu, ils sont apeuré.
                                TEST BAGOU: Ils sont fous et font référence à des croyances païennes.
                                                    Ils tuent des animaux et répendent leurs sang autour de leur maison, concoctent des brevages étranges et blasphèmes quotidiennement.
                                                    Ils ont préféré partir que de rester proche d'eux.

Si les PJ vont chez eux frontalement, ils font fuire Montiers par l'arrière de la maison.
Si les PJ deviennent insistants ou agressifs, Honoré demande aux PJ de partir avec son fusil de chasse.
Si les PJ viennent avec des gendarmes, ils se montrent plus conciliants mais nient tout en bloque (ils n'ont rien à se reprocher et ils le savent).

Si les PJ s'introduisent chez eux, ils découvrent que Montiers y est hébergé.
Si il le peut Montiers tente de s'enfuir à la vue des investigateurs.
Pour le ratraper SAUVEGARDE CONSTITUTION (si soir +3) et SAUVEGARDE DEXTERITE pour l'attraper.

Montier et les Tardieu sont des têtes durs ils ne réagissent qu'aus menaces ou intimidations (SAUVEGARDE CHARISME + Avantage si gendarme).
Si ils se sentent acculés, ils "passent à table":
        - Montiers parle de sa "vengeance", des Vaulnios qui "ont payé", Edmond Fargeaux qui "a eux ce qu'il méritait" qu'il "l'as dépouillé" (avec quelques insultes au passage).
                        Il élude le sujet des Ménades, des disparitions et monticules.
                        Si on le pousse à bout (SAUVEGARDE CHARISME), il s'effondre et avoue avoir parler à une voix dans l'ombre le jour après la confection des autels jsute derrière les Tardieu.
                                                                            Une voix de femme lui à demandé quelle était sa vengeance.
                                                                            Elle lui à dis qu'elle irait chercher les Vaulonois la nuit suivante, plus tard c'est lui qu'elle viendra chercher pour prêter allégence à son dieu.
                                                                            Le lendemain il est aller à Vaulnes pour observer et il à vue les Ménades et ça l'as térrorisé.
                                                                            Il a beaucoup bu et est aller chez Fargeaux pour chier sur son palier avant d'aller chez les Tardieu.
        - Lousie Tardieu est la plus bavarde, son mari reste silencieux.
                        Il a la santé mentale défaillante et avoir des accès de colère (SAUVEGARDE SAGESSE pour l'appaisé sinon il aggresse un des PJ).
                        Elle évoque certaines choses avec peu de cohérence tout en rian d'un ton méprisant:
                                            * Des esprits anciens vivent dans la fforêt. Ils ne connaissent aucune loi. Ils sont là depuis l'aube des temps
                                            * De tout temps, ils sont sortis de la forêt pour une fête sacrée. Il est possible de les appeler, en construisant de petits autels consacrés.
                                            * Les voiis noirs ne sont que le nom d'un autre endroit, où vivent ces esprits anciens. Ce n'est pas un endroit pour les Hommes.
                        Elle ne sais pas où sont les Vaulnois, ils ont peut être été emené par les esprits anciens et selon elles ils sont perdu à tous jamais.
                        Elle dis qu'elle sais tout ça grace à Gondart qui leurs à montré un livre et des feuilles.
                        Il vis à côté, une maison devenu un taudis, ce sont eux qui le nourrissent.

<h6>Gustave Gondart</h6>
Sa propriété est immonde et insalubre.
Il vit sur un fauteutil sans vraiment se déplacer.
Lui parler ne sert à rien, il se contente de rire en bavant.
TEST TORCHE: les PJ trouvent derrière une pierre descellé dans le mur, des feuillets déchiré recouverts d'écritures inconnues et indéchiffrables avec un livre ancien et relié d'une couverture de cuir sans nom.
                            Cet ouvrage est un fatras de symbole, des texte manuscrits en allemend, latin et français de plusieurs époques et par différentes personnes.
                            Ils évoquent des rites et des formules insane difficilement compréhensible.
                            Les passages manuscris utilisent le même symbole que Montiers  (D04 p102).
                            Il y a aussi un billet dans une enveloppe avec un document (D05 p103).

Si les PJ fouillent Gondart, il porte un médaillon en argent avec une pierre terne en son centre.
Sur tout son pourtour est gravé des symboles ésotériques inconnus.
Son corps montre plusieurs traces de grandes griffures (cicatrices).
TEST TORCHE: il y a un betit compartiment amovible au dos du médaillon, il contient une photo de portrait d'Eugénie Chaillon. (si les PJ cherche il trouve qui s'est en demandant à certaines personnes).
Si on lui pose plus de question sur le livre ou le médaill:
"La forêt, hin, hin, la forêt, entrer dans la forêt; hin, hin, sortir de la forêt, hin, hin".
La mention du prénom de sa mère (Eugénie) le fait sortir de son état et dis "la lumière" avant de retombé dans le même état.

<h5>Retrouvez les disparus</h5>
Les PJ savent que les villageois ont été enmené dans la forêt, ils ont 2 moyens pour y aller

<h6>Recontrer les Ménades</h6>
 - Les PJ peuvent attendre chez les Tardieu qu'elles viennnent chercher Charles Montiers.
                        3 Ménades arrivent le 30 octobre pour le récupérer, elles rôdent 2 nuits avant de partir.
 - Les PJ peuvent appeler les Ménades de la même manière que Montiers.
                        Après avoir fait le nécessaire, 3 Ménades retrouvent les PJ.

Quoi qu'il arrive cette rencontre peut être dangeureuse.
Les Ménades restent discrètes dans les zones boisées.
Elles utilisent une fûte pour attiré les PJ:
                        SAUVEGARDE CHARISME: si échec, il est sous l'emprise des Ménades (marionnette), si quelqu'un essaie de la faire sortir de cette emprise SAUVEGARDE CHARISME.
                                                Si ça ne fonctionne pas les Ménades tentent de faire venir les PJ dans la forêt pour les faires basculer dans les Abords du domaine.

<h6>Dans la Sombre forêt</h6>
Il suffit aux PJ d'entrer dans les bois de Trailles, en passant la ligne artificielle, ils entrent dans les Abords du domaine de Pan.
Ce passage de la réalité vers le Domaine de Pan peut se faire un peut partout.

Ajouter une ressource CAUCHEMAR (D12) sans dire aux PJ à quoi ça correspond.
Voir p28-29 pour mettre en scène des cauchemars.
Détails Forêt sombre p14-15.

Dans les Abordsil y a des poteaux sculptés un peut partout.
Le silence et l'obscurité règne mais pas de disparus.

Les PJ arrive dans l'Intérieur du domaine qui débouche sur une clairière jonchée d'épine de sapin noir.
Il y a une demi-douzaine de pendu accrochés aux branches (TEST SANTE-MENTALE avec Aventage).
Les corps sont frais et les pendaisons récentes: ce sont certains des habitants de Vaulnes; les noeuds sont laches et certains sont encore vivants.
                                                                Ils finissent par mourir quoi qu'il arrive (ils sont trop haut pour être détachés).
Les Homme-bêtes rôdent mais restent discrets.
Les PJ arrivent a percevoir des petits bruits un peut partout sans en trouver l'origine.
Au fur et à mesure de leurs avancée dans la forêt, les PJ trouvent des corps de villagois; lacérés au coup ou démembrés par des Hommes-bêtes.

Les PJ entendent une mélodie très loin dans la forêt, si ils la suivent, ils arrivent dans les Profondeurs du domaine.
Le chant est fait de voix grinçantes et cacophoniques accompagnés de hurlements.
En contrebas, dans un vallon accidenté les PJ peuvent voir:
    Un grand groupe d'individus sont agglutinés entre des hautes pierres moussues avec des petits poteaux en bois sculptés.
                        Certains sont morts, réduit en charpie; au centre un homme empalé sur un haut pique de bois, hurle et agonise en était regardé par les autres.
                        Au sommet des rochers une demi-douzaine de femmes grimassantes et diformes vêtues de haillons, certaines ont des syrinx à la ceinture.
                        Elles dancent et chante; à intervalle régulier, une saute parmis les villageois et en égeorge un avant de le démembrer (TEST SANTE MENTALE).
                        Des hurlements sinistres sortent des fourrés alentour.
    Avant que les PJ ne fassent quoi que ce soit, les Ménades tournent leurs têtes dans leurs directions, une dizaine d'Homme-bête sortent des sous-bois et portent également l'attention sur les PJ.
                        Une voix inhumaine pousse un cri au loin, les Ménades et les Homme-bêtes commencent à courir en direction des PJ.

<h6>La traque</h6>
Il faut que les PJ fuient les lieux, rester là où ils sont reviens à mourir.
Mettre un D12 sur la table (correspond à la poursuite), si le D12 arrive à 1 ils se font ratraper.

Regarder les tableaux p109-110.

<h6>Le médaillon d'Eugénie Chaillon</h6>
L'objet était possédé par un Vedmak et à été récupéré par Eugénie Chaillon pendant ses recherches sur la Sombre forêt.
Les PJ peuvent voir que le médaillon génère une petite plumière qui peut les guider dans la bonne direction.
                Il s'agit d'un "chemin" pour aller vers les starts inférieurs et quitter le domaine.
                Les PJ devront regarder le médaillon pour rester sur la bonne route.


Utiliser un D6 à l'inverse du D12 (+1 D12 --> -1 D6).
Si D6 à 1 les PJ sortent de la forêt
Faires des TEST TORCHE collectifs pour qu'ils suivent le médaillon.


<h6>L'incendie</h6>
La visite des PJ à réveillé quelque chose chez Gustave.
Il s'est souvenue du sacrifice de sa mère et à créer des départs de feu autour du Bois de Trailles avec les monticules de Montiers.
Les brasiers deviennent vite un cataclysme qui font maintenant face aux PJ.
La mort arrive vers eux plus vite que leurs poursuivants.
La forme de Pan apprait soudainement avec des Mnaths entre les PJ et les flammes puis ils disparaissent tous dans le torrant de flamme.
L'incendie arrive jusqu'au PJ.
D'un coup les PJ émergent des débris fumant de la forêt alors que la vague de feu continue de dévorer la forêt derrière eux.
Juste devant eux Gustave avec un débris enflammé dans la main, il esquisse un dernier sourire en regardant les dernières flammes avant de tomber dans une profonde mélancolie.

<h5>Epilogue</h5>
Une grande partie du bois à brulé.
Si les PJ on sauvé un groupe de Vaulnois, ils ont fini traumatisés et iront dans des hopitaux psy.
Les autorités ne peuvent pas expliquer tout ce qu'il s'est passé, saug si les PJ décide de raconter leurs version aux gendarmes et à la presse (p111).
La sombre forêt est se occupants n'ont pas disparu, leurs lien avec le monde réel à juste été coupé un certain temps.
Les bois noirs et les Ménades ne vont pas faire parler d'elles tout de suite mais pourrait tout de même revenir animées par un désire de vengeance (une nouvelle aventure ?).