<h3>Le Vajra d'or</h3>
<h4>Introduction</h4>
Les PJ sont envoyés en Kachin dans le nord de la Birmanie pour aller chercher un artéfact disparu dans un crasg d'avion à la demande d'une mystérieuse Madame H.
Ils devront aussi trouver des informations sur une nouvelle drogue développer dans la région en participant à une opération spéciale de la CIA.
Tout se déroule pendant l'automne 1963, peut de temps après un coup d'état militaire qui dirige le pays d'une mains de fer.
Les PJ voyagent illégalement dans les montagnes birmanes septentrionales.
Ils doivent éviter de se retrouver au milieu du conflit civil en allant vers le site du crash.
Ils entendront des rumeurs sur un paradis halluciné caché dans les montagnes où semble s'être réfugié un survivant du crash.
Les PJ poursuivent un groupe de cultistes pris au piège dans la Cité sans Nom, apparue sous la forme d'un paradis dédié à Ganesh.
Ils remonteront la piste d'un opium étrange produit dans ces montagnes entre villages abandonnés et paysages sauvages.
Ils trouveront leurs sources à l'entrée de la Cité sans Nom dans de grands champs de pavots qui contiennent de l'obsidienne liquide.
La population locale est sous influance de la Cité pour la protéger le temps que son Dieu se repèce de ses proies.

<h4>Le gala privé</h4>
En octobre 1963, tous les PJ reçoivent une invitation pour un gala dans une aile du musée d'histoire et d'archéo d'une grande ville proche.
Etant donné que c'est un évenement officiel et annoncé partout, iles PJ peuvent trouver des infos dans la presse:
        - Une exposition temporaire sur l'ancien monde hindou sert de cadre au gala;
        - Le gala est organisé par une holding privée qui fait de l'import-export vers l'Asie;
        - Beaucoup de personnalités sont attendues;
        - IL y aura une vente au enchères d'artéfacts religieux et tous cet argent sera reversé aux populations locals;
        - Une tenue correcte est exigée.
Les PJ peuvent faire tout ce qui est possible pendant le gala, mais au moment du début de la vente aux enchères un agent de sécurité vient les trouver pour les emmener devant le bureau du conservateur du musée.

<h5>Une invitation difficile à refuser</h5>
La pièce est poussiéreuse et pleine de livre ou artéfacte en cours d'étude.
Il y a une femme en robe de soirée dassise derrière le bureau (Madame H), elle discuteavec un homme devant le bureau.
Un homme agé, l'air fatigué, il fume nerveusement une cigarette (Jhon Donovan).
L'agent Donovan dis aux PJ que tout ce qu'il vas leurs expliquer est "secret défense" et s'exposent à des poursuites si ils dévoilent quoi que ce soit au publique.
Si les PJ s'apprètent à partir, il leurs dit comment il s'appel et pour qui il travail: "Agent Jhon Donovan, Officier Spécial, CIA".
Il leurs dis avoir été contacté par "H" - la femme à côté de lui - dans le cadre d'une affaire sensible.
Elle dis avoir missionné - un expert en antiquités asiatiques - Michael Powell pour lui ramené un artéfact antique quelle viens d'acheter en Inde.
Avant de prendre son avion retour il lui à envoyé un télégramme disant qu'il pensait être suivi.
Sans nouvelles dans les 72 heures suivantes elle est aller vérifier les informations du vol.
Après avoir été rejetée par les autorités taïwannaises, elle à décidé d'aller voir l'agent Donovan, il lui expose que l'avion s'est crasher dans les montagnes himalayennes à l'extrême nord de la birmanie pendant son trajet entre l'Inde et Taïwan, c'était il y a 15 jours.
Madame H propose alors aux PJ d'aller sur place pour ramener cet artefact, étant donné qu'il à une grande importance à ses yeux elle leurs donnera ce qu'ils veulent en échange de ce service.

<h5>Double mission</h5>
Donovan explique que la CIA peut affréter un C119 pour faire un voyage USA / Japon / Taïwan / Thaïlande avant d'aller en birmanie illégalement.
Etant donné le caractère illégale de l'opération, les PJ auront des faux papiers (membres d'une ONG liée à l'OMS) et seront briefer pendant le vol avant d'être déposer sur un lac dans les montages (le massif du Hkakabo Razi).
L'aide de la CIA n'est pas gratuite, si les PJ accèptent cette mission ils devront récolter toutes les informations possibles sur la production d'une nouvelle drogue dans la région depuis quelques semaines.
Ils leurs sera fournit un appareil photo, un dictaphone, des sacs de prélèvement et des carnets de notes.
Si ils refuse cette mission de la CIA, ils devront trouver un autre moyen d'aller sur place.
Donovan leurs montrent un dossier ouvert sur le bureau et leurs dis qu'ils peuvent le consulter mais ne partiront pas avec (ils en auront une copie 2 jours plus tard).
Le dossier contient:
            - Aide de jeu C01 p116-117-118;
            - Un résumé de la politique birmane depuis 18 mois;
            - Un résumé de la géographie de la région;
            - Des témoignages d'un nouveau type d'opium et des avertissement sur sa consommation;
            - Une biographie de Powell et des éléments sur l'artefact;
            - Une biographie sur l'équipe support qu'ils peuvent utiliser pour leurs retour;
            - Un résumé de leurs couverture à l'OMS.
Donovan reprend le dossier, regarde sa montre et dis qu'avec "H", ils vont repartir au gala avant que la vente aux anchères ne soit terminée.
Si les PJ restent à la soirée, ils voient Donovan serré la main de politiques, Madame H déhambule dans l'exposition en flirtant avec des hommes influents; ils ignorent les PJ quoi qu'il arrive.

<h5>Enjeux et variations</h5>
<h6>Deux mission aux importances adaptables</h6>
Dononvan peut souligner les talents des PJ pour leurs connaissances de l'Asie du Sud-Est et leurs capacité de parler les dialectes birmans.

<h6>Un dossier à fournir</h6>






























