<h1>SAUVER INNSMOUTH</h1>
Lire page 53 au début de la séssion.
Enlever 3PV à chacun des persos.
La seule issue praticable est à 6 mètres au dessus.

CE QUE SAVENT LES INVESTIGATEURS
Donner des informations vagues sur l'histoire.
Utiliser les détails qui suivent pour raconté ce qu'il s'est passé.
        - les PJ on voyager en bus depuis l'université vers Newburyport.
                Ils ont aussi voulu en prendre un pour Innsmouth mais il n'y en à plus.
                Les lignes de bus d'Ipswich vont au plus loin à Falcon Point.

        - dans le bus vers Falcon Point, il n'y avais pas d'autres passagés.
           
        - le voyage entre Falcon Point et Innsmouth s'est fait sur une route étoite et maraicageuse.
                Les habitants de Falcon Point on essayé de décourager les perso de ne pas aller à Innsmouth.

        - TEST TORCHE: un panneau à Falcon Point montre le futur village sportif par le groupe Dunold (PDG Pat Dunold).
    
        - Innsmouth est abandonné depuis la déscante du FBI.

        - il n'y a pas longtemps un homme a pris un appel d'offre pour transformer la ville en spa luxueux.

        - TEST BAGOU: brise la glace avec les habitant du The Castle (un bar).
                Des randonneurs ont été aperçu allant vers la côte sauf que personne ne les à revu à Falcon Point après ça.

        - après le santier, le paysage devient gris et maladif avec des arbres sans feuilles et des dune d'herbe et de sable.

        - TEST TORCHE: il n'y a aucun animal a Innsmouth et dans ses envieons.

        - à côté d'Innsmouth il y à des restes de fermes avec des machines de constructions et aussi des clotures.

        - Innsmouth de nombreux batiments typiques des années 20 - maisons, écoles, magasins - ainsi que des restes d'une église incendiée.

        - les PJ aperçoivent un feu de joie pendant leurs exploration de la ville: 
                    - SAUVEGARDE SAGESSE: si échec les PJ pensent que c'est une illusion.
                                          si réussite TEST SANTE MENTALE, ils approchent du centre ville mais trouver ce feu est comme trouver le bout d'un arc en ciel.

        - un pont traverse une rivière, il mène à une place semi-circulaire au centre de la ville.
                Sur la droite il y a un grand batiment surmonté d'une coupole.
                Une enseigne presque effacée indique - Guilman House - un ancien hotel qui sera au coeur du futur complexe hotelier.
                Le piège du chauffeur de bus peut avoir lieux dans n'importe quel batiment.
                Pour trouver un batiment spécifique, TEST INVESTIGATION.
                Si les PJ sont déterminés, il peuvent trouver un revolver (1D6 matériel) ou un couteau de cuisine.
                Dans les soutérrains, un TEST d'INVESTIGATION permet de trouver du matériel de camping abandonné.

AU FOND DU TROU
Si les PJ crient à l'aide, quelqu'un remus au bord du trou et fait tomber des débris.
lire passage italique page 55.
Si les PJ essayent de lui parler, il ne fait rien.
TEST BAGOU: le PJ entend "La tradition est chose importante".
Il s'éloigne du trou et obstrue la source de lumière.


<h3>LES TUNNELS</h3>
Les PJ cherche autour d'eux, ils trouvent un passage rempli de débris pour sortir de la cave.
Les PJ peuvent essayer de monter pour déplacer ce qui obstrue le trou mais il s'agit de plaque de béton.

Les tunnels d'Innsmouth font résonné le bruit distant des vague, de temps en temps il y à aussi un sifflement.
Le sol des tunnels change tout le temps, il faut avoir une attention constante pour ne pas glisser ou tomber.
Les tunnels en croisent d'autres partout, les PJ peuvent penser que c'est l'oeuvre de l'érosion et du temps, TEST TORCHE: il y a des traces d'artisanat.
IL y a un bas-relief représsentant une scene grotesque et écoeurante.
SAUVEGARDE SAGESSE: si échec, le PJ ne saisit pas le sens de la gravure.
                    si réussite, TEST SANTE MENTALE: lire page 56.
TEST INVESTIGATION: lire encadré page 56.
TEST TORCHE: lire avant dernier paragraphe.
TEST TORHCE COMPLÉMENTAIRE: lire dernier paragraphe.

Sur le sol des tunnels il y a des algues du sables et des restes de cocilles, comme des traces d'eau jusqu'au plafond.
TEST BAGOU: le sifflement en bruit de fond s'est arrêté et après quelques instant un cri de batratiens retenti (trouver croisement grenouille).


LE SACRIFICE
Au fond d'un des tunnels, un mur avec un trou en son centre, une cavitée rugueuse jonché d'écailles de poisson, morceaux de pierre et déchets blanchâtre.
SAUVEGARDE SAGESSE: Si réussite, TEST SANTE MENTALE, il comprend que c'est des os brisés.
                    Si échec, il trouve une vertèbre et des dents humaines, tous les PJ font SAUVEGARDE CONSTITUTION: si échec nausée.


LA TANIERE
Il y a un coprs abandonné, il semble montrer des traces de décompréssion explosives et il manque certains morceaux, TEST SANTE MENTALE.
TEST TORCHE: un PJ trouve (1D4; torche, piles rechange, kit premier soins, téléphone). un porte feuille maculé de sang est par terre, il contient quelques billets et un ticket de bus.


LA CELLULE D'ACCOUPLEMENT
Il y a des petites céllules dans le fond d'un tunnel.
Chacune contient un rocher plat et lisse avec des menottes métaliques.
Sur les murs, on peut voir des gravures qui évoques ce qu'il était fait dans ces cellules.
TEST SANTE MENTALE.


LA COLONIE DES CRAPAUDS
Des crapauds niche le sol d'une partie du tunnel.
SAUVEGARDE DEXTERITE: Si réussite les PJ passent sans problème.
                      Si échec les PJ dérange les crapauds en écrasant certains, ils commence une cacophonie de cris ce qui attire le Shoggoth. (mettre pression au PJ)


LA CAVITE INNONDEE
Le tunnel commence à s'immerger dans des eaux noirs le seul autre chemin possible est de faire demi-tour.
SAUVEGARDE FORCE et CONSTITUTION: Si échec FORCE: il arrive pas à nager dans les eaux tourbillonantes et reste dans la cavitée.
                                  Si echec CONSTITUTION et réussite FORCE: ils arrivent de l'autre côté en se blessant (1D4 PV -), le sang dans l'eau attire le Shoggoth (1D6; 1 il arrive).


<h3>LE SHOGGOTH</h3>
Courte désciption du Shoggath page 58.
Si il frappe un PJ, SAUVEGARDE CONSTITUTION: si échec il commence à se noyer.
Une masse frole la jambe d'un PJ, un tentacule agrippe un bras, ...; il peut aussi briser un membre.


<h3>RESOLUTION</h3>
LA FIN LA MOINS IDEALE
lire page 59.

LA FIN IDEALE
lire page 59.