<h3>WENDY</h3>
NOME
C'est une petite ville d'Alaska.
Après la découverte d'or en 1899, la ville à connu un essort.
Mais comme les conditions de vie là-bas n'étaient pas bonnes, la ville à perdu 90% de sa population, 20 000 --> 1 000+ (1905 --> 1925).
Les familles qu'il reste à Nome sont les plus riches et les plus grandes: Lindeberg, Brynteson, Wayne.
La ville là plus proche est Anchorage.

HIVER 1925
Les conditions sont abominables.
Le froid est extrême (entre -20 -40), un blizzard quasi permanent depuis des mois (vent violent + chute de neige).
La diphtérie fait des ravage dans la ville.
Débute par angine, pouvant aller jusqu'à la mort.
Il peut y avoir des complications, le croup: gonflement de l'intérieur de la george avec des symptomes classique: toux "aboyante", bruit aigue pendant respiration, souffle difficile et saccadé.
Les vols sont impossibles, la mer est gelée.
Le dernier espoir de Nome est un musher: Gunnar Kaasen et son chien Balto.
Il transporte le sérum contre la diphtérie (si il parvient a traverser le blizzard).

<h3>L'EXPEDITION</h3>
Lire page 81-82.

regain de ressources page 85.

Membres de l'éxpedition:
    - les PJ
    - Eliott Branson
    - Wendy Wayne
    - Mike Lindeberg

JOUR 1 ET 2
Le traineau de Mike peut prendre 6 personnes avec lui, il peut y avoir un deuxième traineau.

Vers midi, l'éxpedition part vers l'est.
Au début du voyage, les membres peuvent parler entre eux pour en apprendre plus:
    - Mike lire début page 84.
            TEST BAGOU: il a perdu sa femme avec la maladie, elle attendait un enfant. Il n'as plus rien à perdre et si il meurt, il ne manquera à personne.
    - Eliott lire page 85
    - Wendy est une fillette de 13 ans qui ne vas pas très bien.
            TEST BAGOU: lire page 85.
                                                Le premier matin de l'éxpédition, elle se réveille en pleur avec du sang sur ses vêtements (première menstruation); suite à ça elle est a fleur de peau.
            SAUVEGARDE CHARISME: pour la calmer.
                                                La deuxième nuit (jour 2 -> 3), sommeil agité qui réveille tout le monde plusieurs fois (cris et sanglots).
            SAUVEGARDE CHARISME: pour apaiser la fille.
            Si échec sur l'un des 2 test, elle a saoulé le groupe, prochain test des PJ avec désavantage.

JOUR 3
Après quelques heures de glissent, le groupe remarque une masse inerte allongée dans la neige.
En s'approchant, ils remarquent qu'il s'agit d'un élan mort; d'une taille imposante.
TEST TORCHE: Il y a des traces de crocs sur le flan de la carcace, elle est tellement gelée que l'animal n'as pas pu le dévoré.
SAUVEGARDE INTELLIGENCE: pour essayer de savoir de quel animal il s'agit; réussite ours, échec renard.

Le soir, Wendy se confie au sujet d'un rêve quelle à fait deux jours au par-avant.
Lire page 86.
Après cette longue tirade, elle à besoin d'être rassurée avant d'aller dormir.
SAUVEGARDE CHARISME: échec le premier test de chaque perso le lendemain à un désavantage (elle aura un sommeil agité).

JOUR 4
Comme tous les jours, les traineaux glissent sur la neige gelée.
Eliott tousse plus que de raison.
Est-ce qu'il est infecter par la dyphtérie ou est-ce que c'est autre chose ?
Les PJ peuvent abandonner Eliott sur la route.
SAUVEGARDE CHARISME: échec le projet n'est pas accépté et l'ambiance est glaciale.

Un peut après la pause repas, il y a un grognement sourd qui surprend les chiens qui les fait accélérer violemment.
Mike hurle des ordres mais rien n'y fait.
En se retournant vers les PJ il dit: "Ils ont peur. Quelque chose nous poursuit... Peut-être l'animal qui a essayé de bouffer l'élan gelé... Il a dû nous suivre."
A quelques dizianes de mettres derrière le groupe, une ombre très menacante les poursuit, un ours polaire probablement affamé.
Mike demande aux PJ quoi faire:
    - maintenir l'allure: les chiens et l'ours s'épuisent mais il fini par les ratrapés (ils auront une action chacun avant de se faire attaquer).
    - ralentir l'allure: l'ours se jette sur le dernier chariot.

Tout au début du combat, l'ours déchire les vêtements de wendy et lui entarille la poitrine.
Mike essaye de calmer ses chiens, Eliott essaye de faire un feu pour faire fuir l'ours (2 tour) à ce moment là les PJ ont un avantage sur les tests.
Quand l'ours tombe à 0PV, il bondit sur Eliott et lui arrache la moitié du visage avant de s'éffondré.

Une fois ça fait, une meute d'une dizaine de loup arrive part l'avant.
Ils se jettent sur quelques chiens et surtout sur les cadavre de l'ours et d'Eliott.
Mike hurle "Tout le monde à bord! On dégage!".
Quelques dizaines de minutes plus tard, il trouve un lieux sur pour passer la nuit.

PREMIER REVE
Le lendemain matin, les PJ sont reveiller par le japemment des chiens.
Ils remarquent facilement que Wendy à disparut avec la totalité des vivres.
Les PJ trouvent un chemin d'emballage et de viande séchée.
TEST TORCHE: lire page 87.

JOUR 5
Les PJ se réveillent brutallement à cause de l'aboiement des chiens.
Wendy est toujours là et tout ça ne semble avoir été qu'un rêve.
Pourtant les vivres ont bien été volées.
SAUVEGARDE INTELLIGENCE: Les PJ trouvent des traces de pas de cougars.
Mike insiste pour accompagner les PJ, c'est un trappeur ils peut les aider à traquer l'animal, un PJ doit rester avec Wendy.

TEST TORCHE: après avoir suivit les traces de l'animal, ils arrivent à un petit bosquet.
Ils trouvent le sac de provision à moitité déchiré, la viande séchée à disparue.
TEST TORCHE: Ils trouvent le linge ouvert au pied d'un arbre.
Mike se rapproche pour prendre le linge, le cougar lui saute dessus du haut de l'arbre et le blèsse violement.
Le cougar peut être intimidé (SAUVEGARDE FORCE).
Mike est pas mort mais sévèrement blessé.

Pendant ce temps là wendy dort d'un someil agité.
Elle se réveille précipitement en criant.
"Je suis le messager du Dieu deu Grand Silence Blanc".
"J'ai un message pour ceux qui ont froid et qui ont faim".
"Je suis au Nord, je suis au Sud, partout. Je suis le blizzard. Je suis affamé. Je réclame mon dû".
Il faut être patient avec du tacte pour l'apaisée (réussir SAUVEGARDE SAGESSE).
Sinon TEST SANTE MENTALE.

Une fois le groupe réunis, les membres blessés peuvent être soignés.
Wendy se réveille mais ne garde aucun souvenir de ses paroles.
Après avoir pris un bon repas, le groupe repart.
Tout d'un coup, les personnages voient une lumière rouge montant vers le ciel.
Probablement une fusée de détresse.
Assurément Gunnar Kaasen le porteur du remède à la dyphtérie.
Mike accélère pour approcher de son point de départ.
TEST TORCHE: pour localisé précisément la source.
Une fois arrivée sur zone, Mike propose aux PJ de faire le tour de la zone pour trouver le traineau avec le remède.
Wendy décide de venir aider les PJ pour arrêter de se sentir inutile.

DEUXIEME REVE
Après plusieurs dizaines de minutes d'exploration et un TEST TORCHE, il n'y a aucune trace du traineau.
Les PJ sont même perdus, en cherchant à rejoindre Mike les PJ commencent à craindre le pire.
Lire page 90.

JOUR 6
Lire page 90.
TEST BAGOU: lire page 90.
Wendy semble plus enjoué que d'habitude dans ce village.
Elle incite les PJ à se laisser aller et à abandonnée leurs quête mais n'insite pas deçu.

DERNIER JOUR
Le lendemain matin les PJ réalisent vite que Wendy n'est plus dans son lit et qu'il y a beaucoup de bruit à l'éxtérieur.
Tout les villageois forment un cortège qui se dirigent vers la forêt.
Après quelques minutes de marche, il arrive dans une clairière et entoure un grand arbre à l'écorce sombre.
Les PJ retrouvent Wendy, solidement attaché à plus de deux mètres du sol complètement nue.
Lire page 91.
TEST SANTE MENTALE Désavantage pour tous les PJ.
Si les PJ engagnent le comabt contre le Wendigo, toutes les SAUVEGARDE échouent et il fait 12 dégats à chaque coup.
Chaque PJ qui affronte le Wendigo fini par mourir et par avoir sa tête acroché aux cornes du Wendigo.
La seule chose à faire est fuir, l'humanité est impuissante face au mythe.
Si tous les PJ attaquent le PJ le dernier hors combat est projeter par le Wendigo qui s'en désintéresse juste après.
Il assiste à la suite impuissant.
Lire la suite page 91.

CE N'ETAIT PAS UN REVE
lire dernier paragraphe page 91.

EPILOGUE
page 93.