Choisir parmis les 12 archétypes.
Choisir un Nom au personnage.
Choisir un Problème à votre personnage.
Choisir une Motivation pour votre personnage.
Répartir 13 points dans les attributs.
Répartir 12 points dans les compétences.
Choisir un talent.
Choisir votre équipement.
Définir les relations avec les autres PJ.
Choisir 2 attaches.
Décrire un refuge de départ.


<h4>ARCHETYPES</h4>
Chaque archétype représente un type de personne avant l'épidémie.
Chacun possède un attribut et un talent principale.

<h4>ATTRIBUTS</h4>
valeur min 2
valeur max 4 - sauf attribut principale 5 - pour 13 points totaux.

<h4>COMPÉTENCES</h4>
valeur min 0
valeur max 5
placer maximum 2 - sauf compétences principale 3 - points par compétences pour 12 points totaux.

<h4>ATTACHES</h4>
L'un est un PNJ de votre groupe l'autre est un PJ de ce même groupe.
Ils peuvent être un ami, amant, ...
Les attaches peuvent être perdu de pleins de manières différentes.
Ont peut alors créer une nouvelle attache avec un autre personnage PJ ou PNJ.
Mais toujours avoir une attache avec un PNJ et une attache avec un PJ.

<h4>EQUIPEMENT</h4>
Lancer 3 fois un D6 et voir le résultat dans la fiche d'archétype.
Lancer 1 D666 et voir pages 151-153.

<h4>TALENTS</h4>
Liste des talents criminel pages 55-57
Liste des talents génériques page 57-59
































