<h4>FORCER UN TEST</h4>
Quand on échoue à un test, on peut forcer le test.
+1 point de stress quand on force un test (effectif après le test).

Quand on lance les dés, chaque 1 sur un dé de stress enlève 2 réussite (6).


Chaque PJ et PNJ ont 3 PV.
Quand les PV passent à 0 ont est brisé et on prend une blessure critique.

A chaque fin de partie voir si les PJ ont subis des points de ruptur:
    - attache tuée ou disparaît
    - attache contre vous, ou part
    - tuer un ennemi sans défence
    - brisé par les dégâts
    - 5 points de stress
    - déstruction d'un bien précieux (refige, ...)

Lancer des dés; Esprit ou Empathie +2 pour chaque attache en vie et de votre côté.
Pas de dés de stress ni de force.
Test réussi avec au moins un 6, sinon lancer un D6:
    - 1,2   perdre motivation (enlève le bonus)
    - 3,4,5 dévasté (effet p27)
    - 6     changement de problème ou nouveau problème

<h4>D'EXPERIENCE</h4>
Revoir le système de gains d'XP.
Un point de compétence ou un talent vaut 10XP.

<h4>PNJ</h4>
Test pour les PNJ lancer 4 dés de bases.
Formé: +1 dé
Expert: +4  dés
maitre: +6 dés

Pas de force possible
3 points de vie

Table PNJ survivants pages 30-31


<h4>REFUGE</h4>
2 valeur pour définir un refuge:
    - capacité (nombre de personne possible)
    - défense (niveau de protection)

Les refuge ont des problèmes (points faibles, ...).

<h4>MERDER</h4>
Augmente le niveau de menace de 1.

<h4>AIDE AU TEST</h4>
Si un PJ est aidé pendant un test +1 dé pour chaque perso.

<h4>TEST OPPOSÉ</h4>
Les 2 personnages qui s'affrontent lancent les dés.
Celui avec le plus grand nombre de réussite gagne.

<h3>COMBAT</h3>
<h4>FACE-A-FACE</h4>
Un simple test en opposition entre 2 personnages vivants.
Celui qui a le plus de réussite blesse l'autre, si les 2 ont le même nombre de réussite ils se blessent mutuellement.
Tous 6 en plus du nombre de réussite requis ajoute 1 dégat.

<h5>ABRI</h5>
Efficace contre le combat à distance.
Enlève une réussite sur les jets.

<h4>BATAILLES</h4>
































