<h3>INFORMATIONS DE FOND</h3>
Les PJ sont des gendarmes rattachés à la section de recherche aquitaine.

Les PJ sont des enquêteurs pas des investigateurs, ils résolvent des énigmes policières.
Par défauts tous les PJ sont des OPJ.


<h3>QUELQUES FAITS</h3>
Dans les années 80, James SUTTON est un homme d'affaire anglais à la tête d'une petite secte.
Sa base initiale était le Suffolk puit le Bordelais.
Ils cherchent des personnes paumés, fugueurs à faire disparaître discrètement.
Le livre "Nuits de l'homme sans tête" (livre maudit) sert de guide à SUTTON.

En 1992, ils sacrifient Hélène LOMBARDI fille d'un officier qui reprend l'affaire avec des proches.
Le 12 juin 1993; Marc LOMBARDI (colonel) - Valérie LOMBARDI (sa femme) - Jeanne LOMBARDI (sa fille) - Jean-Pierre Dizier (un ami) - Hervé TORRES (un ami); intérrompent le rituel d'invocation, tuent SOTTEN et libèrent des prisonniers qui allaient se faire sacrifier.
Décembre 2012, SUTTON revient à la vie avec l'aide d'Emmanuel LORMIER en sacrifiant Mélissa LAPLACE.

Le cadavre de Mélissa est retrouvé début 2013.
Cette découverte fait les gros titre ce qui attire les anciens prisonniers survivants: Pierre MENARRD, Thomas VANNIER, Jane-Eycott VANNIER, Simon THURSTON, Sophie IANSKI.
Ils commencer a mener une enquête pour retrouver des sectateurs pour ensuite les tuer.
SUTTON n'est pas l'une de leurs victimes mais après chaque morts, il ont un nouveau nom et adresse.

Jean-Pierre DOZIER (ex-investigateur) qui est resté dans la région tente d'en apprendre plus de son côté.


<h3>INFOS ARRIERE-PLAN</h3>
Lever soleil entre 6h45-6h20.
Coucher soleil entre 21h15-21h45.
21 jours de pluis sur mai, pluviomètre 150%, -3°C par rapport aux normales.

Pages 52-53, distribution de tous les noms de la campagne avec les groupes associés.
Page 54, Chronologie des evenements de la campagne.
Page 55, qui assassine qui.
page 56-57, carte de la région.















































