Lire les 2 premiers paragraphes.
Donner la carte et l'aide de jeu 01

montrer la carte du pnj A4.
Dire que le PNJ leurs donne les éléments du 4eme paragraphe puis laisser l'enquête aux PJ.

<h3>PREMIERES CONSTATATIONS</h3>
Les différents spécialistes sur place peuvent donner des infos aux PJ même si il recevront des rapports dans les 2 jours à venir.

        - L'incendie à été signélé à 3h22 par un voisin (para 1 p81).
        - L'incendie sera vraiment éteint vers 9h, l'interrieur est accessible qu'à partir de la fin d'aprem (para 2 p81).
        - 9h12, 3 nouveaux cadavres sont découvert dans le salon: ils étaient attachés (menonttes, total 5 morts), les pompiers éstiment que le feu est parti du salon (para 3 p81).
FAIRE LES TETS POUR LES RAPPORTS DES LEGISTES.
        - Villa XIX° presque un manoir appartient au couple DELMIN vivant ici depuis 1998 (para 4 p81).
        - Il y a aussi 2 autres voitures dans le garage (para 5 p81).
        - Les lettres "CC" ont été bombées à la peinture noir sur le perron.

<h3>RECHERCHES INITIALES</h3>
Dès le début les PJ peuvent trouver que:
        - auprès des voisin; TEST BAGOU, para 1 p87.
        - quelques infos sur le couple, para 2 p87.
        - arrivée de leurs enfant le 10 mai; détails sur les enfants et leurs liens avec leurs parents para 3 p87.
        - exterieur maison et terrain; TEST TORCHE, trace d'escalade sur le mur du jardin, para 4 p 87.
        - interieur maison (vers 18h); TEST TORCHE, vitre cassée et ordinateur volé, para 5 p87.
        - les Bazas n'ont pas été vu depuis le 8 mai, para 1 p88.
        - Thomas EASTON; propriétaire de la ford et en vacance en france depuis le 1° mai, para 2 p88.
        - détails sur les corps, para 3 p88.
        - détails sur le couteau utilisé, para 4 p88.
        - détails sur l'éssence, para 5 p88.
        - détails balistiques, para 6 p88.
        - détails sur les menotes, para 7 p88.
        - détails MO, para 8 p88.
        - relevés téléphoniques, para 9 p88.

<h3>LES TROIS AUTRES VICTIMES</h3>
JAQUES ET MARIE-FRANCE BAZAS
        - quelques infos sur les BAZAS, para 1 p93.
        - ils habitaient une villa à Fronsac, para 2 p93.
        - cambriolage chez les BAZAS, para 3 p93.
        - indice chez les BAZAS, para 4 p93.
        - voisins et filles, para 5 p93.
        - ils n'ont pas d'ennemi mis a part les agents du fisc, para 1 p94.
        - compte bancaires de BAZAS, para 2 p94.
        - détails sur une voisine qui à vue une femme mystérieuse, para 3 p94.

THOMAS EASTON
        - infos sur le correspondant anglais pour les infos suivantes, para 1 p97
        - infos sur Thomas, para 2 p97
        - lieux de vie au RU, para 3 p97
        - infos proches de Thomas, para 4 p97
        - potentiels ennemis, para 1 p98
        - carte postal, para 2 p98
        - vie conjugale, para 3 p98

<h3>PISTES, NOUVELLES ET ANCIENNES</h3>
"CC"
La vrai signification est "Convicta & Combusta" ou "comdamné et brûlé".

DVS Investment
Infos semi-publiques: 
        - créé en 1985
        - géré par 2 personnes; Dennis Baker et Jaques Bazas, para 2 p99
        - par la police britanique: c'est juste une boite aux lettre à gibraltar city, beaucoup de détails para 1 p100

JAMES SUTTON
        - né en 1939 dans l'essex en banlieu de londres, détails para 1 p101
        - mort le 12 juin 1993 à dardenac en banlieu de bordeaux, détails para 2 p101
        - marié et divorcé 2x, exigences dans son testement étrange, détails para 1-2 p102

LA BALISTIQUE
        - l'arme qui a tué les DELMIN est un beretta 7.65mm
        - TEST TORCHE: pour découvrir qu'un pistolet de ce type à été volé dans un cambriolage (détails para 4 p102)

DUTEILLE SA
page 102 du bouquin des encagés


















































