<h3>RESPECT</h3>
Le respect peut être utiliser pour demander des choses à des collègues ou des suppérieurs.
Si le test est un échec, son image se ternie et le RESPECT baisse d'un point.

Si le joueur fait des actes graves, il fait un test de RESPECT avec modificateur (tableau page 14 et 15).

<h3>VIE</h3>
Si le joueur est HJ; une fois hors de danger il lance 1D10 (tableau page 16).
Si il survit, il revient à 1D4 PV.


<h3>SANTE MENTALE</h3>
Si le test est un échec, 1D6 (tableau choc page 16).

Si lors d'un test avec 1D4 il échoue, 1D6 (tableau page 18).

<h3>Avantages Desvantages</h3>
AVANTAGES: lancer un dé supplémentaire au test et prendre le meilleur résultat (le dé suppérieur).
DESAVANTAGE: lancer un dé supplémentaire au test et prendre le pire résultat (le même dé).

<h3>FORTUNE</h3>
Utiliser un jeton pour relancer un test.
Utiliser deux jetons pour réussir automatiquement.

Conséquences possibles (MJ enlève de la fortune) page 19.

<h3>DEGAT ET ARMURES</h3>
un PJ ou PNJ iniflige des dégat déduire les points d'armures (tableau page 22).

<h3>REGAGNER RESSOURCES</h3>
Faire un break un dimanche.
choisir entre :
        - Bagou au max
        - Torche au max
        - Sante Mentale regagne un niveau
(il faut juste un jour en off).

après 8h de repos, récup 1 niveau de vie.

<h3>ENQUETE IGGN</h3>
recommandation: D4
non-lieu: D6.

<h3>COMPLICATION PERSONNAGE</h3>
Si le PJ le veux, déclenchement d'une complication.
Si il la surmonte, il regagne max torche et bagou ou sante mentale max


<h2>ANALYSE SCIENTIFIQUE</h2>
Si un PJ fait de l'administratif, il peut faire une demande d'analyse.
Matinée, 1 demande
Après-midi, 2 demandes
Soirée, 1 demande

il y a 3 étapes pour les demandes:
    - temps d'attente
    - temps de travail
    - temps de transmission
voir le tableau page 25 pour les durées.

ACCELERER LES DEMANDES
sauvegarde charisme pour réduire le temps d'attente pour autopsies.
sauvegarde intelligence pour réduire le temps d'attente pour tout le reste.

pendant les sauvegardes:
        - sur un 20, cocher une case de la jauge de pression et faire un test de respect.
        - echec, cocher une case de la jauge de pression et faire un test de respect.
        - réussite, temps attente / 2
        - sur un 1, temps attente minimum

Test respect pour réduire le temps de transmission:
        - sur 1-2, baisse niveau repsect, cocher une case de la jauge de pression
        - reussite, temps transmission / 2


<h3>AUTRES DEMANDES</h3>
Détails pages 26-27.

Indentification de place d'immatriculation dans schengen
Indentification de place d'immatriculation hors schengen
Apprendre le point d'entré d'un véhicule ou habitant britannique
Demander infos banquaires
Demander relevés téléphoniques
Demande d'expertise graphologique
Obtenir feu vert pour perquisition












On peut ajouter 6 points dans les sauvegardes (max 16).
Aucune capacitées spéciales
prétirés pages 30-39