<h1>CAPITAINE BREVETÉ AKAHIR</h1>











<h3>Cadres de campagnes</h3>
<h4>oeil, oreille et lame</h4>
En tant que tel groupe, vos missions se concentrent sur la collecte de renseignements et l'accomplissement de tâches secrètes, et sur des combats désespérés lorsqu'il n'y a pas de temps à perdre à attendre les renforts Astartes.

Exemples de missions :
    - Les Orcs ont tendu une embuscade à plusieurs vaisseaux de ravitaillement de l'Astra Militarum ces derniers mois, et le capitaine Akahir suspecte - aussi improbable que cela puisse paraître - un traître au sein du Departmento Munitorum ou de la structure de commandement des Fossoyeurs de Gilead. Découvrez comment les Orcs prédisent les calendriers d'expédition ; les Absolvers font face à suffisamment de batailles sans intervenir pour soutenir les gardes non ravitaillés à travers le système.
    - Jakel Varonius a fait un certain nombre de visites secrètes sur un grand astéroïde à la frontière entre le Bief et le Vide. Découvrez la raison de cela, sans alerter le Rogue Trader de vos intentions ou de l’implication d’Akahir.

Limitations:
        Avoir le mot-clé IMPERIUM.
        Tier 2 ou moins.

Equipement:
        Une perle vox pour chaque personnage.

Bonus:
        +1 dé bonus sur les Jets de Résolution

<h4>Anges de la mort</h4>
En tant qu'agents expérimentés du capitaine Akahir, vous êtes régulièrement envoyés dans des zones de guerre et d'autres lieux mortels pour accomplir des missions que personne d'autre ne peut accomplir.
Que vous soyez un Astartes ou l'un des rares mortels suffisamment habiles pour combattre aux côtés des Space Marines, peu de gens à Gilead sont vos égaux en temps de guerre.
Vos missions sont essentiellement des opérations spéciales, dans lesquelles Akahir vous demande d'accomplir un objectif vital sur le champ de bataille, derrière les lignes ennemies ou dans les environnements les plus mortels de Gilead. 
Vous menez le combat contre les xenos et les traîtres de la Reach et du Voidmire, et renversez le cours des batailles sur les mondes de Gilead.

Exemples de missions :
    - Le temps est venu de purger le Space Hulk Perephone's Regret, et vous devez combattre à l'avant-garde. Attendez-vous à affronter un nombre écrasant d'Orques et de Genestealers. De plus, le temps passé par le Space Hulk dans le Warp l'a sûrement laissé imprégné de corruption ; méfiez-vous des menaces morales et anticipez les guerriers traîtres du Chaos.
    - Une force massive d'Orques a attaqué Ostia, menaçant l'approvisionnement en nourriture de tout le système. Rejoignez la force de frappe des Absolvers ciblant le Warboss qui dirige les Orques. Des rapports non confirmés parlent d'Aeldari combattant les Orques ; comme toujours, sachez que tous les xenos sont vos ennemis.

Limitations:
        Avoir le mot-clé IMPERIUM.
        Tier 3 ou supérieur.

Equipement:
        Tous les personnages recoivent un Point de Munitions avant chaque mission.

Bonus:
        +1 dé bonus pour les attaques sur les monstres.