<h1>ARCHIDOMINE AXEKRA VAKUUL</h1>
Dans le vide de pouvoir laissé par la disparition du Princeps Ultima Gol Bessor, l'Archdomina Axekra Vakuul s'est proclamée régente de tout Avachrus.
Malgré les assurances de Vakuul selon lesquelles elle se retirerait dans le cas improbable du retour de Bessor, cela représentait une augmentation drastique de l'autorité pour quelqu'un qui gouvernait auparavant une seule cité-fonderie.
Vakuul est étonnamment jeune pour un Magos d'une telle influence, n'ayant que quatre siècles d'âge.
Elle est néanmoins extrêmement cybernétique, avec seulement un soupçon de peau desséchée pour trahir ses origines charnelles.
Les TechAdepts, et plus tard les Magos, qui servent sous ses ordres sont familiers avec sa maxime motrice : « Forgez toujours. »
Certains Magos Dominus se demandent discrètement si le simple fait de régner sur tout Avachrus et ses satellites est suffisant pour rassasier Vakuul.
Sans perspective d’obtenir des matières premières et des ressources au-delà du système, Vakuul a pris des mesures pour renforcer l’emprise de l’Adeptus Mechanicus (et la sienne) sur les ressources de Gilead.
Elle a silencieusement renforcé le nombre de Techno-Prêtres qui entretiennent les fonderies et les équipements miniers des lunes de Gilead, Anval et Skaelas, tout en « proposant » de prendre en charge l’administration des deux satellites.
Vakuul reconnaît l’influence de Jakel Varonius dans le système.
Peut-être plus important encore, elle voit que la Dynastie Varonius pourrait représenter la meilleure chance du système de rétablir le contact avec l’Imperium.
Cependant, l’Archdomina est bien trop logique pour compter sur la loyauté d’un Marchand rebelle pour assurer son avenir.
En conséquence, elle a commencé à enquêter secrètement sur les activités de Jekal et l’histoire de la dynastie Varonius.
Pour gagner les faveurs de Varonius, Vakuul fait semblant de fournir toutes les ressources technologiques ou l’expertise dont il a besoin, tout en demandant peu en retour.
C’est, dit-elle, pour le bien du système.
En particulier, l’Archdomina a volontiers fourni des Techno-Prêtres et des serviteurs dans le cadre des ouvertures de Varonius au Haut Roi de Nethreus.
Cela sert tout aussi bien les intérêts de Vakuul ; il est tout à fait normal de favoriser l’alliance entre Avachrus et les pilotes de ces machines de guerre sacrées connues sous le nom de Chevaliers.
En l’absence de la Legio Karuthos, les Chevaliers pourraient combler une lacune importante dans les forces de l’Adeptus Mechanicus en cas de conflit ouvert avec des ennemis de l’extérieur du système – ou de l’intérieur.
Grâce à ses yeux et à ses oreilles à travers le système, l'Archdomina n'a pas échappé à l'attention que ces temps-ci mettent à l'épreuve la foi de nombreux citoyens impériaux, et elle voit là une opportunité.
Alors que les Prêtres du Ministorum louent les conseils divins de l'Empereur pour avoir amené la Flottille Varonius en toute sécurité à Gilead, Vakuul pointe une présence divine plus tangible : les moteurs Warp et les Champs Geller qui ont livré les puissants vaisseaux.
L'Adeptus Mechanicus est réputé pour son insularité et son secret.
Il fournit ses propres soldats, machines de guerre, guides spirituels et expertise.
Depuis l'époque de Noctis Aeterna, Vakuul s'appuie de plus en plus sur une variété de serviteurs et de mercenaires extérieurs à Avachrus, ou extérieurs au Mechanicus, pour atteindre ses objectifs.
Les agents de Vakuul entreprennent souvent des missions pour lesquelles elle ne peut pas compter sur les escouades de skitarii ou d’autres forces officiellement approuvées de l’Adeptus Mechanicus.
Cela peut être pour éviter un conflit avec d’autres organisations impériales ou même pour éviter l’examen minutieux de ses collègues Magii.
Pour les missions qui ne nécessitent pas de telles mesures clandestines, Vakuul préfère s’appuyer sur des agents de l’Adeptus Mechanicus éprouvés et de confiance.
Cependant, elle est ouverte aux « opérations conjointes » avec d’autres agents impériaux, en particulier lorsqu’elle peut être certaine de leur loyauté.


<h3>Cadres de campagnes</h3>
<h4>Mécanismes d'évangélisme</h4>
Vous êtes une équipe hétéroclite d'origines disparates, que l'Archdomina Vakuul emploie pour atteindre des objectifs clandestins.

Exemples de missions:
        - L'archidiacre Merramar Clade s'appuie sur une tribune antigrav et un réseau de porte-voix pour délivrer ses sermons aux fidèles d'Enoch. Pour rappeler au diocèse et aux masses leur dépendance envers les dons de l'Omnissiah, assurez-vous que les esprits mécaniques de ces systèmes refusent de fournir leurs services lors du prochain jour saint connu sous le nom de Délivrance.
        - Gagnez l'estime et la confiance de l'inquisiteur Tytrona Dikaisune afin qu'elle vous intègre dans son organisation. Il est impératif qu'Archdomina Vakuul soit au courant des agissements de l'inquisiteur dans le système, et qu'ils ne menacent pas les intérêts d'Avachrus.

Limitations:
        Ne doit pas avoir le mot-clé AELDARI ou ORK.

Equipement:
        Un servo-crâne pour le groupe.

Bonus:
        +1 dé bonus sur les Tests Persuasion contre les personnages avec le mot-clé IMPERIUM.


<h4>Marteau et/ou enclume</h4>
Sélectionnés pour votre ténacité et votre efficacité impitoyable, vous êtes une équipe de guerriers cybernétiques et de spécialistes chargés de faire respecter la volonté de l'Omnissiah.
Vos missions peuvent vous emmener dans un territoire hostile pour récupérer l'archéotechnologie des profondeurs du space hulk Persephone's Regret ou pour rendre justice à une cabale heretek du Voidmire.

Exemples de mission:
        - Des scans Auspex du Space Hulk Persephone's Regret ont été réalisés pour le compte des Absolvers dans le cadre de leur mission de purge d'une infestation de xenos. Les scans ont révélé un vaisseau de l'Âge sombre de la Technologie étroitement lié au Hulk. Infiltrez-la tout en évitant la purge des Astartes et en éliminant tous les xenos qui se dressent sur votre chemin, et récupérez toute archéotechnologie restante intacte.
        - Les soi-disant Gardiens des Moissons d'Ostie ont commencé à s'enchaîner à des batteuses et à d'autres machines, et même à saboter ces outils fournis par l'Omnimessie. Rappelez à ces hérétiques, et à leur chef, le Forgeron des Moissons, de faire preuve de révérence.

Limitations:
        Avoir le mot-clé ADEPTUS MECHANICUS.

Equipement:
        Un serviteur de combat pour le groupe.

Bonus:
        +2 dés bonus sur les Tests d'Influence pour réquisitionné de l'équipement au Mechanicus.