<h1>MAÎTRE ESHGAR QUINTUS LORAE</h1>









<h3>Cadres de campagnes</h3>
<h4>Papier Punisseurs</h4>
Maître Lorae vous a désigné comme auditeurs extrémistes, chargés de découvrir l'hérésie bureaucratique au sein du Sortium et habilités à traiter les auteurs comme bon vous semble.
Il s'attend à ce que vous agissiez avec discrétion afin de ne pas provoquer de perturbations excessives dans les rangs de l'Administratum.
Vous pouvez même opérer sous couverture, assumant (ou continuant) un rôle au sein de la bureaucratie du Sortium.

Exemples de missions:
        - La forme non standard G-33adelta Version XIII, longtemps interdite, est mystérieusement réapparue en circulation. Plusieurs scribes ont déjà été rendus fous par ses instructions de classement paradoxales. Trouvez l'hérétique responsable et éliminez-le.
        - Maître Lorae a noté une augmentation des dépenses pour le matériel d'office commun : plumes d'autographe, encre, parchemin, classeurs de parchemin, etc. Il soupçonne qu'un ou plusieurs Adeptes soient impliqués dans le vol et la vente de biens de l'Administratum. Cela s'apparente à un vol de la main de l'Empereur lui-même, et justifie l'exécution si vous découvrez les coupables.

Limitations:
        Avoir le mot-clé ADEPTUS ADMINISTRATUM.

Equipement:
        Un symbol d'autorité avec le mot-clé ADEPTUS ADMINISTRATUM pour tous les personnages.

Bonus
        +1 dé bonus sur les Tests Erudit relatif à l'Administratum ou la bureaucratie.
        Tous les personnages ont le mot-clé ADEPTUS ADMINISTRATUM.


<h4>Dépanneurs</h4>
Vous entreprenez une variété de missions à la demande de Maître Lorae, qui peuvent vous emmener n'importe où sur Ostia et au-delà.
Cela peut signifier recueillir des informations sur un Adepte rival de Sortium ou payer un tribut à un Magos d'Avachrus.

Exemples de missions:
        - Vous devez effectuer un test imprévu et non annoncé des défenses de la Couronne de Lames. Un vaisseau de patrouille du système non marqué et lourdement blindé sera mis à votre disposition. Bien sûr, pour garantir la validité du test, vous ne devez rien retenir dans votre tentative de percer le périmètre. Les équipages de défense ne le feront certainement pas !
        - Infiltrez une communauté sous l'emprise des Gardiens de la Moisson et retournez-les contre les idéaux hérétiques du soi-disant Harvest Smith.

Limitations:
        Avoir le mot-clé IMPERIUM.

Equipement:
        Une plume automatique aiguisée avec un réservoir de toxine mortelle.

Bonus:
        +1 dé bonus sur les Tests d'Influence pour de la réquisition de matériel à l'Administratum.