<h1>LE LIBRE MARCHAND JAKEL VARONIUS</h1>
Il est né dans l'espace, dans son navire amirale actuel le Ducal Circlet.
Il à dans les 140 ans mais en fait 30 avec les traitements de rajeunissement.
Il porte un manteau de la marine, une culotte et des bottes de couleurs gris sable et bleu de la dynastie Varonius.

Depuis sont premier passage dans le detroit d'Andraste, il s'est rapidement rassemblé une coallition d'alliés.
Au début unis par leurs volonté de survivre à la Grande Faille et à ses menaces puis par l'autorité et le charisme de Jakel.
Il apporte avec lui le message d'un Imperium qui subsiste au-delà de la Cicatrix Maledictum.

Certains membres les plus dévots des factions de l'impérium n'aime pas sa décission de travailler avec des Aeldari, si ils avaient connaissance qu'il avait employer des mercenaire de Da Blood Axes par désespoir, ils l'élimineraient sans détour.
Les agents de Varonius sont fréquement appelé pour traiter des evenements inhabituel et des cas de disparitions.
Tous les mondes du noyaux ont accepter la présence de la flotte contre une protection mais dans les faits certains resistent ou n'aprécient pas leurs présence.
Chacun de ses groupe est accompagné d'un agent d'autorité impériale.
Ayant peur de l'Inquisition, il communique fréquement avec l'inquisitrice en chef pour lui faire part de choses qui sont susceptible de l'intéresser.

Les agents de Varonius sont sencés être discrets mais si ils doivent faire tomber des têtes pour accomplir leurs missions, il ne dirat rien.
Toutefois, si ce sont des personnes puissantes qui tombent, il vaut mieux pour eux d'avoir de très bon arguments ou des preuves de trahisont infaibles.
Il est extrement généreux avec les agents éfficacent.




<h3>CADRES DE CAMPAGNES</h3>
<h4>La garde Varonius</h4>
Résumé:
        Volontaires, mercrenaires ou conscrits de la flotte Varonius, vous êtes une force discrète de résolution de problème.
        En général, vous êtes envoyer en marge du système pour trouver des alliés ou des ressources mais pouvez aussi être envoyer sur les mondes du noyaux quand une situation dépasses les compétences des autorités locales.

Limitations:
        Tous les perso avec le mot-clé IMPERIUM, un mercenaire Aeldari mais dans ce cas là il faut de la discretion.

Equipement:
        Un Kit Periculum et un Symbole d'Autorité pour qu'il puisse être identifié comme agent de la flotte Varionus.

Bonus:
        +1 dé bonus sur les Tests d'Influence pour une Demande d'Equipement à la flotte Varonius.


<h4>Les sacrifiables</h4>
Âmes déséspérées luttant pour une cause déséspérée.
La flotte Varonius vous à employer pour faire le sale boulot.
Varonius peut nier plausiblement toutes connaissance des agissements de votre groupe ou grenades Frag télécommandé dans vos membres.

Limitations:
        Aucune, si vous pouvez être utile à Varonius, vous êtes recruté.

Equipement:
        Arme prothétique de grenade Frag (détonateur à distance contrôlé par Varonius).

Bonus:
        +1 dé bonus sur Tests Duperie contre les personnages avec le mot-clé IMPERIUM.