<h1>CANOINESSE JEANNE GRACE D’EMYSA</h1>





























<h3>Cadres de campagnes</h3>
<h4>Serviteurs laïcs</h4>
Elle vous fait confiance pour accomplir une variété de missions qui ne relèvent pas des devoirs militants de l’Ordre du Bouclier Sanctifié.
Vos tâches comprennent la collecte d’informations, l’éradication de l’apostasie dans les rangs de l’Adeptus Terra et le renforcement de la foi des innombrables citoyens de Gilead, du plus humble hilote aux nobles seigneurs et dames du système.
La chanoinesse s’intéresse particulièrement à la vérification et à la documentation des prétendus miracles de Gilead.
Il faut montrer au peuple de l’Empereur qu’il est toujours avec eux !

Exemples de missions :
    - Enquêter sur les rumeurs de gloutonnerie, de paresse et de pratiques encore plus pécheresses parmi les principaux prêtres de Theocropolis Extol. Utilisez le secret et la discrétion, car vous ne recevrez aucun soutien manifeste, et surtout pas de violence.
    - Une ouvrière de Gilead Primus, aveuglée par un accident industriel, prétend que la lumière de l'Empereur lui permet de voir. Gagnez les faveurs de cette prophétesse en puissance et déterminez si ses affirmations sont authentiques, un canular ou même une ruse des Dieux Sombres.

Limitations:
        Avoir le mot-clé IMPERIUM.

Equipement:
        Un sceau de pureté pour chauque personnage.

Bonus:
        +1 dé bonus sur les Tests de Résolution.

<h4>Guerriers sacrés</h4>
Que vous soyez un soldat de l’Adepta Sororitas, un prêcheur de guerre du Ministorum ou un volontaire pieux, la chanoinesse d’Emysa compte sur vous pour combattre les ennemis de l’Empereur où qu’ils se montrent.
Vous pouvez plonger dans les profondeurs des cités-ruches de Gilead Primus pour purger des bandes de mutants rebelles, ou vous lancer dans la Reach pour détruire des enclaves xenos.
Si vous impressionnez vraiment la chanoinesse par vos actes, elle pourrait même vous envoyer combattre les traîtres hérétiques Astartes qui rôdent dans le Vide.


Exemples de missions :
    - L'impensable s'est produit : les prisonniers de la prison psyker Ironwatch ont brisé leurs chaînes. Seuls les plus bénis et les plus fidèles des guerriers de l'Empereur peuvent espérer l'emporter contre de telles hordes de sorciers déchaînés.
    - Les tensions entre les forces de sécurité d'Astra Militarum et les pèlerins affamés du campement connu sous le nom de Mercytown ont atteint leur paroxysme, et il semble qu'un massacre soit imminent. Désamorcez la situation ou, à défaut, déterminez qui sont les fidèles et protégez-les.

Limitations:
        Avoir le mot-clé ADEPTUS MINISTORUM.
        Tier 3 ou supérieur.

Equipement:
        Un symbole d'autorité avec le mot-clé ADEPTUS MINISTORUM.

Bonus:
        +1 dé bonus sur les Tests de Corruption.