<h1>FARSEER LANRIEL TARANLY</h1>
Grand, gracieux et doté d'une beauté éthérée.
L'ensemble de ses traits est en permanence une démonstration de détermination et de mélancolie, et sa tête est nue à l'exception d'une seule longue tresse.
Taranlys est normalement vêtu d'une armure runique de couleur orange d'Ul-Khari.
En tant que Prophète prééminent d'Ul-Khari, Taranlys estime qu'il a échoué envers le Vaisseau-Monde en ne prédisant pas l'émergence de Trollius.
Ses amis et alliés les plus fidèles supposent que Taranlys se sent responsable de cette situation tragique qui frappe le Vaisseau-Monde Bien que Taranlys ait le respect et l’estime de tous Ul-Khari, des tensions subsistent au sein du Vaisseau-Monde en raison de sa décision de s’allier à Jakel Varonius.
Les Farseers et les Warlocks du Conseil des Voyants ne soutenaient pas tous cet acte, et parmi les citoyens guerriers du Vaisseau-Monde, il y a beaucoup de consternation et de confusion concernant l'alliance.
Ul-Khari s'est isolé de la galaxie depuis de nombreux siècles, et s'adapter à la nouvelle situation est difficile malgré ces pratiques bien ancrées.
Taranlys maintient qu'elle est nécessaire pour le bien du Vaisseau-Monde, même s'il déconseille aux Asuryani de faire confiance à aucun Mon-Keigh.
En fin de compte, l'alliance est un simple pragmatisme ; bien qu'elle rompe avec la tradition, le Vaisseau-Monde est piégé au même endroit pour la première fois de son histoire.
En dehors de la dynastie Varonius, les relations entre Ul-Khari et les Impériaux de Gilead sont quasiment inexistantes.
Avec les Orques et les adorateurs du Chaos de la région, il n'y a qu'une hostilité ouverte.
Taranlys a trouvé un allié dévoué en Ferianwyr Greensteel, grâce à son serment de protéger le Vaisseau-Monde.
En dehors de cela, le Vaisseau-Monde semble n'avoir que des ennemis autour de lui dans son état de prison.
Par conséquent, Taranlys est ouvert à envisager de l'aide de n'importe où, s'il est certain de pouvoir faire confiance - ou utiliser - ceux qui l'offrent.
Des rumeurs persistent selon lesquelles il aurait même envisagé de travailler avec les Drukhari, bien que ce serait une grande indiscrétion de le mentionner en sa présence.
La nature inhabituelle de la situation du Vaisseau-Monde donne lieu à des nécessités inhabituelles, et un groupe d'agents au service du Farseer pourrait être constitué d'Aeldari de plusieurs Factions, et même d'Humains.
Le Prophète Taranlys a particulièrement besoin des humains pour découvrir les secrets de Trollius.
La résonance émotionnelle dans la glace réagit de manière unique à la présence de Mon-Keigh, et Taranlys pense que cela doit détenir la clé pour surmonter l'environnement hostile et libérer le vaisseau-monde.
Pour ces raisons, Taranlys emploie les services d’agents humains au sein de la société impériale.
Certains ne savent pas qui ils servent, supposant peut-être que leur véritable employeur est un seigneur du crime, un rebelle ou même un inquisiteur.
Les agents inconscients reçoivent leurs instructions par l’intermédiaire de Rangers circonspects qui dissimulent leurs traits extraterrestres sous une tenue lourde et des décennies de pratique passant inaperçus parmi l’humanité.
Ceux qui servent volontairement un xenos peuvent recevoir des visions psychiques, des tablettes de pierre spectrale via un drop mort et, très rarement, rencontrer le Long-voyant lui-même dans un endroit isolé.


<h3>Cadres de campagnes</h3>
<h4>Pions et Cavaliers</h4>
Vos missions impliquent souvent l'espionnage ou le sabotage de factions et d'installations impériales, dans le but de protéger le vaisseau-monde et ses intérêts.
Les visions du Farseer Taranlys s'étendent sur de vastes gouffres d'espace et de temps, et les raisons de vos missions sont donc rarement claires.

Exemples de missions :
    - Saboter les installations impériales et semer la discorde sur Ostia. S'il s'agit d'un Vaisseau-Monde vierge, le temps viendra bientôt de le reconquérir.
    - Taranlys a prévu que l'officier de l'Astra Militarum connu sous le nom de Colonel Felden représenterait une menace pour le Vaisseau-Monde dans un futur proche. Veillez à ce que son attention soit tournée ailleurs ou éliminez-le.

Limitations:
        Ne pas avoir le mot-clé CHAOS ou ORK.

Equipement:
        Rien.

Bonus:
        +1 dé bonus sur les Tests Aperçu.

<h4>Tours et Fous</h4>
Les missions importantes pour assurer l’avenir d’Ul-Khari ne peuvent être confiées qu’aux Aeldari.
Celles-ci incluent souvent le sabotage d’installations impériales à des fins stratégiques à long terme, et tout aussi souvent l’attaque des serviteurs du Chaos pour des avantages plus directs.
Votre directive primordiale est de défendre le Vaisseau-Monde à tout prix, et Taranlys s’attend à ce que vous le fassiez même dans le cas rare où il n’aurait pas prévu la menace que vous découvrez.

Exemples de missions :
    - Les orques du clan Evil Sunz ont commencé à convertir un grand astéroïde du Bief en un « Rok » qui, s'il est achevé, constituera un jour une grande menace pour Ul-Khari. Frayez-vous un chemin jusqu'à son cœur et sabotez les réacteurs bruts afin de le détruire entièrement et de vous assurer que le Big Mek responsable ne survive pas.
    - Les pillards Mon-Keigh sous la direction de Rogue Trader Varonius espèrent tirer profit de la tragédie du vaisseau-monde. Interceptez les pillards et assurez-vous qu'ils ne s'approprient pas le moindre éclat de Wraithbone.

Limitations:
        Avoir le mot-clé AELDARI.

Equipement:
        Un équipement rare d'Ealdari.

Bonus:
        +2 dé bonus sur Tests Résolution quand on défend le vaisseau-monde Ul-Khari.