<h1>FERIANWYR, LA PRINCESSE D'EMRAUDE</h1>
Elle et sa Coterie sont arrivées à Gilead il y a des décennies, et sont restées après la naissance de la Cicatrix Maledictum, bien qu'elles puissent partir à tout moment par les chemins de la Toile qu'elles connaissent bien.
Bien que la Marine Impériale et les intérêts maritimes de Gilead craignent son nom depuis des générations, toute cette expérience n'a été qu'une aventure dans la vie des Aeldari.
Ferianwyr est un peu petite pour une Aeldari, bien qu'elle soit au-dessus de la plupart des humains.
Ses longs cheveux noirs sont souvent tirés en arrière et contrastent avec sa peau pâle.
Ses grands yeux sont expressifs, bien que la plupart des humains auraient du mal à dépasser leur immobilité blanche.
Ferianwyr a juré de protéger le vaisseau-monde Ul-Khari, un objectif facilement concevable par les Aeldari et les humains.
Les humains et les autres extraterrestres qui menacent le vaisseau-monde ne peuvent s'attendre à ni pitié ni pitié de la part des Guerriers d'Acier Vert.
Rien ne résiste à l'habileté au maniement de la lame et à la précision à bout portant des Corsaires, et Ferianwyr est de loin le meilleur.
Bien que cruelle et insensible selon les normes humaines, Ferianwyr traite bien son équipage et impose leur respect.
Elle a son propre genre d'honneur, bien qu'il soit presque indéchiffrable pour un esprit humain.
La Princesse d'Émeraude accueille les Aeldari de toute origine pour la rejoindre.
Même ceux qui ne veulent pas renoncer à leur allégeance actuelle sont les bienvenus et elle accepte volontiers leur aide dans la piraterie ou pour des tâches plus inhabituelles.
Les humains, cependant, ne sont pour elle que des animaux qui ne servent qu'à l'amuser.
Les alliances et les trêves, comme avec Jakel Varonius, sont transitoires.
Elle peut suggérer une cible de choix pour la piraterie lorsqu'elle est occupée à défendre le monde-vaisseau Ul-Khari.
Inversement, si une cible est tout simplement trop tentante pour que Ferianwyr y résiste, elle peut demander à des agents fiables de garder un œil sur les choses sur Trollius.
Sur la base des informations qu'elle apprend au cours de ses efforts, la Princesse Corsaire charge ses agents de traquer et de détruire les adeptes du Chaos, en particulier les adeptes de Celle qui a soif.
D'autres missions incluent le sabotage des défenses impériales, la reconnaissance de cibles potentielles et la préparation des bases de la piraterie future.
En plus des récompenses discrètes, la Princesse d’Émeraude permet à ses agents de conserver la plupart des butins de leurs propres missions. 
Bien sûr, elle s’attend à un hommage approprié en reconnaissance de son autorité.


<h3>Cadres de campagnes</h3>
<h4>Les Anciens</h4>
Vos missions impliquent souvent de combattre aux côtés de Ferianwyr, et vous êtes effectivement un Guerrier d'Acier Vert honoraire même si votre première allégeance est à votre Vaisseau-Monde, à la Cabale ou autre.
En plus des actions d'abordage et des batailles du Vide, Ferianwyr compte sur vous pour découvrir ou attaquer les bastions du Chaos dans le Vide-Miroir.
Vos missions peuvent être dangereuses, mais la Princesse d'Émeraude vous respecte et vous apprécie suffisamment pour vous fournir toutes les informations possibles, et même les outils dont vous avez besoin pour vous préparer.

Exemples de missions :
    - Sur la lune d'Imperia de Gilead Primus, un groupe de noblesse humaine se livre à un culte de Celle qui a soif. Puisque les Mon-Keigh n'ont pas gardé leur propre maison propre, vous allez montrer comment les Guerriers d'Acier Vert traitent ceux qui voudraient venir en aide à notre Grand Ennemi. Bien sûr, tuez tous les autres Humains qui se mettent en travers de votre chemin.
    - Le temps approche (est-ce que cela fait vraiment déjà un siècle ?) pour le Cirque d'Acier, cet événement au cours duquel les Guerriers d'Acier Vert s'affrontent pour prouver qui est le meilleur maître d'épée - autre que Ferianwyr elle-même. La Princesse d'Émeraude vous invite à combattre avec sa faveur, et refuser un tel honneur serait impensable.

Limitations:
        Avoir le mot-clé AEDLARI.

Equipement:
        Une épée Aeldari incrustée de gemmes pour chaque personnage.

Bonus:
        +1 dé bonus sur Tests Atheltic en zero gravitée.

<h4>Un équipage hétéroclite</h4>
Peut-être êtes-vous le seul survivant d'un vaisseau tombé aux mains des Guerriers de Greensteel, vous avez résisté à un assaut du Chaos ou vous avez simplement dit les bonnes choses à un mystérieux inconnu dans un point d'eau d'un port vide.
Votre groupe diversifié exécute des tâches indépendamment du gros de la flotte Corsair.
Les missions sont souvent assez bizarres et les raisons qui les motivent peu claires.
Parfois, elles semblent presque conçues pour tester vos capacités et vos limites plutôt que pour apporter un réel bénéfice aux Guerriers de Greensteel.

Exemples de missions :
    - Le capitaine humain Jakel Varonius n'a pas montré le respect approprié à la princesse d'émeraude. Laissez ce poignard en acier vert sur son oreiller en guise de « cadeau », pour lui rappeler la générosité de Ferianwyr. Faites ce qu'il faut pour réussir, mais ne faites pas de mal à Varonius.
    - Ce soldat du navire marchand Beneficent Tide s'est suffisamment battu pour impressionner Ferianwyr — et est mort vaillamment. Remettez son corps à sa famille, qui qu'elle soit et où qu'elle soit, en signe de miséricorde de la Princesse d'Émeraude.

Limitations:
        Ne pas avoir le mot-clé CHAOS.

Equipement:
        Rien.

Bonus:
        +1 dé bonus sur Tests Conscience dans un espace clos.