<h1>SEIGNEUR DU CHAOS MALOQUENCE</h1>
Fortement modifié par les Dons des Dieux et vêtu d'une armure de puissance antique et baroque, l'Apôtre Noir connu sous le nom de Maloquence est tenu en admiration par les renégats humains du Vide et craintif par ses compagnons Marines Traîtres.
Le but ultime de Maloquence n'est rien de moins que la destruction totale de l'ordre impérial au sein de Gilead.
Il ne se reposera pas tant que tous les humains du système n'auront pas chanté les louanges des Dieux du Chaos ou ne seront pas morts.
L'Apôtre Noir dirige la bande de guerre connue sous le nom de The Faithful Writ.
Cette bande de guerre du Chaos, d'une taille désolante, semble être composée de membres originaires des Word Bearers, mais comprend sans aucun doute des transfuges d'autres Légions traîtresses ou pire, des membres renégats de chapitres officiellement loyaux.
Un grand nombre de Marines du Chaos de la bande de guerre sont possédés par des démons, en grande partie grâce au don de Maloquence pour invoquer les habitants du Warp.
Ce don et le nombre de Possédés au sein de The Faithful Writ ont considérablement augmenté depuis l'ouverture de la Grande Faille.
Les démons de toutes sortes répondent volontiers à l'invocation de Maloquence et pénètrent facilement dans le corps des personnes qui le souhaitent, parcourant les mondes de Gilead jusqu'à ce que leur hôte physique soit détruit.
Il méprise les Aeldari faibles et décadents et considère leur destruction comme un moyen idéal d'accroître ses faveurs auprès du Prince Noir.
Il n'a pas montré beaucoup de surprise au sort du vaisseau-monde Ul-Khari et s'est donné pour mission personnelle d'arracher les âmes de son Circuit d'Infinité.
Les Astartes hérétiques sont puissants, mais Maloquence voit une grande utilité à cultiver des adeptes mortels à travers le système.
Il est peu pratique pour un être de sa sombre magnificence de visiter les mondes impériaux sans raison valable, donc les instructions sont souvent transmises par une chaîne d'intermédiaires, reçues dans des rêves et des visions, ou par d'autres moyens ésotériques.
Les détails des tâches, ainsi que les personnalités des intermédiaires qui fournissent les instructions, donnent l'impression de simplement commettre des actes illicites pour un cartel criminel ordinaire.
Seuls les agents les plus favorisés voient de première main la solidité de l'Écrit Fidèle, caché dans un astéroïde au plus profond du Reach.
Jusqu'à présent, les hereteks de Maloquence ont sécurisé l'utilisation de la plateforme de téléportation et de ses appareils enfants dispersés dans tout le système.
C'est une énorme aubaine pour la bande de guerre, lui permettant de frapper au plus profond du cœur de Gilead. S'ils découvrent d'autres secrets archéotechnologiques, cela pourrait sonner le glas du système.


<h3>Cadres de campagnes</h3>
<h4>Perdus et damnés</h4>
Maloquence encourage la création de nombreux clans, cellules et cabales à travers le système afin d'étendre son influence.
Ces derniers se composent de véritables dévots, de maniaques utiles et de toute autre personne à qui l'on peut faire confiance pour faire avancer les objectifs de l'Écriture fidèle sans scrupules ni remords.
Les missions typiques comprennent le sabotage des organisations impériales, la mise en place des rituels d'invocation et la collecte d'informations sur les principales cibles de la bande de guerre.
Beaucoup de ces missions sont une condamnation à mort virtuelle, mais ceux qui défient la mort ont certainement la faveur des Dieux Sombres.

Exemples de missions :
    - Assassinez le sous-préfet Kels Morchid de l'Adeptus Administratum sur Gilead Primus et ramenez une fiole de son sang. N'osez pas demander pourquoi.
    - Rendez-vous à Gilead Primaris et infiltrez la cité-ruche de Ramoth. À chacun des quatre points cardinaux de la ruche, inscrivez un glyphe d'invocation rituelle. Puis voyagez jusqu'au centre de la ruche et effectuez le rituel pour invoquer nos alliés du Warp.

Limitations:
        Aucun, Maloquence peut utiliser n'importe qui pour son dieu sombre.

Equipement:
        Rien, fait avec ce que t'as pour prouverta valeur.

Bonus:
        +1 dé bonus sur Tests Tromperie pour dissimuler votre hérésie aux impériaux.

<h4>Esclaves des Ténèbres</h4>
Que vous soyez Astartes, mortel ou muté au-delà de toute définition, vous avez prouvé que vous êtes un véritable ennemi de l'Imperium et un vassal dévoué du Chaos.
Maloquence vous charge souvent d'agir comme l'avant-garde de l'Écrit Fidèle, en nettoyant les zones d'atterrissage, en assassinant les principales cibles et en préparant la voie à un assaut complet.
À d'autres moments, vous combattez à ses côtés au cœur de la bataille, que ce soit sur les mondes impériaux de Gilead ou contre d'autres traîtres du Vide, afin de prouver la suprématie de l'Écrit Fidèle.

Exemples de missions :
    - Le soi-disant clade de l'archidiacre Merramar dirige l'église de l'Empereur-cadavre dans ce système. Jetez son cadavre du haut de la plus haute flèche d'Enoch pour montrer à ces imbéciles que leur empereur mort n'offre aucune protection.
    - Une arme ancienne d'une grande puissance, connue sous le nom de Soul Lance, se trouve dans les coffres d'Avachrus. Récupérez-la pour votre maître et massacrez tous les TechPriests idiots qui s'opposent à vous.

Limitations:
        Ne pas avoir le mot-clé AELDARI ou ORK.
        Tier 3 ou supérieur.

Equipement:
        Une icône de l'étoile à huit branches, martelée à partir de métal corrodé ou façonnée à partir d'os humains.

Bonus:
        +1 dé bonus sur Tests Corruption 