<h1>ARCHIDIACRE MERRAMAR CLADE</h1>
L'Achdiacre Merramar Clade a dirigé le Synode Enochien et a donc été le chef spirituel prééminent de tout Gilead pendant plus de cinq décennies.
Adoucie par une longue vie de luxe et les traitements Rejuvenat qui l'ont prolongée, la voix profonde et résonnante de Clade porte en elle tout le poids et la splendeur de l'Ecclésiarque.
Il a obtenu son rang non seulement par la foi, mais aussi par la résilience et la ruse.
La relation entre l'Adeptus Ministorum et l'Adeptus Astartes est souvent tendue, mais le sanctuaire de Tygranus Dalir offre un terrain sacré commun au Synode Enochien et au Chapitre des Absolvers.
À l'époque actuelle, Clade donne plus que jamais la priorité à cette relation, car il sait que les temples d'Enoch sont des cibles tentantes pour les traîtres et les hérétiques qui se rassemblent dans le Reach, et qui surgissent même des enfers fétides du système.
Ses discours publics, diffusés en toute sécurité depuis l'intérieur de la basilique, exhortent les masses à faire face à leur souffrance stoïquement, car les défis actuels ne sont qu'un test fixé par l'empereur.
Alors que les conditions se détériorent sur Enoch, il devient de plus en plus implacable dans ses appels à mépriser les faibles et les infidèles.
Clade a longtemps eu besoin des talents d'agents compétents, dignes de confiance et discrets, mais depuis l'émergence de Cicatrix Maledictum, ce besoin est plus grand que jamais.
Certains agents servent Clade depuis des années, et leur travail marque de manière invisible l'ascension de sa carrière.
Pour de tellesmissions regrettables, Clade tolère la racaille de l'Imperium, même, à l'occasion, un scavvy qui montre le remords et le dégoût appropriés pour son existence pécheresse.
Les croisés, les Adepta Sororitas et autres guerriers pieux — même une poignée d’Adeptus Astartes quelque peu mal à l’aise — sont chargés de défendre les  fonctionnaires ou les domaines du Ministorum à travers le système, ou de faire connaître au public des exemples d’hérétiques et de traîtres.
En particulier, l'archidiacre craint que les Techno-Prêtres d'Avachrus profitent des troubles et de l'incertitude qui règnent à Gilead pour saper la foi dans le Ministorum et perturber l'équilibre délicat des pouvoirs qui existe entre les deux Adeptus depuis tant de millénaires.


<h3>CADRES DE CAMPAGNES</h3>
<h4>Outils pécheurs</h4>
Quand l'archidiacre ne veux pas faire souillez les serviteurs du Ministorum et ses alliés, il fait appel à des groupes.
Vous allez là où les Croisés étincelants et les prédicateurs tonitruants ne peuvent pas aller.
Clade attend de vous que vous montriez des remords pour vos péchés, considérant vos missions comme une pénitence.
Si vous êtes capturé par les autorités impériales ou les ennemis de l'humanité, vous êtes censé mourir pour l'empereur avant de révéler les secrets de l'archidiacre.

Exemples de missions:
        - Gagnez le respect et la loyauté du culte reclus de la pluie sanguine en participant à leurs rites macabres.
        - La bio-forge Avachran de Corex n'a pas livré les chérubins annuels promis par un ancien pacte. Découvrez ce qu'ils fabriquent à la place et détruisez-le.

Limitations:
        Ne doit pas avoir le mot-clé ADEPTUS MECHANICUS, XENOS ou CHAOS.
        Tier 2 ou moins.

Equipement:
        Une hostie de prière imprégnée de poison.

Bonus:
        Augmente la Détermination de +1.



<h4>Des exemples bénis</h4>
Vous parcourez les système en appliquant les diktats de l'Ecclésiarchie et en punissant les ennemis de l'Empereur.
Quand vous percevez un blasphème, vous avez la bénédiction de l'Archidiacre pour le dénoncer et le punir.

Exemples de missions:
        - Les délires blasphématoires d'une personne connue sous le nom de « la Voix » agitent les résidents d'un des campements temporaires d'Enoch. Débusquez cet hérétique et traînez-le sur le bûcher.
        - Les masses ont besoin d'une démonstration de la puissance impériale pour renouveler leur foi. Rendez-vous à la Reach et rapportez le casque de l'Hérétique pirate Astartes appelé Athrakesh l'Éventreur.

Limitations:
        Avoir le mot-clé IMPERIUM et ne doit pas avoir le mot-clé SCUM.
        Minimum Tier 2.

Equipement:
        Un chérubin ou un porte-parole pour le groupe.

Bonus:
        +1 dé bonus sur les Tests Persuasion contre les personnages avec le mot-clé IMPERIUM si ils n'ont pas ADEPTUS MECHANICUS ou ADEPTUS ASTARTES.