<h1>NOVATEUR OCTAVIA OMINCARA</h1>







<h4>Cadres de campagnes</h4>
<h3>En pleine vue</h3>
Vos missions vous emmènent souvent aux périphéries du système, alors que les navigateurs commencent la tâche longue, ardue et dangereuse tâche d'étudier la Grande Faille ou de tenter de cartographier le Détroit d'Andrasté.
Votre réputation personnelle est aussi importante que votre travail, car chacune de vos actions se reflète sur la Nobilite du Navis.

Exemples de missions :
        - Pour une question d'honneur, Argo Omincara a défié Caliope Taliandru à la pratique la plus rare et ancienne du duel de navigateur. Protégez Argo avant le duel et assurez-vous que le duplice Taliandru n'essaie pas d'obtenir un avantage injuste.
        - Les Magos d'Avachrus ont fourni à la Maison Omincara l'utilisation d'un vaisseau de surveillance, possédé d'instruments rares et anciens pour surveiller le flux du Warp. Accompagnez et protégez Hera Omincara alors qu'elle sonde le détroit d'Andrasté.

Limitations:
        Avoir le mot-clé IMPERIUM.

Equipement:
        Un objet rare par personnage (l'objet doit être quelque chose porté ouvertement et visiblement).

Bonus:
        Tous les personnages ont NAVIS NOBILITE comme mot-clé.

<h3>Troisième œil, Aveugle</h3>
Invisible et inavouable, vous accomplissez les tâches qui souilleraient les mains des Navigateurs Omincara et scandaliseraient le système.
L'espionnage, le sabotage et le travail de forçat sont votre métier, et vos cibles vont des sommets de la société impériale aux hérétiques du Vide-mire.
Vous êtes aussi susceptible de voler des secrets et de la technologie à vos rivaux que de protéger les secrets de la Maison Omincara.

Exemples de missions :
        - Le navigateur Gravin Taliandru est déterminé à tenter de franchir le détroit d'Andrasté. Dissuadez-le de cette action insensée. S'il devient nécessaire de confiner Taliandru dans les cachots de la Maison Omincara, pour son propre bien, alors qu'il en soit ainsi.
        - Jakel Varonius a eu des entretiens privés avec un émissaire de la Maison Narcisse. Quel que soit le contenu de ces réunions, assurez-vous que l'émissaire ne vive pas assez longtemps pour les poursuivre.

Limitations:
        Avoir le mot-clé IMPERIUM.
        Tier 3 ou supérieur.

Equipement:
        Tous les membres ou organes que vous perdez au cours de vos missions sont remplacés par une amélioration augmétique aux dépens de la Maison Omincara

Bonus:
        +1 dé bonus sur les Tests Tromperie contre des personnages avec le mot-clé IMPERIUM.