<h1>SEIGNEUR MILITANT TALERIA FYLAMON</h1>
Elle à gravis les échellon de la garde impérial sans richesse ni sang.
C'est une guerrière s"vère qui pense qu'une attaque brutale et décisive est la seule défense possible.
Quand la Grande Faille apparut, elle pris le commandement des mondes du noyau.
Pendant les 3 années avant l'arrivée de Varonius, son influance à beaucoup grandit.
Elle a forgé des liens étroits avec les Absolveurs.
Elle a des regret d'avoir accueillit Varonius et prète l'oreille à des médisances sur son sujet.
Fylamon est frustré par les autres dirigeants des mondes du noyau et vis à vis de leurs soulagement de l'utilisation de la flotte Varonius.
Aujourd'hui elle demande à ce qu'une croisade soit créer pour venir à bout des renégats dans le Bourbier du vide.
Elle dirige toutes les troupes de l'Astra Militarum et est la grouvenreur de Gilead Primus.

Elle habite dans un chateau en haut d'une des flèches de Impensus (la plus grande des 19 ruches), si elle doit rencrontrer quelqu'un elle el fait dans son palait de Imperia.
Même si le plus souvent elle le fait via un intermediaire de confiance ou un canal sécurisé.
Chaque action quelle entreprend est prise pour détruire ses ennemis.
Elle essaye de ralier les autres dirigeants à son plan d'attaque contre les ennemis de l'imperium.
En général ses agents sont des militaires ou de loyaux citoyens, elle ne traitera pas avec des xenos et est peut enthousiaste à l'idée d'utiliser des psykers.
Taleria envoie souvent des groupe pour enquêter sur les différents groupes de gangs, pirates ou cultistes pour mieux les exterminer.
Ses agents ont une autorité absolue sur Gilead Primus, sur Avachrus il faut négocier avec le Mechanicus, sur Nethreus les nobles ne reconnaissent pas son autorité et sur Enoch l'Ecclesiarchie est capricieuse.
Pour les agents qui échouent leurs mission, la prison les attends par contre pour les agents qui réussissent leurs mission chaque fois que necessaire les meilleurs équipement de aucune restriction de munitions seront disponible.

Taleria ressemble à une femme de 50 ans mais c'est sans compter les nombreuses chirugies qui font oublier ses 300 ans.
Ses yeux ont été remplacés par des augmentique après le soulèvement des Enfants du Vrai Royaume.
Elle porte un uniforme plus sophistiqué des uniforme de cérémonie des fossoyeurs giléadiens.


<h3>CADRES DE CAMPAGNES</h3>
<h4>Chair à canon</h4>
Résumé:
        L'appel aux armes de Fylamon s'entend dans tout le système, elle accepte presque tout le monde.
        Les nouvelles recrues sont affectées à la garde des transports entre mondes du noyau ou à la protection de sites militaires.
        En cas de problème elle envoie volontier des nouvelles recues à peine former que ses soldats entrainés parce que de toutes façon ceux qui méritent d'être promus se distingeront avec héroïsme.

Limitations:
        Pas de mot-clé AELDARI ou ORK.

Equipement:
        Un Outil de tranchée 9-70 pour tout le monde.

Bonus:
        +1 dé bonus quand on Vise.


<h4>La fin fleur de Fylamon</h4>
Résumé:
        Triés sur le volet, vous êtes envoyer détruire les ennemis de Fylamon et réprimer les rébellions.
        Vous représenter l'autorité impériale dans le système, vous menez des batailles en première ligne et résolvez des enquêtes de haute prioritées.

Limitations:
        Pas de mot-clé AELDARI, ORK, RACAILLES.
        Tier 2 ou supérieur.

Equipement:
        Kit de survie, Outil de tranchée pour tout le monde.
        Emetteur Vox et Medikit "Don du Martyr".

Bonus:
        +2 dé bonus sur les Tets Commandement ou Test Influence sur Gilead Primus.