<h1>ORDO MALLEUS INQUISITRICE TYTRONA DIKAISUNE</h1>
Elle a passé plusieurs vies à combattre l'ennemi juré, un fait que personne ne nierait face à son regard cinglant, bien que des traitements de Rajeunissement extensifs et des augmétiques de la plus haute qualité dissimulent ses nombreuses cicatrices.
Elle apparaît rarement sans son armure de carapace lourde et ornée et l'arme sacrée qui symbolise son appartenance à l'Ordo Malleus - un puissant marteau démoniaque Nemesis.
Dikaisune est une chasseuse de démons expérimentée de l'Ordo Malleus, et a parcouru le secteur avant son arrivée à Gilead peu de temps avant l'ouverture de la Grande Faille.
Elle parle peu de l'affaire qui l'a initialement amenée à Gilead, se contentant de dire qu'elle est résolue.
L'attention de l'Inquisitrice est concentrée sur la Cicatrix Maledictum et ses conséquences.
Coupée du soutien de ses pairs et de l'Imperium au sens large, Dikaisune ne peut espérer guérir cette grande blessure en réalité, seulement arrêter le saignement.
Peu de guerriers de l'Imperium sont prêts à combattre le démon, et pourtant, le faire est devenu une nécessité à une échelle sans précédent.
L'Inquisitrice Dikaisune se déplace rapidement d'une zone de guerre ou d'un point d'incursion à un autre, renforçant les forces impériales avec ses capacités et laissant toute la sagesse qu'elle peut.
Autrefois, Dikaisune n'aurait jamais accepté de partager ses connaissances aussi librement : la simple connaissance du démon était un motif d'exécution pour la plupart des citoyens.
Tytrona Dikaisune projette un air de suspicion envers tous ceux qu'elle rencontre, et ses actions et ses paroles indiquent généralement la même chose.
Elle n'est pas subtile dans son examen minutieux, posant des questions pointues et remettant en question les motivations.
Cet air de peur est aggravé par la présence très publique et continue de Dikaisune dans le système.
C'est quelque chose dont aucun des dirigeants de Gilead, même Jakel Varonius, n'a l'expérience.
La plupart des Inquisiteurs opèrent en secret, ne se révélant aux autorités locales qu'à l'issue d'une enquête, si jamais.
Les Inquisiteurs, célèbres et craints pour leurs pogroms publics et leurs expurgations, restent rarement longtemps au même endroit, se déplaçant toujours pour terrifier et purifier le système ou secteur suivant.
L'Inquisiteur opère en grande partie ouvertement elle-même, mais s'appuie sur des acolytes discrets pour mener des enquêtes invisibles et non enregistrées.
De cette façon, elle inspire la crainte et le respect des personnages importants et des citoyens ordinaires, les encourageant à lui fournir des informations et des soupçons.
En même temps, des acolytes secrets surveillent ces mêmes citoyens coopératifs à la recherche de signes de trahison.
Selon la nature de la menace qu'ils découvrent, Dikaisune peut s'attendre à ce que ses agents s'en occupent personnellement, l'alertent ou fassent appel à des forces locales en renfort.
Avec la myriade de menaces qui pèsent sur le système Gilead, l'inquisitrice Dikaisune est obligée de s'appuyer sur des réseaux d'agents plus que jamais auparavant.
Certains sont arrivés dans le système avec elle, mais la majorité a été recrutée, que ce soit directement ou par l'intermédiaire d'agents seniors, depuis le début de l'isolement de Gilead.
Ses agents sont variés dans leurs origines et leurs approches ; tout Impérial qui l'impressionne par ses capacités et son dévouement est une recrue potentielle.
En effet, la frontière entre mercenaire embauché et acolyte est mince. Certains agents ne savent peut-être pas s'ils font partie de l'Inquisition ou s'ils travaillent simplement pour l'inquisiteur Dikaisune.
L’accès à l’ensemble de l’Imperium étant coupé, les Inquisiteurs de l’Imperium Nihilus qui partagent les mêmes idées doivent partager leurs ressources plus que jamais.
Bien qu’il n’y ait qu’une poignée d’Inquisiteurs dans le système, au plus, les agents de Dikaisune peuvent parfois se retrouver à travailler avec des cellules qui dépendent d’autres Inquisiteurs.
L'inquisiteur Dikaisune est résolument puritaine et ne tolère aucune déviance parmi ses agents. 
Même en ces temps désespérés, elle croit qu'utiliser les outils de l'ennemi revient à devenir l'ennemi. 
Cependant, Dikaisune trace une ligne claire entre l'hérétique et le simplement illicite (au grand dam de certains alliés).
Certains des agents de Dikaisune utilisent des produits chimiques de combat interdits, y compris, selon la rumeur, ces substances redoutées considérées comme étant du ressort exclusif de l'Officio Assassinorum. 
Pour les agents de l'inquisiteur Dikaisune, la fin justifie tous les moyens, sauf ceux qui flirtent avec la corruption du Chaos.


<h3>cADRES DE CAMPAGNES</h3>
<h4>Guerriers de l'ombre</h4>
En tant qu'agents de l'inquisitrice Dikaisune, vous entreprenez des enquêtes pour éradiquer l'hérésie dans les Mondes du Cœur de Gilead.
Lorsque vous ne suivez pas une piste à la demande de l'inquisiteur ou d'un intermédiaire, vous êtes censé rechercher proactivement toute activité suspecte.
Il n'y a pas de repos pour un serviteur de l'Œil qui ne dort pas.
Tout signe de sorcellerie, de démoniaque ou de xénos mérite votre attention.
Pour les menaces véritablement apocalyptiques, vous connaissez les fréquences vox, les conduits astropathiques et les codes d'autorisation pour appeler une équipe d'élimination de l'Inquisition.
Vous savez également qu'abuser de ce privilège pourrait vous faire finir sur le bûcher, ainsi que vos ennemis.

Exemples de missions :
    - Une série de morts horribles dans les régions inférieures de la Ruche Ammon sur Gilead Primus nécessite une enquête. Les forces de l'ordre locales, déjà à bout de forces, attribuent les corps mutilés à une guerre des gangs, mais la régularité de la violence est la marque de fabrique d'un meurtre rituel. Déterminez si une secte maléfique est derrière ces actes, et à quelles fins.
    - Des rumeurs parlent d'individus se rassemblant dans les étranges ruines xénos d'Ostie dans l'obscurité de la nuit pour accomplir des rites profanes. Découvrez s'il s'agit d'une coutume divergente de la religion locale, d'une secte xénophile ou de quelque chose d'encore pire.

Limitations:
        Ne pas avoir le mot-clé CHAOS ou ORK.
        Tier 2 ou moins.

Equipement:
        Rien.

Bonus:
        +1 dé bonus sur les Tests Tromperie contre les personnages avec le mot-clé IMPERIUM.

<h4></h4>
Vous êtes une équipe d'élite constituée par l'inquisitrice Dikaisune pour faire face aux menaces que les autorités locales et même les forces militaires ordinaires ne peuvent pas affronter.
Si vous avez reçu une mission, cela signifie que l'ennemi est soit extraordinairement puissant, soit que les mesures de confinement ont échoué : un puissant sorcier du Chaos, une incursion démoniaque ou une secte xénophile soutenue par des abominations extraterrestres.

Exemples de missions :
    - Les acolytes ont déterminé que le diacre Horatio Vanor du synode énochien est possédé par un démon du Warp. Bannissez l'être impie et détruisez toute preuve, quel qu'en soit le prix, de peur que la terrible vérité ne déclenche une calamité parmi les masses.
    - Un informateur a révélé la présence d'une arme ancienne d'une grande puissance, la Lance des âmes, secrétée dans un coffre-fort sur Avachrus. Récupérez cet artefact archéotechnologique ou, si nécessaire, détruisez-le de peur que quelqu'un d'autre ne le revendique.

Limitations:
        Avoir le mot-clé IMPERIUM.
        Tier 3 ou supérieur.

Equipement:
        Un symbole d'autorité avec le mot-clé INQUISITION pour chaque personnage.

Bonus:
        +1 dé bonus sur les Tests contre les personnages avec le mot-clé CHAOS.