<h1>WARBOSS VAZDROK SPIKEY-SMASHA</h1>
Il établit son camp de guerre sur un astéroïde à la dérive dans la Reach, d'où il lance des raids à travers le système.
Tandis que Kaptin Goldteef et sa flotte se frayent un chemin sanglant à travers le vide, Vazdrok joue un jeu plus long et se félicite discrètement de sa perspicacité.
Vazdrok considère Kaptin Goldteef comme un autre rival de ce type, sachant qu'en fin de compte, un seul Ork peut revendiquer la domination sur les Blood Axes unis de ce système.
En prévision de l’inévitable conflit, Vazdrok cherche à saper les alliances qui ont renforcé le pouvoir de Goldteef, y compris celles avec des Impériaux comme Jakel Varonius.
Vazdrok considère Kaptin Goldteef comme un autre rival de ce type, sachant qu'en fin de compte, un seul Ork peut revendiquer la domination sur les Blood Axes unis de ce système.
En prévision de l’inévitable conflit, Vazdrok cherche à saper les alliances qui ont renforcé le pouvoir de Goldteef, y compris celles avec des Impériaux comme Jakel Varonius.
Dans le cadre de son plan visant à isoler Goldteef, Vazdrok s'efforce de forger ses propres alliances avec des mercenaires, des pirates et d'autres racailles du Reach - au prix de leurs affaires avec Goldteef, lorsque cela est possible.
En effet, Vazdrok a un don pour négocier avec les humains.
Étant donné l’approche particulièrement astucieuse de Vazdrok en matière de guerre, cela signifie qu’il a en fait beaucoup de travail à donner à ses subordonnés, et même à des non-Orks prêts à accepter le travail.
Vazdrok a gagné le surnom de « Spikey-Smasha » pour avoir ciblé les Space Marines du Chaos les plus coriaces, et avoir gagné en force en vainquant nombre d'entre eux au cours de batailles acharnées (et très appréciées) à travers le système Gilead.
Vazdrok ne peut pas faire la distinction entre les racailles ordinaires et les hérétiques adorateurs du Chaos.
Il recrute des agents humains issus des rangs des pirates de Reach, des gangsters de la ruche, des déserteurs de l'Astra Militarum et d'autres personnes sans loyauté envers l'Imperium.
Heureux de les garder pour lui de toute façon, Vazdrok récompense plutôt les agents Humie avec des armes, des véhicules et la chance de vivre un autre jour. 
Les récompenses mineures consistent en du matériel de guerre pillé directement sur le champ de bataille, tandis que ceux qui impressionnent le chef de guerre reçoivent des travaux personnalisés. 
Malheureusement, ces objets « orkifiés » ont tendance à mal fonctionner ou simplement à tomber en morceaux une fois entre les mains des humains, et donc les agents humains préférés de Vazdrok finissent souvent avec peu à montrer pour leurs actes.


<h3>Cadres de campagnes</h3>
<h4>Da Inteli-Gitz</h4>
Que vous ayez rencontré Vazdrok personnellement ou non, il pense pouvoir compter sur vous pour mener à bien des affaires clandestines.
Votre groupe reçoit probablement ses instructions d'un intermédiaire, probablement l'un des petits Orkoïdes connus sous le nom de Gretchin.
Et s'il veut cacher à votre groupe que vous travaillez pour un Ork, votre gestionnaire pourrait plutôt être deux Gretchin portant un long manteau et un chapeau.
Vos instructions de mission ont tendance à être brutales et déroutantes, mais impliquent principalement la collecte d'informations ou le sabotage.
Les cibles vont des institutions impériales aux pirates et aux criminels en passant par les rivaux orks du chef de guerre.

Exemples de missions :
    - Prenez ce petit Squig et cachez-le dans les bureaux personnels du Seigneur-Militant Taleria Fylamon. Ne le laissez pas vous dévorer en premier !
    - Infiltrez le Cercle Ducal et découvrez où Jakel Varonius garde son meilleur « jet », puis volez-le et rapportez-le pour que les Meks du Warboss l'améliorent

Limitations:
        Ne pas avoir le mot-clé AELDARI (ou se cacher les oreilles).

Equipement:
        Une "capsule suicide" qui est actuellement une balle.

Bonus:
        +1 dé bonus sur Tests Discretion quand c'est clairement une idée risquée.

<h4>Da ’Ard Boyz</h4>
Hé ! Tu es un garçon dur qui travaille pour le chef de guerre Vazdrok Spikey-Smasha.
C'est le chef le plus coriace de ce vieux Gillad, et il veut que tu détruises et que tu krumpes juste là avec lui.
À moins qu'il ne veuille que tu détruises et que tu krumpes ailleurs.
Il a plein de plans, parce qu'il est vraiment malin, alors tu dois te battre partout.
Sois juste prêt à krumper, OK ?

Exemple de missions :
    - Tu es Hé ! Il y a un nouveau genre de Beakie qui est plus gros etplus dur qu'avant, et qui n'a pas de bec ! Le chef veut savoir s'ils sont vraiment si coriaces. Va en chercher et fais une bonne bagarre ! Et ramène leurs ormeaux pour le Boss Pole.
    - Et c'est parti ! C'est le moment d'envoyer un message à ce Kaptin Goldteef! Tu dois dessiner une fausse carte au trésor et la glisser à ses garçons. Puis quand ils arrivent à l'endroit, tu leur sautes dessus ! HA !

Limitations:
        Ne pas avoir le mot-clé CHAOS.

Equipement:
        Rien.

Bonus:
        +1 dé bonus sur Tests Conscience dans un espace clos.