<h3>SAUVEGARDES</h3>
Une situation ne demande un test de sauvegarde que si il y a un vrai danger.
Si le résultat est inférieur à celui demander, il réussit, sinon il échoue.

<h3>RESSOURCES</h3>
Si on obtient 1 ou 2 su un lancé de dé, on changera de dé pour celui directement inférieur (D6 -> D4)

Quand on épuise:
    - sa Santé Mentale, le personnage sombre dans la folie, il a un accès de folie passagère (p35-37).
    - son Investigation, le personnage est a cours d'option.
    - son Matériel, le personnage à cassée perdu ou dépensé une ressource.

Les joueurs lancent les dés de matériel à chaque temps mort suivant l'utilisartion de matériel (après un affrontement, ...).

Si un personnage n'as plus de Torche, il ne peut plus enquêter de cette manière tant qu'il ne s'est pas reposé (fatigué épuisé, plus de concentration).

Si un personnage n'as plus de Bagou, il ne peut plus enquêter de cette manière tant qu'il n'as pas quitter la "zone" ou ne se met pas en retrait (s'attire des ennuis ou meffiance des habitants).

<h3>AVANTAGE ET DESAVENTAGE</h3>
Quand on à un avantage sur sa sauvegarde, on lance un D20 en plus et on prend le résultat qu'on veux.
Quand on à un désavantage sur sa sauvegarde, on lance un D20 en plus et le MJ prend le résultat qu'il veux.

<h3>ENTRAIDE</h3>
Quand un personnage est aidé lors d'une scène par un autre personnage il obtient un Avantage.
Le personnage qui apporte son aide fait un test de Ressource.

<h3>FORTUNE</h3>
Chaque joueur à un nombre de points de Fortune égale au nombre de joueurs + 1.
Les points de Fortune peuvent être utiliser pour relancer des jet de Sauvegarde ou Ressources échoués.

<h3>HORS JEU</h3>
Si un personnage tombe à cours de points de vie, quand il est hors de danger il lance un D10 et voir P9 pour le résultat.
Si il survit il regagne un D4 PV.

<h3>PVP</h3>
Pour les dégâts, il faut prend le type de dé et le divier par 2 (D6 -> 3 dégâts).
Si les dégâts prennent plusieurs dés, il faut prendre les type de dés et les diviser par 2 et ajouter le nombre de dés diviser par 2 (2D6 -> 6 + 6 / 2 + 2 / 2 -> 7).

<h3>EXPERIENCE</h3>
Quand une aventure se termine:
    - on lance notre dé de vie et ajoute 8; on peut prendre cette nouvelle valeur pour nos points de vies
    - on choisi une sauvegarde et on lance un D20 (AV si primaire); si le résultat est supérieur à la valeur initiale, on l'augmente de 1
    - On choisi une nouvelle Capacité Spéciale

<h3>Distances</h3>
Contact:    1m50
Proche:     1m50 - 20m
Loin:       20m - 40m
Distant:    40m+

<h3>COMBAT</h3>
Attaque au CAC test Force.
Attaque Distance test Dexterité.

L'armue absorbe des dégâts
Malus au touché rend plus difficile de le touché

Dés dégâts armés, dégâts infligés avec une arme.
Dés dégâts non armés, dégâts infligés à mains nues ou avec armes improvisées.

Dégâts des adversaires tableau p31.
Dégâts fixes ou lancer le/les dés.

Règles supp p32.
Armes spéciales p33.

Tableau armures et couverts.


<h3>FOLIE</h3>
Pendant un test de Santé Mentale, si 1-2 rétrograde le dé.
Dans ce cas tiré un D6 et voir tableau page 36.

Si résultat de 1-2 sur un D4, le personnage devient fou et s'en est finit pour lui (il a droit à un baroud d'honneur).

Chaque joueur commencent avec 2 jetons d'adrénaline, les jetons d'adrénaline peuvent être utilisés pour réussir à coup sur un test de santé mental et avoir un bonus +1 sur la prochaine sauvegarde.

<h3>SOINS</h3>
Après 8h de repos lancé le dé de vie et le résultat vaut le nombre de PV regagné.
Après avoir reçu des soins, on regagne 1D4 PV.
On peut récupérer 1 niveau de Santé Mentale au bout d'une semaine, pour les autres niveaux, il faut attendre 1D4 semaines.
Un personnage qui n'as plus de Santé Mentale peut éventuellement revenir après un long ségour dans un lieux spécialisé.

<h3>ADVERSAIRES</h3>
Points de vies d'un adversaire, lancer autant de D8 que de dés de vie.
Pour les malus au toucher voir tableau page 31.

<h3>MAGIE</h3>
Connaître un sortilège diminue le niveau de Santé Mentale.
Pour lancer un sortilège, il faut faire un test de Santé Mentale.

Exemple sortilège p48-49.
























