<h4>LES DES</h4>
Certaines manoeuvres ne necessitent pas de lancer de dés.
Pour faire un test 2d6.
Appliquer le modificateur potentiel au résultat des dés.
Bonus max 4, Malus max 3.
Si le résultat est un 7+ c'est réussi le reste est un échec.
7-8-9 réussite mineur, 10-11-12-12+ réussite majeur.
Pour les manoeuvres inverser il est préférable d'avoir un résultat faible.

<h4>FATIGUE</h4>
Les points de fatigues representent les points de vies avant de s'éffondré ou de s'évanouir.
Perte de points de fatigue en se reposant ou avec l'aide d'alliés.
Si les 5 cases sont cochées, on peut pas utiliser une manoeuvre qui donne de la fatigue.
Si on doit prendre un sixième point de fatigue on est hors combat.

<h5>ENLEVER LA FATIGUE</h5>
Dormir à la dure -2 fatigue
Une nuit difficile -3 fatigue
Une nuit confortable -4 fatigue
Une semaine de repose -5 fatigue

<h4>ETATS</h4>
Terrifié: -2 sur intimidez et ramener à l'ordre
En colère: -2 sur conseillez et réconforté et évaluez la situation
Coupable: -2 jouez avec le feu et refusez un rappel à l'ordre
Fragile: -2 dupez et resister à un changemenet d'équilibre
Confus: -2 suppliez et comptez sur vos capacités et votre entrainement

<h4>ENLEVER ETAT</h4>
Terrifié: Jouer l'évitement ou fuir une situation
En colère: Vider son sac, casser quelque chose de valeur ou passer vos nerfs
Coupable: Se racheter auprès des gens concernés
Fragile: Foncer dans l'action sans réfléchir (LEEROY JENKINS)
Confus: Avoir l'aide d'une personne importante en générale ou pour vous

L'état s'enlève à la fin de la scène.



<h4>EQUILIBRE</h4>
Jauge entre 2 principes fondamentaux contraire spécifique à chaque personnage.
Si on doit décalé l'équilibre alors que le curseur est au centre le PJ choisi la direction.

Quand on perd l'équiilibre - dépasser un côté de la jauge - le personnage perd le contrôle de ses pouvoirs et fait des actions impulsives qui dépendent du principe en question.
    
<h5>RECENTRER L'EQUILIBRE</h5>
Laisser passer le temps, se reposer ou réfléchir.


<h4>MAITRISE</h4>
Tous les PJ:
    - pratiquent les arts martiaux 
    - répondent à l'appel de leur plein gré
    - ne sont ni des tueurs ni des méchants
    - sont tous des amis
    - continuerons d'apprendre des choses




<h3>MANOEUVRES DE BASES</h3>
<h4>EVALUER LA SITUATION</h4>
Faire un test de CREATIVITE.
7-9 poser 1 question
10+ poser 2 questions

<h4>CONSEILLER ET RECONFORTER</h4>
Faire un test d'HARMONIE.
Si réussite:
    - la personne visée accepte votre aide, enlève un état ou 2 fatigues et posé une question à cette personne à laquelle elle doit répondre.
    - la personne visée refuse votre aide, vous ajouter 1 état et décaler votre équilibre.
si 10+ et que la personne accepte votre aide, elle décale son équilibre.

<h4>INTIMIDER</h4>
Faire un jet d'Enthousiasme.
Si réussite:
    - Fuit ou va chercher des renforts
    - recule et reste sur ses gardes
    - rend ses armes mais exige une contrepartie
    - attaque mais est déséquilibré (un état en plus)
7-9 le PNJ/PJ choisi une option.
10+ le PNJ/PJ ne choisi pas d'option.

<h4>SUPPLIER</h4>
Faire un jet d'HARMONIE.
7-9 donner quelque chose en plus pour le ocnvaincre (preuve conseil ou ressource).
10+ agit immediatement.

<h4>JOUER AVEC LE FEU</h4>
Faire un test d'ENTHOUSIASME.
7-9 l'action réussie mais avec un coût.
10+ l'action réussie avec une occasion bonus.

<h4>COMPTER SUR SES CAPACITE ET SON ENTRAINEMENT</h4>
Faire un test de CONCENTRATION.
7-9 le gest est imparfait et à quelques conséquences.
Accepter les conséquences ou cocher une case de fatigue.

<h4>DUPER</h4>
Faire un test de CREATIVITE.
7-9 choisisser une option.
10+ choisir 2 options.

<h4>AIDER</h4>
Ajouter 1 de fatigue pour ajouter un +1 sur son jet.
On ne peut pas utiliser cette manoeuvre pendant une passe d'arme.

<h3>MANOEUVRE D'EQUILIBRE</h3>
<h4>AGIR EN RESPECTANT SON PRINCIPE</h4>
Faire un test en utilisant la jauge d'équilibre du principe choisi.
Pour utiliser il faut:
    - devoir déclencher un test de caractéristique
    - s'accorder avec un des deux principes

<h4>RAPPELER A L'ORDRE</h4>
Décentrer l'équilibre et choisisser un principe pour faire un test de principe.
Si réussite, elle vous écoute et doit agir en fonction ou cocher une case d'etat.
7-9 soit vous cocher une case de fatigue soit elle décale votre equilibre comme elle veux.
Si echec c'est elle qui vous rappel a l'ordre, vous l'écouté soit vous cocher une case de fatigue.

<h4>REFUSER UN RAPPEL A L'ORDRE</h4>
Faire un test de principe.
Si reussite, suivre les recommandation ou cocher une case de fatigue.
10+ décaler votre équilibre vers le bon principe.
Si echec, enlever un etat, une fatigue ou décaler l'équilibre.

<h4>RESISTER A UN CHANGEMENT D'EQUILIBRE</h4>
Faire un test (sans référence).
Si réussite vous maintener l'équilibre.
7-9 choisir une option, 10+ choisir 2 option:
    - Effacer un etat ou cocher une progression et prouver au PNJ qu'il a tord
    - décaler l'équilibre vers le principe opposé
    - Découvrer le principe du PNJ (si on le connais déjà +1 sur le prochain jet contre le PNJ)
Si echec cocher un etat et le MJ décale l'équilibre 2x.

<h4>PERDRE L'EQUILIBRE</h4>
choisir une option:
    - abandonner ou soumettre à l'opposition
    - perd pied et semme la mort et la derstruction
    - tu tente une action extrême en rapport avec le principe puis fuis

Décale le centre d'un cran vers le principe dépassé définitivement.

<h3>MANOEUVRE D'EVOLUTION</h3>
<h4>QUESTION DE PROGRESSION</h4>
Lire les questions p145 (détails page 213).
Avec la question unique de livret.
Pour chaque réponse oui à une question cocher une case 
Si on en à 4 on évolue.

<h4>MANOEUVRE D'ENTRAINEMENT</h4>
Quand on s'entraine avec quelqu'un faire des tests avec les questions p145.
Si réussite, on apprend la technique et le maitre décale notre équilibre.
10+ le temps d'apprentissage est court.
7-9 le temps d'apprentissage est long ou cocher 2 cases d'état.
Si echec, on apprend pas la technique et il faut faire une tache supplémentaire pour apprendre la technique.

<h3>MANOEUVRE PERSONNALISE</h3>
Pour créer une manoeuvre personnalisée, il faut:
    - trouver un déclencheur
    - trouver un résultat (en cas de réussite et en cas d'échec)
    - trouver potentielement des enjeux (en fonction du résultat des dés)
Pour plus de détails voir page 147-148.


<h3>STATUS EN COMBAT</h3>
<h4>EN DANGER -</h4>
Cocher une case de fatigue toutes les minutes jusqu'à être en sécurité.
Se noyer, prendre feu, ... (il faut souvent d'autres status pour avoir celui là).

<h4>GENÉ -</h4>
Ralenti ou déstabilisé, cocher une case de fatigue ou -2 sur test physique.
Sur une surface gelée, ...

<h4>PIÉGÉ -</h4>
Cocher 3 case de fatigue et/ou d'état pour partir.
Enprisonner dans le sol, ...

<h4>ÉTOURDI -</h4>
Ne peut pas agir pendant 1 tour.

<h4>RENFORCÉ +</h4>
Enlever 1 fatigue à la fin du combat.
Maître de l'eau sous la pleine lune, maître du feu sous la comète Sozin, ...

<h4>AVANTAGÉ +</h4>
La situation vous favorise, ajouter +1 au lancé de maîtrise.
Maître de l'eau entouré d'eau, ...

<h4>CONFIANT +</h4>
Effacer cet état pour décaler l'équilibre.
Voir un allié faire de grande choses, ...

<h4>PRET +</h4>
Effacer cet état pour ajouter +1 au prochain jet de dés.

<h3>TECHNIQUES DE BASES</h3>
<h4>SE PRÉPARER</h4>
Cocher 1 case de fatigue. Vous infliger ou effaccer un statut à une personne proche ou vous-même.

<h4>RIPOSTER</h4>
Vous vous préparer et quand on vous inflige une fatigue un etat ou décale l'équilibre, vous infliger une fatigue en retour.

<h4>CHANGER DE POSITION</h4>
Se déplace vers une nouvelle position. Un adversaire peut bloquer cette technique avec 1 point de fatigue.

<h4>FRAPPER</h4>
Frappe un adversaire pour lui faire cocher 2 fatigue, 1 état ou décentrer son équilibre (choix de la cible).
Utilier 1 point de fatigue pour lui faire cocher 2 fatigue ou un etat.

<h4>PRESSER L'ADVERSAIRE</h4>
Utiliser 1 fatigue pour l'impressionner l'adversaire ou l'intimider pour ne pas le faire jouer au prochain tour.

<h4>FRACASSER</h4>
Utiliser 1 fatigue pour détruire quelque chose dans l'environnement.

<h4>TESTER L'ÉQUILIBRE</h4>
Utiliser 1 fatigue pour décaler l'équilibre de la cible.

<h4>SOUTENIR OU ENTRAVER</h4>
Aidez ou maitriser un personnage proche.

<h4>SE RECUEILLIR</h4>
Décaler l'équilibre vers le principe de votre choix, la prochaine fois (agissez en respectant ce principe), pas de fatigue.

<h3>EVOLUTION</h3>
A chaque fois qu'un personnage arrive à 4 cases il débloque une évolution.
Page 214 il y a les différents points d'évolution.
Choisir la troisième option ou cocher une case sur l'une des 4 autres.
Détails page 214.

<h3>TECHNIQUES AVANCÉES</h3>
<h4>APPRENDRE UNE TECHNIQUE</h4>
Tous les PJ maitrisent les techniques de bases (maitrisées).

Acquises: peut être lancée de temps en temps.
Pratiquées: peut être utilisé plus souvent.
Maîtrisées: peut être éxécutée à volontée (remplir une condition de maîtrise).

<h4>TYPES DE TECHNIQUES</h4>
Universelles: apprenables par tous.
Groupes: uniquement pour les groupes de PNJ.
Rares: apprisent par les maitre uniquement à leurs élèves les plus fiables.
Maîtrise élémentaire spécialisées: apprisent uniquement après l'acquisition de maitrise spécifique (foudre, métal, ...).

Manoeuvre d'entrainement page 216.

<h4>AMELIORER LES TECHNIQUES</h4>
<h5>ACQUISES --> PRATIQUÉES</h5>
Utiliser la technique en combat 1 fois.
Faire 10+ (réussite critique).

<h5>PRATIQUÉES --> MAÎTRISÉES</h5>
Remplir la condition de maîtrise imposée par l'enseignant (exemple page 219).

<h4>MAÎTRISE ÉLÉMENTAIRE SPÉCIALISÉE</h4>
Maitrisé une technique de spécialité (maitrise).
Puis aller voir un maitre quoi possède cette spécialité pour être formé.
Utilisé de plus en plus cette nouvelle maitrise pour pouvoir l'utiliser aussi facilement que votre maitrise initiale.

<h3>MODIFICATION DU PERSONNAGE APRES CREATION</h3>
Voir pages 222-223.


Relire pages 234-238.

Création PNJ pages 238-242.




