@using MJ.Models;
@using MJ.Controllers;
@{
    ViewBag.Title = "Personnage";
    List<PersonnageAvatar> listpersonnage = new AvatarController().GetAllPersonnage();
}

<script>
    function LoadDetailPersonnage(IDPersonnage) {
        var data = {};

        data.pIDPersonnage = IDPersonnage;

        $.ajax({
            type: 'POST',
            url: '/Avatar/GetDetailPersonnage',
            data: data,
            async: true,
            success:
                function (result) {
                    $("#detailpersonnage").html(result);
                    $("#allpersonnages").css("display", "none");
                },
            error:
                function (result) {
                    alert("Echec du chargement du personnage : " + result);
                }
        });
    }

    function ReturnToAllPersonnage() {
        $("#allpersonnages").css("display", "none");
        $("#detailpersonnage").html(null);
    }
</script>

<style>
    .divperso{
        border: 1px solid white;
        cursor: pointer;
        border-radius: 10px;
        width: 500px;
    }
</style>

<div id="allpersonnages">
    <button class="bouton align-mid" style="padding:5px;" onclick="LoadDetailPersonnage(-1)">
        Créer un nouveau personnage
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
        </svg>
    </button>


    @foreach (PersonnageAvatar perso in listpersonnage)
    {
        <div onclick="LoadDetailPersonnage(@perso.Id)" class="divperso">
            <label>@perso.Nom</label>
            <label>
                @switch (perso.Maitrise)
                {
                    case 1:
                        <text> EAU </text>
                        break;
                    case 2:
                        <text> TERRE </text>
                        break;
                    case 3:
                        <text> FEU </text>
                        break;
                    case 4:
                        <text> AIR </text>
                        break;
                    case 5:
                        <text> TECHNOLOGIE </text>
                        break;
                    case 6:
                        <text> ARME </text>
                        break;
                }
            </label>
        </div>
    }
</div>
<button onclick="ReturnToAllPersonnage()">Retour</button>

<div id="detailpersonnage"></div>