<p>
    <h1>AU COEUR DES TENEBRES</h1>
    EREBOS est une station de collecte de plasma.
    La station a été convertis en site pénitentiaire à sécurité maximale. Les équipes de surveillances sont remplacées tous les 6-12 mois. Il y a quand même une équipe d'androide pour assurer le maintient de l'ordre.

    Le temps que les PJ arrivent EREBOS à subis des dégâts météoriques et se transforme en proto-ruche.

    Le trou noir d'ABLASSEN du système Draconis 26. Il asspire peut à peut les étoiles environnantes. Il provoque des comportements psychotiques et depressifs.

    Une fois par quart (5-10 heures) lancer un D6 pour le SND et voir le tableau p8 (pour chaque lancé ajouté 1 au prochain lancé).
    Il y a des anti-SND dans le medilab (pont c) 5 doses rela-x (enlève 1 au modificateur) et 2 doses de stimulant neurotic (enlève l'effet d'un snd).

    LIRE LA PAGE 9 AU TOUT DEBUT.

    Drabokowski et navarre doivent essayer de récupérer les données de l'opération "Poisson de fer" afin de demander l'évacuation d'urgence.
    Webb est devenu fou et Clerke est devenu un monstre.
    Stykes et Wicks ont un passé en commun voir page 11.

    Actions avec la parfaits
    - Donner un echantillon de la souche originel du Draconis 26 contre l'amicalité des proto-xenomorphes
    - Détruire le Cheiron
    - Empoisonner la station et la proto-ruche
    - Désactiver les moteurs du Cetorhina
    - Détruire la station
    - Obtenir l'aide de Lugar (une parfaite)

    <h2>DEBUT DE LA CAMPAGNE</h2>
    Quand le cetorhina arrive la station erebos ne répond que par le message d'autorisation pour l'aterissage automatisé.
    La satation a des dégâts en plusieurs points dut a des météorites.
    Elle n'émane aucune lumière ou presque.
    Un port d'amarrage se déploie au terminal 2 au pont G.
    Quand les PJ veulent s'approcher de la station pour y entrer une alerte arrive leurs indiquant que l'attraction gravitationnelle du trou noir connais un pic soudain et déverse des meteroides sur le vaisseau et la station.
    Ils peuvent faire un test de pilotage pour choisir dans quel site de crash ils atérissent (p16).
    Si echec on tire au hasard le site du crash et tous les PJ prennent 2 pts dégats, test de mobilité pour réduire les dégats.

    Donenr la carte coeur révélateur au PJ avec le plus d'empathie.
     
    Le côté babord des ponts F G H sont en faut de plasma d'intencité 12, pour l'éteindre il faut ouvrir les sas vers l'espace.

    Table aleatoire de la conduite p27.

    <h2>LES INDICES LAISSE PAR CLERKE</h2>
    Clerke est mort dans la salle MU/... sur le pont C mais il a laissé des indices un peut partout:
    - Observatoire astronomique pont A; mises en garde des ingénieurs.
    - Medilab pont C; reconstruction du draconis 26, prendre des cellules de proto-xenomorphe et attendre 1 quart pour développer un virus tueur de proto-ruche.
    - MU/... pont C; si le MU est redémarrée on peut donner des infos aux PJ.
    - DA/... pont H; détails page 28 et on peut accéder a tous les rapports de clerke.
    - Terminaux informatique partout; on peut accéder a certains rapports de clerke en fonction du terminal utilisé.
    Rapports de clerke page 29.

    Les ouvriers des blocs de cellules et du terminale 01 sont morts, ceux du hangar des navettes sont des diacre en incubation et ceux des jardins hydroponiques se transforment en parfaits.

    La parfaite Aly est la grande-tante de Lugar, les PJ peuvent jouer avec ça pour s'en faire une alliée et une bonne aide.

    Pour créer le virus tueur de ruche, il faut aller dans le médilab attendre un tour et réussire un test d'observation:
    - le virus est rapide et mortel pour la proto-ruche et les organismes associés (dans tous le labo il y a des boites de petri avec des echantillons morts)
    - web et clerke non pas réussi a faire et l'administrer à la ruche
    - les PJ doivent récupérer un proto-xenomorphe vivant pour générer des cultures virales efficaces
    Le virus peut être injecter à la ruche et 48 heures après les premiers syptomes la ruche meurt.
    
    Si les PJ passent dans les Galeries de la stations voir p36.

    Possibilité de gaver la proto-ruche pour arrêter le progrès des parfaits pendant 1 heure ou 2.

    Le cheiron est sur le pont -hangar tribord du pont G.
    Si les PJ s'approche du vaisseau ruche le sas s'ouvre, ils peuvent avoir les plans du vaisseau par n'importe quel terminal.
    Ils peuvent retirer des connexions arterielles de la ruche à la station, 4+ ruche ibernation, 6+ ruche tue station.
    Détruire 3+ zones met la ruche dans le coma et réveille le diacre dans le sas de décont.


    <h1>ACTE I</h1>
    <h2>LE CADEAU</h2>
    Le chat arrive avec un bébé poulpe qui fait le mort.
    Il le pose devant les PJ, le bébé poulpe essaye de partir sous les dalles du sol.
    Par la suite Adrien suit les PJ.

    Le faire apparêtre dès les premières minutes de déanbluations dans les couloirs.

    <h2>PRESSION DES EMEUTERS</h2>
    2 androides se dirigent vers les joueurs, leurs yeux clignotent en rouge étant donné que le MU est déconnecté.
    Ils tentent de lire le code barre sur la nuque des joueurs (qui n'existe pas), après ça ils vont les emmener dans les cellules du pont F pour un interrogatoire.
    Si les joueurs l'exige, les androides peuvent les emmener au directeur caché dans le bureau de sécurité du pont F.


    <h1>ACTE II</h1>
    Les joueurs croisent un diacre au détour d'un couloir. Un combat s'enclenche.
    Après quelques attaques le diacre part et vas se mettre dans un coin un peut plus loin pendant qu'un sifflement aigue résonne dans le crane des joueurs.
    lire la page 53.
    Si lugar est un joueur il peut faire un test d'observation si réussite il déduit qu'il y a un lien avec sa grande-tante.(p31).
    Donner la carte communion avec les ténrebres à celui qui a la carte coeur révélateur.

    <h2>LA PRISE DU JOUR</h2>
    Un curseur s'allume sur le moniteur le plus proche des PJ, un message apparait sur le moniteur.
    lire la suite p54.

    <h2>S.O.S</h2>
    UN termiale se met a clignoter en rouge parce qu'il recoit un message du destroyer de l'UPP proche se faisant passé pour weyland.
    Lire aide de jeu conversation réseau au PJ.
    Les PJ peuvent négocier pour avoir une évacuation.
    Quoi qu'il arrive le destroyer vas essayer de détruire la station avec une nuke.

    Mettre les PJ au courant du fonctionnement de la station contre les cisaillement gravitationnels.

    <h1>ACTE III</h1>
    Lire p56
    <h2>LE SIGNAL</h2>
    Une alarme de proximité retentie et préviens les PJ qu'une grande masse est sur la trajectoire de la station.
    Les IA informent les PJ que si la station ne change pas d'orbite elle sera détruite dans 2 heures.
    Si l'erebos ne change pas d'orbite, l'astéroide percute la station mais ne la détruit pas totalement, elle se met a tourné comme une toupie et s'enfonce petit a petit dans le trou noir, les PJ ont le temps de fuirent.

    <h2>SAUVETAGE</h2>
    Le vaisseau de suvetage s'approche de la station et peut être scanner.
    Il s'agit d'un destroyer de l'UPP qui viens récupérer ses agents et détruire la station.

    <h2>SURVIVANT</h2>
    Un convoyeur aerien cheyenne qui s'ammarre pas loins des PJ.
    3 trilobites attaques le personnel du vaisseau et il fini par y avoir qu'un survivant Pfluger.

    <h2>RIPOSTE</h2>
    Le destroyer tire ses missiles sur l'erebos a bout portant se détruisant par la même occasion.
    Lire p58 pour les éléments détruits.
    passe direct au final
</p>