<p>
    <h1>LE DESTRUCTEUR DES MONDES</h1>

    A cause d'une invasion dans un système voisin, la colonie et sa base militaire à commencé une évacuation.
    Lors de cette évacuation les spécimens du projet force five ont été libéré et ont infecté 4 soldats et un scientifique.
    chacun de ces soldats a pris une dose d'un vaccin à base de draconis 26 et se sont enfui de la base pour se cacher dans la colonie.

    Les déserteurs ont rencontrés un insurgé à l'oblivion (Ivan Stolls) sauf qu'ils ont fini par partir chacun de leurs côté.
    REESE: dans une cellule au poste du marshal. Le draconis 26 n'as eu aucun effet, il meurt du chestbuster et donne vie à un drone.

    WRIGHT: dans le spatioport en attendant la reprise de l'évacuation. Le draconis 26 à fonctionné et son chestbuster est mort mais elle ne le sais pas.

    CARVALHO: dans l'infirmerie de santa rocco. maintenant c'est un anathème affecté, le medecin (litvin) le cache et essaye de lui enlevé sont chestbuster.

    WOJCIK: capturer et prisonnière dans le camp des insurgés. Le draconis 26 n'as pas du tout marché et est devenu un anathème fébrile et peut se transformé en bodybuster.


    Quand le scénario commence lire p11-12.

    Lire au boulot p13.

</p>