Localisation: Ostia

Figure de Proue: Maître des adeptes Sabien Erim

Ecrits Importants:
    - Index Administratum
    - Producto Gilead
    - Rites d'enregistrements

Symbole:
    - Aquila à deux mains
    - Icône Administratum
    - Paumes verticales jointes puis ouvertes comme un livre

Héros:
    - Préfet Scriptus Quintos Galleen
    - Maître des Parchemins Finnea Caveros
    - Coffre de données Rampartus Radeer U’mlo

L'Administratum est partout, enregistrant chaque données de la vie impériale.
Un monde privé de l'Imperium est également condamné, car chaque système dépend des autres.
L'Administratum est souvent la première organisation établie lorsqu'une nouvelle planète est reconnue.
Mais avec l'arrivée de la Grande Tempête, tout à changer.
Chaque jour, l'ordre établi de longue date s'effondre et pourrait bientôt être trop important pour que Gilead ne puisse jamais s'en remettre.

<h4>Entrainement</h4>
Les adèptes de l'école de l'Administratum sont hors pair dans les domaines intellectuels.
La grande majorité de ces fonctionnaires ne vont jmaais j'aventurer en dehors de leur zone de confort.
Tout ce qui permet à Gilead de continuer à fonctionner est autorisé pour l’Administratum.

<h4>Politique</h4>
Aujourd'hui, l'Administratum de Gilead à 2 objectifs principaux:
    -  maintenir l'ordre pour empêcher le système de tomber dans une barbarie sans loi
    - maximiser la productivité dans un système coupé de tout soutien extérieur
L'Administratum est sur chaque planète, dans chaque ville.

<h4>Relations</h4>
L'Administratum a toujours eu une forte association de travail avec l'Astra Militarum et l'Adeptus Ministorum de Gilead.
Il a des liens moins bénins avec ceux qui opèrent en dehors de son autorité, comme les Rogue Traders, l'Adeptus Astartes et, dans une moindre mesure, l'Adeptas Sororitas.
Les pires relations de l'Administratum sont toutefois internes, certains veulent une plus grande fléxibilité lors de ces temps sombres.

<h4>Devoirs et Restrictions</h4>
    - Nous devons continuer à attribuer des dîmes à chaque monde et à chaque domaine, même si elles ne peuvent pas être collectées. Ne pas le faire, c'est trahir l'Imperium et l'Empereur.
    - Nos registres doivent être impeccables et sans erreur, car ils seront nos moyens de jugement lorsque le système sera libéré.
    - De même, nous devons nous assurer que tous les registres sont conservés et mis à jour pour le moment où les dîmes pourront être à nouveau correctement collectées.
    - Il se passe tellement de choses ! Nous ne les craignons pas, mais nous craignons de ne pas pouvoir tout enregistrer correctement.
    - Toutes les données sont essentielles, ne les gaspillez pas.
    - Comme elles étaient, ainsi elles seront.
    - La lettre de l'ordonnance est tout.
