Localisation: Avachrus
Figure de Proue: Archdomina Aexekra Vakuul
Ecrits Importants:
    - Lois universelles du culte mechanicus
    - Létanies de l'Eternité
    - Compilex Heretekonus
Symbole:
    - Engrenage Mechanicus
    - Icon d'Avachrus
Héros:
    - L'explorateur Kappo Lev
    - le mage Jynn Rho
    - le vénéré Techno-Prêtre Obsolom
    - le commandant d'avant-garde Skitarii Metril de la 87e cohorte de Gilead

Bien qu'il senble unifié, le Mechanicus n'est qu'un regroupement de secte qui ont leurs propre vision des choses.
Les tempêtes warp peuvent provoquer des schismes sacré qui fractures encore plus le mechanicus.
Ils sont arrivés les permiers dans le système, revendiquant avachrus pour la présence des machines éternelles, la tranformant en monde-forge.
Les hérésies technologique et recherches non autorisées fleurissent de plus en plus dans le système.
L'explorateur Lev signale des astéroïdes contenant des xenotech.
Dans les sables d'avachrus il y a des traces de présence martienne antérieure.

<h4>Entrainement</h4>
Les rites bénis qui touchent au machines sont la partie fondamentale de son éxistence.
Beaucoup de techno-prêtres sont compétents dans le maniement d'arme de point puissantes.

<h4>Politique</h4>
Préserver avachrus et héradiquer l'hérésie technologique sont les 2 principes fort du mechanicus.
Sans soutient d'autres monde-forges, diffuser la parole du Dieu-Machine est vitale ce qui a entrainer des frictions avec l'adeptus Ministorum.
Le menchanicus possèdes des forces armées pour défendre les forges contre les pirates et les réquisitions non officiel de l'imperium.

<h4>Relations</h4>
Le mechanicus possède des liens étroits avec le Militarum et l'Administratum.
Les absolveurs sont vu comme un exemple d'efficacité.
Le mechanicus traite avec des rogue traders comme varonius pour protéger les explorateurs et les stations de recherche des pirates.
Suite à la grande faille, le mechanicus ne peut pas gérer toutes les demandes du système ce qui a conduit l'écclésiarchie à les considéré comme presque hérétique.
Ils pensent la même chose du ministorum.
Au sein du mechnaicus il y a certaines sectes qui mentent et gardent des données vitales pour affaiblire leurs rivaux et empêcher l'unification.
Il vouent une haine encore plus grande envers des techno-prêtre apostats qui glorifient les techxenos, les hereteks ou encore les magi qui la connaissance de dieux du warp.

<h4>Devoirs et Restrictions</h4>
    - Les forges doivent verser. Tout le reste est secondaire.
    - Obéissez aux lois universelles, car sans elles tout n'est que désordre.
    - Supprimez la technologie non sanctifiée et les mécanismes extraterrestres impies… sauf si on vous demande de les rechercher ou même de les utiliser pour essayer de percer le Mur de la Nuit.
    - Recherchez la technologie perdue et l'archéotechnologie ; un modèle de construction standard fonctionnel, ou même un fragment de celui-ci, pourrait sauver Avachrus (et Gilead).
    - Ayez pitié du Ministorum, car ils ne savent pas comment adorer.
    - Révérez l'Omnimessie, car il sait tout et comprend tout.
    - Abhorrez les Heretek, car leurs oeuvres souillent la Volonté du Dieu Machine.
    - Rompre avec le rituel, c'est rompre avec la foi.
    - La chair est faible. La machine est forte.
    - Apaisez l'Esprit Machine dans chaque appareil.
    - Vénérez, pas innovez.