Localisation: Le Reach

Figure de Proue: Personne pour le moment

Ecrits Importants:
    - Kollected Kunnin' Planz de Kaptin Goldteef
    - Dat's Me Gargant !

Symbole:
    - Glyphe de la hache de sang
    - icônes Gork et Mork
    - double hache de Goldteef Banna Ork joyeuse

Héros:
    - Kommando Badgrog
    - Stormboyz Drillboss Rokkitfist
    - Kaptin Axegrinda Goldteef

Les orks ont toujours été à Gilead mais surtout dans les Space Hulks et autres dans le Reach.
Certains Techno-Adepts Biologis pensent qu'une flotte de Blood Axes à surfer sur les tempêtes Warp.
Avec un nouveau leadership, ils pourrait aisément envahir Gilead.
Un nombre hors norme opèrent dans une grande variété de vaisseaux du vide délabré et des repaires sous-ruches.
L'imperium les considérait comme une nuissance santard mais une flotte entière de la Marine Impériale est tombée sous les assauts massifs des Béliers Bruts lors de la Bataille de Fellrock Dérivant.
La bande de pirates du maraudeur traître Xarro a été presque anéantie par les Orks peu de temps après avoir commencé à cibler les navires marchands de Varonius.

<h4>Entrainement</h4>
Les Blood Axes est le meilleur clan et entraine ses membres à tandres des embuscades en plus des compétences odinaires.
Certains Boys sont plus disciplinés que des soldats du Militarum.

<h4>Politique</h4>
Les Blood Axes, comme tous les Orks, vivent pour la bataille.
Kaptin Goldteef veux prendre le commandement de tous les orks du système pour devenir Reachboss.
Ses mekboyz convertissent lentement un énorme astéroïde au fond du Reach en Rok pour lancer une Waaagh! sur les mondes du noyau.
Ils sont une force imprévisible, et peuvent aussi bien prendre des navires de transports et forces navales en embuscade comme faire des actions coup de points sur les mondes du noyau voir des sous-sols d'une cité-ruche avec des stormboys et des kommando d'élites.

<h4>Relations</h4>
Les Blood Axes ont quelques alliés dans le système; des pirates, des traitres et Varonius via des accords spéciaux comme quelques autres Rogue Traders.
Malgré les relations conflictuels avec les armées de l'impérium, la vrai menace reste mes autres orks.
D'anciens artéfacts qui permettrait d'unifier tous les Orks de Gilead ont été perdu dans le système.

<h4>Devoirs et Restrictions</h4>
    - Tu te moques des Smartz. Mais nous sommes plus intelligents que ce qu'ils pensent aussi.
    - Les Humies sont toujours faibles à la fin.
    - On se bat comme des Humies, mais en mieux parce que nous sommes des Orks.
    - Le Reach nous appartient ! Il faut écraser ces crétins aux oreilles pointues. Mais il faut d'abord les trouver.
    - Continue à combattre les trucs violets dans les Space Hulks, ça nous rend forts !
    - Les Humies essaieront toujours de tricher, alors trompe-les d'abord.
    - Il faut récupérer ces dents perdues ! L'Ork qui a le plus de dents est le grand chef.
    - Continue à te faufiler et à tuer dans les ruches, de cette façon, quand on attaque, on attaque depuis le ciel et depuis le sol !
    - WAAAGH !