Localisation: Enoch

Figure de Proue: Archidiacre Merramar Clade du Synode Enochien

Ecrits Importants:
    - Ecritures de Saint-Gilead
    - Rites de Passage
    - Proverbes de l'aube

Symbole:
    - Eaux bénies d'Enoch
    - Etoile du char de Saint-Gilead
    - Icône du Ministorum

Héros:
    - Le missionnaire Janos
    - le confesseur Darius Uhn
    - le bien-aimé Shrinemeister Gregor Imrak
    - le prédicateur Karam

Le mechanicus est la seule église de impériale théocratique.
La foi en l'empereur est vitale pour gilead plus que certaines ressources, sans ça l'imperium serait divisé et plus facile à attaqué pour les xenos et les traitres.
L'ecclesiarchie est une présence ferme de la lumière de l'empereur sur gilead même si la population se tourne de plus en plus vers le ministorum.
L'ecclesiarchie n'as jamais connus d'epreuve pareil au par avant.
Alors que le warp se déchire, les prêtres et diacres doivent d'assurer que la population puisse résister à ses nombreuses terreur.
Si Gilead abandonne l'Empereur, tout espoir est perdu et ce sera à nouveau un refuge pour les Forces du Chaos.

<h4>Entrainement</h4>
Les prédicateurs et autres membres de l'Ecclésiarchie sont connus pour leurs compétences vocales.
Ils doivent tous connaitre le credo imperial de gilead comme les variantes planetaires.

<h4>Politique</h4>
Les diacres manient les ecriture et des armes de guerres pour garder la population obéissante.
Les rassemblements non consacrés au culte sont désormais illégaux.
L'ecclesiarchie à de bon alliées mais montre sa vrai force en mobilisant des millions de personnes car les justes voient ça comme une épreuve de foi.
Les missionnaires rassemblent des armées sur les différentes planètes pour bruler ceux qui ne partagent pas leur convictions.
Le nombre grandissant d'orphelin montre une réserve pour la Schola Progenium.
Ils y forment les soeurs de batailles, les commissaires et tout autre poste vitaux pour gilead.

<h4>Relations</h4>
L'ordre du boulicer sanctifier est le plus fidèle allié de l'ecclesiarchie.
Les régiments de fossoyeurs comptent beaucoup de prêtres dans leurs rangs.
Les prêtres d'Enoch ont toujours été en désaccord avec les techno-prêtres d'Avachrus.
Les petites guerres internes détourne beaucop de nobles de l'eglise.
Les inquisiteurs sont les rares à savoirs que les religions du système avant sa découverte étaient abominables et impossible à assimiler au credoimperial.
Sauf que la croisade de gilead ne les a pas totalement purgés.
L'hérésie est revenue sous couvert de soutient au cardinal Vandire.
Aujourd’hui, on retrouve des échos des anciennes croyances dans les sermons, et de nouveaux cultes s’enveniment dans les sous-ruches et les villages isolés.

<h4>Devoirs et Restrictions</h4>
    - Que la Lumière de l’Empereur nous guide dans ces Temps sombres.
    - Seule la Foi permettra qu’une nouvelle aube se lève.
    - L’Empereur vous entend. Une prière demandée est une prière entendue.
    - La foi ne peut jamais être autorisée à se relâcher, car l’hérésie grandit pour combler ce vide.
    - Nous sommes les bergers des sujets de l’Empereur. Ceux qui ne peuvent pas être guidés doivent être éliminés.
    - Veiller à ce que la pureté du Credo impérial soit maintenue.
    - Nous devons nous assurer que tout Galaad mérite d’être redécouvert lorsque les serviteurs de l’Empereur reviendront.
    - Veiller à ce qu’Enoch reste paisible et sous contrôle.
    - Une âme qui ne peut être gagnée est une âme qui doit être brûlée.
    - Fournir des prêtres et d’autres soutiens spirituels au Militarum.
    - Méfiez-vous des modes de culte, des rites et autres déviations de l’orthodoxie non autorisés.
    - Ne vous écartez pas du chemin de l’Empereur.