Localisation: La flotille Varonius plus précisément le Ducal Circlet

Figure de Proue:Jakel Varonius

Ecrits Importants:
    - Le mandat : ​​une analyse
    - Lineage Varonius

Symbole:
    - Crux Varonius
    - insignes de navire individuels
    - signe subtil de la main pointée vers le bas avec deux doigts en forme de V

Héros:
    - Jakel Varonius
    - Capitaine Gillan Lej du bateau d'attaque Hard Bargain
    - Commandant Felice Varonius

Les rogues traders sous mandats impériaux sont toujours à la recherche de nouveaux mondes à piller.
Il est rare qu'ils viennent en secour à un système isolé.
La flotille à réussit à naviguer dans la grande faille, maintenant ce sont les sauveurs d'un système désespéré.
La dynastie ne peut plus accéder à ses possessions et doit en trouver de nouvelles.
Des opportunités inimaginables les attendent à gilead.
Les relations avec des xenos sont secrètes pour le reste du système.
Son lien avec le marchand rebelle Dyre Kedjrick, il le garde pour lui.

<h4>Entrainement</h4>
Les rogues traders ont quelques compétences martiales mais ce sont leurs compétences sociales qu'ils maitrisent le mieux.
Ce sont de bon leaders et peuvent savéré rusé et persuasifs tout en pouvant discerner les intentions d'autruis pendant des négociations.

<h4>Politique</h4>
La dynatie sert l'empereur.
Le profit est une grande motivation pour Varonius mais d'un autre côté il veux sincèrement défendre Gilead.
Il dispose d'une grande flotte notement le croiseur Ducal Circlet.
Grâce à ça, il gère une grande partie des transport entre les mondes du noyau mais aussi repousser les pirates et écraser les insurrections.

<h4>Relations</h4>
Les rumeurs de relations avec des xenos sont si fréquentes que ça à attiré l'attention de l'inquisitoriale.
Les Aeldari se sont révélés d'excellents atouts, capables de mener des raids et des assassinats qui ne peuvent pas être liés à lui.
La dynastie est dangereuse pour elle-même à cause des intrigues et des complots pour la succession, le pouvoir et le partage des bénéfices.
Peu de gens en dehors de la lignée connaissent la Golden Cull, ou la terreur du Désert final.
La famille passe avant tout le reste, mais celui qui la contrôle doit être le membre le plus impitoyable, le plus sournois et le plus charismatique. Sinon, la famille échoue.

<h4>Devoirs et Restrictions</h4>
    - La famille d’abord.
    - Déterminez le profit, puis agissez en conséquence.
    - Ce n’est qu’un système provincial parmi des millions. Il n’y aurait pas de grande perte s’il tombait, tant que nous ne serons pas là quand cela se produira.
    - Peu importe quelle espèce se trouve à la table des négociations, seule importe qu’un accord soit conclu.
    - Votre plus grand ami est le parent qui vous précède dans la succession.
    - Votre plus grand ennemi est le parent qui vous suit dans la succession.
    - Explorez et exploitez !
    - Un commerçant qui ne bouge pas est un commerçant qui est en train de mourir.
    - Un système placide est un système exploitable.
    - Nous faisons la volonté de l’Empereur, conformément à notre charte. Comme nous le faisons depuis la Grande Croisade ! Ce n’est pas à vous de nous remettre en question.