Localisation: Verdant Blade (vaisseau amirale de la flotte) généralement dans le Voidmire.

Figure de Proue: Ferianwyr Greensteel

Ecrits Importants:
    - Les Parchemins du Pillage
    - Les Chemins du Paria d'Émeraude

Symbole:
    - Sceau en acier vert
    -  pierres précieuses en émeraude sculptées en forme triangulaire sur des bagues ou des colliers

Héros:
    - Princesse Ferianwyr
    - Felarch Yellil
    - as Pilote de Nightwing Reslithe le Skykiller
    - Drukhari Evalyla Agynille

Les Antrathes, ou Corsaires, rejettent la complaisance pour des vies d'excitation et d'enrichissement.
L'Imperium considère les Corsaires comme de simples pirates xenos.
Ferianwyr Greensteel, princesse émeraude de l'Anhrathe, maîtresse de la Lame et capitaine de la Lame Verdoyante, ne s'attendait pas à ce qu'un vaisseau-monde s'aventure dans Gilead.
Personne dans ce système ne peut résister à ses attentions prédatrices.
Elle à jurée de protégé Ul-Khari à jamais.

<h4>Entrainement</h4>
Les Aeldari des mondes-vaisseaux apprennent les bases du combat, mais les Corsaires l'étudient avec passion.
Ils manient aussi bien les lames que les armes à distances.
La plupart deviennent des pilotes experts de motos à réaction et d'autres véhicules de raid, ainsi que de jet packs personnels.
Ils étudient également les manières de faires des autres éspèces pour mieux s'accaparer leurs richesses.

<h4>Politique</h4>
Les Corsaires de Greensteel cherchent à vivre de la manière la plus pleine et la plus gratifiante possible.
Ils cheerchent aussi à protéger leur propre espèce et à contrecarrer le Dieu de l'Excès chaque fois que c'est possible.
Les Corsaires de Greensteel connaissent chaque route et chaque astéroïde du Vide.
Leurs vaisseaux sont les plus rapides du système et grâce aux portails de la Toile ils peuvent attaquer n'importe où.
La princesse a particulièrement apprécié raser un régiment entier de fossoyeurs nouvellement commissionnés.

<h4>Relations</h4>
La princesse d'emeraude travail avec Varonius quand leurs intérets s'allignent.
Quelques Inquisiteurs radicaux ont même navigué à bord du Verdant Blade, échangeant des informations pour leur bénéfice mutuel.
Tous les autres sont considérés comme des ennemis.

<h4>Devoirs et Restrictions</h4>
    - Nos vaisseaux, notre vide, votre mort.
    - Celle qui a soif attend. Laissez-la attendre, nous sommes occupés à vivre nos vies.
    - Personne n'est à l'abri de nous, peu importe où ils se cachent.
    - Conformément à la promesse de notre princesse, nous défendons Ul-Khari et ses Aeldari pour l'éternité.
    - Tuez tous les humains qui portent la moindre essence de Celle qui a soif.
    - Patrouillez dans le Reach et surveillez les autres visites de l'extérieur. S'ils ne sont pas des Aeldari, éliminez-les.
    - Laissez vos désirs vous guider. Que rien ne vous soit refusé !
    - Ceux qui nous amusent peuvent vivre plus longtemps.