Localisation: La barge de combat Le Voeu d'Absolution

Figure de Proue: Capitaine breveté Akahir

Ecrits Importants:
    - Codex Astartes
    - Rites de l'absolution

Symbole:
    - Icône de chapitre
    - icône d'Astartes
    - symbole d'Aquila à deux mains

Héros:
    - Tygranus Dalir
    - Titus Mikel
    - sergent de la première compagnie Tarik Kamril
    - scout vétéran Diallo Mirl

Désormais piégés dans le Noctis Aeterna, l'ancien vœu d'un chapitre de défendre le système pourrait bien être tout ce qui sépare Gilead de la damnation éternelle.
Les Absolvers sont liés à Gilead depuis ses premiers jours.
La plupart de ses membres étaient piégés à l'intérieur lorsque la Tempête Noire a éclaté.
Etant donné la faible quantité de matériel et de matériel génétique viable, les frères se font de moins en moins nombreux et peut d'éclaireurs peuvent les rejoindre.
Les spaces marines du chaos deviennent de plus en plus audacieux faisant des attaques jusque dans les cités-ruches.

<h4>Entrainement</h4>
Leurs sens sont beaucoup plus aiguisés qu'un humain lambda.
Certains peuvent devenir pilotes mais tous sont des tireur d'élites hors pair.
A cause de la faible quantité de matériel, ils sont souvent contraint d'aller au combat rapproché.

<h4>Politique</h4>
Les Absolvers n'ont qu'un seul objectif essentiel : défendre Gilead.
Les Absolvers sont également connus pour être totalement honnêtes, mais aussi totalement impitoyables.
Les négociations politiques sont difficiles, et le chapitre s'appuie donc sur la puissance plus que sur la négociation.
Même dans l'espace, les cibles ne sont pas à l'abris des vaisseaux Astartes.
Même le moindre indice que de telles actions sont imminentes suffit à provoquer une capitulation.
La pénuries d'hommes et de munitions ne permet pas de faire des combats prolongés et chaque balle doit tuer sa cible.

<h4>Relations</h4>
Les Absolvers sont à la fois craints et vénérés par les humains.
Sur le champ de bataille, les troupes du Militarum et les Sœurs de Bataille accueillent leur aide avec plaisir, tout comme les Skitarii cybernétiques.
En dehors du combat, les Mechanicum ont de bonnes relations, tout comme certains Inquisiteurs Puritains et leurs collègues Astartes de la Deathwatch.
Il y a toujours des frictions avec le Ministorum.
Traiter avec des xenos est, bien sûr, impensable.

<h4>Devoirs et Restrictions</h4>
    - Honorez le Chapitre.
    - Ne connaissez aucune peur.
    - Nous sommes les Anges de la Mort.
    - Un éclair, une mort.
    - Nos anciens du chapitre sont portés disparus. Ils doivent être retrouvés de peur que notre passé ne soit perdu. Quiconque a connaissance de cette affaire doit la partager avec nous ou être qualifié de traître à Gilead.
    - Nous devons purifier – ou détruire – le Regret de Perséphone avant qu'il ne puisse s'aventurer dans les Mondes du Cœur. Quiconque dirait le contraire, même avec le désir de récupérer les héritages perdus enfouis dans le Space Hulk, n'a aucune idée de ce que les xenos libérés à bord pourraient faire à Gilead.
    - Soyez sévère et obstiné en toutes choses.
    - Ceux qui se rebellent contre l'Empereur affronteront notre colère sans fin.
    - Briser un vœu, c'est faire honte à l'Empereur.
    - Il ne peut y avoir de répit tant que Gilead n'aura pas été purgé de l'alien et du rebelle.
    - Notre devoir est celui de notre fondateur, et rien ne changera cela.
    - Le recrutement et la formation de nouveaux Astartes sont primordiaux. La préservation et le renouvellement des gènes sont essentiels.