Localisation: Pas une unique localisation mais plusieurs dans le système.

Figure de Proue: Pour l'instant chaque groupe fonctionne de son côté.

Ecrits Importants:
    - Le Sang de Galaad
    - Le Livre de Lorgar
    - La Tempête Libératrice
    - Les Excès des Sens
    - Les Vraies Litanies

Symbole:
    - Étoile du Chaos
    - icônes des quatre Pouvoirs de la Ruine
    - variété de signaux secrets des doigts et des mains uniques à chaque culte

Héros:
    - Szarn le Rouge
    - Watto Hasturk
    - Shvarre Esquisina
    - le Maître des Engrenages Serrés Arch-Magos Ghelvin
    - l'Apôtre Noir Maoquence

Gilead a toujours été imprégné de la souillure du Chaos.
L'arrivée de Noctis Aeterna a revigoré de nombreux cultes.
Les cultes de Gilead savent que leur pouvoir est en train de s'élever.
Leur nombre semble infini, des brillants maîtres de la chair du Calice d'Ébène aux mutants cannibales des Scions de Hark.
    - Gilead Libertas : une conspiration rebelle sur Ostia. Ils croient agir pour l'amélioration de Gilead, mais un Prince Démon de Tzeentch manie leurs ficelles de marionnettes.
    - Ordre du Rouage Serré : ces Hereteks sur Avachrus font germer des codes de rebuts intégrés à des litanies de peste pour répandre la Logique de la Décadence.
    - Les Crimson Spikes : une secte brutale en ébullition dans les Épreuves Ravissantes d'Enoch, où chaque mort de gladiateur devient une offrande au Dieu du Sang.
    - Les Écrits Fidèles : la plus puissante des bandes de guerre des Space Marines du Chaos restant dans le système (grand nombre de Possédés). Ces Word Bearers opèrent depuis un astéroïde au plus profond du Reach en utilisant des téléporteurs archéotechnologiques reliés à des balises cachées dispersées à travers Gilead.
    - Les Orchidées Parfumées : Ces adeptes du plaisir de Slaanesh sont présents dans plusieurs ruches de Gilead Primus et de Brassyl.

<h4>Entrainement</h4>
Après que les secrets des vrais dieux et les maux du faux empereur leur ont été transmis, ils apprennent à enseigner aux autres par la ruse et la persuasion.
La violence est souvent employée, en particulier lorsqu'une secte est découverte, c'est pourquoi beaucoup entraînent leurs adeptes aux voies du combat et aux arts martiaux.
Ceux qui sont doués de pouvoirs psychiques peuvent également apprendre à exploiter leurs bénédictions mentales.

<h4>Politique</h4>
Bien que leurs moyens soient aussi variés que leurs croyances, tous les traîtres partagent un objectif commun : la chute du régime impérial à Gilead.
De nombreux Gileadiens ne font pas confiance au Marchand rebelle Varonius et plusieurs sectes ont répandu des rumeurs selon lesquelles il aurait utilisé des rites blasphématoires et des apaisements aux Puissances de la Ruine pour percer la Faille.
Partout où il y a des humains, il y a des cultistes, peu importe où vous regardez à Gilead.

<h4>Relations</h4>
Inutile de dire que toutes les factions impériales sont un anathème pour les traîtres, en particulier pour les bandes de guerre des Space Marines du Chaos.
Les Faithful Writ, en particulier, sont connus pour rechercher les adeptes du Ministorum pour des tortures prolongées.
Les aeldari n'ont que peu de contacte avec les sectes mais ils ont une haine plus grande pour certaines d'entre elles.
Les plus grands alliés des traîtres sont leurs camarades parias : les mutants, les pirates, les gangsters de la ruche, les racailles.
La rumeur dit que ceux emprisonnés dans l'Ironwatch partagent leur douleur pour former une mentalité collective, générant peut-être assez de puissance pour percer directement l'Immaterium.

<h4>Devoirs et Restrictions</h4>
    - Mort au faux empereur !
    - Ne faites confiance qu'à vos frères.
    - Répandez la vraie parole.
    - Après avoir appris l'existence de la secte, chaque initié rejoint ou meurt. Il n'y a pas de juste milieu.
    - Chaque jour, essayez d'ouvrir les yeux d'une seule personne, libérez un esprit des chaînes de la doctrine impériale.
    - Gilead est mort. Voulez-vous mourir avec lui ?
    - Détournez-vous de l'Imperium perdu. L'avenir est à nous !
    - Du sang pour le Dieu du sang ! Des crânes pour le Trône du crâne !
    - Trouvez, recrutez, enseignez, révoltez-vous.
