Localisation: ENOCH

Figure de proue: Chanoinesse Jeanne Grace D'Emysa

Ecrits importants:
    - Règles de l'ordre du bouclier sanctifier
    - Béatitudes de Karolyne
    - Admonitions de Saint Hallas
    -Bastions de la Foi

Symbole: l'icône de l'ordre et les fleur-de-lis

Héros:
    - Soeur vétéran Wilhelmina Lorol
    - Soeur Odelle
    - Soeur Valerinne Tancin
    - Soeur Febronia de l'Ordre Famulous
    - Abbesse instructrice Alytinne Cho

L'ordre à été créé au cours du 38° millénaire par la chanoinesse Jessamine Hallas.
Il a combattut dans de nombreuses guerres dans le Segmentum Obscurus.
Pendant le 39° millénaire, l'ordre est aller dans le système Gilead pour renforcer la pureté spirituel et surveiller l'Ecclesiarchie locale pour quelle ne tombe pas dans l'hérésie.
L'ordre est un rempart au chaos - venant de la population (révolution) - sur Gilead.
Il défent les sanctuaires sur Enoch des profanateurs de cryptes.

<h4>Entrainement</h4>
Les nouvelles soeurs ont renforcé leurs corps et leurs esprit par les différentes méthodes de le Schola Progenium.
Elle recoivent des instructions sur les tactiques de combat et l'utilisation des différents équipements.
D'autres apprenent les rites de guérison ou de négociation.

<h4>Politique</h4>
L'ordre veux préserver la lumière de l'empereur sur Galaad tout en soutenant l'écclésiarchie.
Elles soulagent les réfugiés tout en étant un exemple spirituels pour eux sur Enoch.
Leur arme la plus puissante est leur foi inébranlable.

<h4>Relations</h4>
Les soeurs sont en lien étroit avec l'écclesiarchie et comnbattent avec le militarum et l'astartes.
Certaines d'entre elles ont aidées l'inquisitions pour leur chasse contre les sectes.
En privée, elles considèrent le mechanicus comme des déviants religieux et dénonce le manque de spiritualité de l'administratum.
Elles respectent grandement la flotille Varonius.
Certaines croient aux rumeur de rapporchement avec les xenos - de varonius.
L'ordre partage totalement la méfiance des Premiers-né absolveurs envers les Primaris Astartes.
Avec la disparition des navires noirs, les soeurs surveillent les psykers et les envoyent à charybdion pour qu'ils soient éxécutés.

<h4>Devoirs et restrictions</h4>
    - Protégez les sanctuaires vénérés sur Enoch.
    - Protégez et aidez les réfugiés, mais ne leur permettez pas d'interférer avec notre mission sacrée.
    - L'Empereur écoute et veille même en ces temps sombres — ne le décevez pas.
    - Servez l'Ecclésiarchie, car elle interprète la Vision Divine.
    - Soyez toujours vigilant envers l'Ecclésiarchie, afin que l'apostasie redoutée ne nous arrive plus jamais.
    - Soyez un brillant exemple de foi et de détermination pour tous ceux qui vous entourent.
    - Croyez en la volonté de l'Empereur, en particulier dans les actions contre les hérétiques et les sectes.
    - Brûlez le psyker et soutenez l'Ironwatch dans ses efforts pour contenir ces abominations.
    - Ne faites pas confiance à l'Alien, car ses manières sont odieuses pour l'Empereur.
    - Frappez le Démon, car ses tentations ne mènent qu'à la damnation.
    - Que votre foi soit votre bouclier.
    - Ceux qui vacillent doivent se repentir.