Localisation: Gilead Primus

Figure de Proue: Seigneur-Militant Taleria Fylamon

Ecrits Importants:
    - Manuel d'instructions du fantassin impérial
    - Tactica Gilead
    - La croisade de Gilead
    - Manuel du munitorum impérial

Symbole:
    - Insignes régimentaires
    - icône Militarum
    - rappez la paume sur l'épaule droite
    - saluez tout en tenant l'outil de retranchement 9-70

Héros:
    - Le célèbre colonel Paterson Devries IV des fossoyeurs
    - le sergent Kolos « Ork Killer » Thom
    - le soldat Peppersmack Brandle

La garde impérial de Gilead doit se détournée de la manière de faire habituelle de l'astra militarum étant donné le nombre décroissant de ressources en hommes et en matériel.
Tous les régiments levés sur les autres planètes du système ont été intégré aux Gilead Gravediggers sur ordre du seigneur militant Fylamon.
Les fossoyeurs renforcent leurs effectifs avec des legions de détenus.
Fylamon controle aussi bien le militarum que la foi.
Grace a ses liens avec l'ecclesiarchie, il peut prendre des pecheurs de tous horizon pour les mettre au sevice de la défense de gilead.
Des officiers fossoyeurs suggèrent que les astartes de l'administratum soit envoyer en première ligne, ce qui aggrave les relation déjà difficile entre le militarum et leurs fournisseurs d'armes.

<h4>Entrainement</h4>
Tous les membres consacrent leurs temps hors combat à s'entrainer.
Ils apprennent tous a manier des armes a distances et les compétences médicales ou de pilotage sont réservé à un élite.
Plus un soldat gravis les échelons plus l'apprentissage de compétences de commandement devienent importantes.

<h4>Politique</h4>
A la base le militarum n'as aucun role politique mais depuis la prise de commande du seigneur militant Fylamon du système cela à changé.
A cause de la nuit éternelle et de la grande faille, l'acquisition de renfort ou même la retraite est innenvisageable (ce qui ne déplait pas aux fossoyeurs).

<h4>Relations</h4>
La garde impérial est en lien étroit étant donné le nombre élevé de prêtre dans leurs rangs notament à cause de l'essor du chaos.
La majeur partie des régiment on déjà combatut aux côtés des absolveurs.
Le mechanicus donne du soutient méchanique, cependant il se concidèrent mutuellement avec crainte et suspition.
La garde du foyer et les unités skitarii ont les meilleurs connexion étant donné leurs union pour partir à l'assaut de manufactorums non sanctifié (notament la ruche Plunon).
Les rumeurs qui affirment que la garde cannibalise du matériel de guerre sans laisser les rituels du mechanicus se faire créer des frictions entre les 2 organisations.
L'aadministratum fournit un soutient logistique à la garde mais comme elle échoue la pluspart du temps les commandnats de régiments éprouvent mépris et dégout pour eux.
L'officio Prefectus à vu un nombre record de cadets diplômés ce qui garantit chaque régiment de dispose d'une prépondérance de commissaires.
Comme la marine impérial à connu de lourds dommage à cause de la grande faille, ils doivent traiter avec des marchants rebelles pour se déplacer dans le système.

<h4>Devoirs et Restrictions</h4>
    - L'Empereur protège !
    - Un laser qui échoue est un garde qui a trahi l'Empereur. Gardez vos sacs laser pleins, votre arme bien rangée et votre foi résolue, car vous n'êtes jamais en congé.
    - Les ennemis de l'Empereur guettent toujours les signes de faiblesse. Soyez fort et vigilant, et n'oubliez jamais que vous êtes les gardes qui protègent tout Gilead.
    - Nous sommes le Marteau de l'Empereur !
    - Ils ne sont pas de simples citoyens, ce sont des serviteurs de l'Empereur, et les protéger est votre devoir.
    - Le devoir ne prend fin qu'avec la mort.
    - Surveillez le psyker et gardez votre laser pointé sur sa tête à tout moment.
    - Gilead survit aussi longtemps qu'un soldat reste debout.
    - Creusez votre tombe avant la bataille. Mourez-y avant de battre en retraite.