Localisation: Vaisseau-monde  Ul-Khari sur Trollius

Figure de Proue: Le Prophète Tylanriel Tarnalys

Ecrits Importants:
    - Les parchemins d'Ul-Khari
    - les Chants d'Asuryman
    - les Choses à venir
    - des millénaires de prophéties du Farseer exilé Unnias

Symbole:
    - Glyphes orange de l'icône Ul-Khari
    - Sigil d'Asuryman

Héros:
    - La voyante Tamalys
    - la ranger Kaelitha Nagith
    - la gardienne de la tempête Hyrne Olivaste

La grande majorité des Aeldari parcours la galaxie dans d'énormes vaisseau-monde.
Ceux qui vivent à Gilead, en revanche, luttent pour leur survie contre un ancien, assoiffé de désir qui convoite leur âme.
Ils ont été attiré dans ce système par des traces psychiques d'anciennes reliques Aleldari.
Un monde est soudainement apparu du vide pour paralyser Ul-Khar.
Les tentacules du Tisseur du Destin semblent avoir organisé cette collision, pour des raisons que personne ne connaîtra jamais.
Les Aeldari ont la Toile pour voyager à l'intérieur du système et vers d'autres étoiles.
Ils ne le font pas pour éviter à certains de leurs semblables de tomber entre les mains impériales.
En attendant que leur vaisseau-monde soit réparé, il aident des espèces inférieurs à empêcher le chaos de pénétré dans le système.

<h4>Entrainement</h4>
Tous les Asuryani sont dé vétérans du combat.
Des Aeldari préparent leurs armes quand les Farseers que ça ne suffirapas et vont s'aider de leurs nombreux pouvoir psy.
D'autres étudient le système et ses habitants, désireux de résoudre les mystères des ruines Aeldari inexpliquées éparpillées à travers ses mondes.

<h4>Politique</h4>
Les habitants du vaisseau-monde ne peuvent pas s'échapper dans la Toile, ça laisserait des milliers de pierres d'âmes à la merci de l'ennemi.
Il y a déjà eu plusieurs attaques mortelles pour voler ces trésors inestimables, et seule l'arrivée opportune de la Princesse Greensteel et du Marchand Rogue Varonius a empêché l'Apôtre Noir Maloquence de déchirer le Vaisseau-Monde en deux pendant la Marée de Gel Rouge
Ils sont capable de faire des raids éclaires avec leurs machines de guerres et guerriers d'élites sur des informations des Farseers.

<h4>Relations</h4>
La princesse d'emeraude et la flotte corsaires sont des alliés puissants pour les Asuryani.
L'alliance nouvellement créer avec Varonius reste peut fiable et ne peut être éternel surtout si l'imperium en à connaissance.
La plupart des factions de l'impérium voudrait les voirent morts plus que passer un pacte avec eux.
Les Blood Axes les combattent pour le contrôle du Vide.
Malgré les rumeurs sur la Toile à propos du réveil d'Ynnead et du salut potentiel de leur espèce, les Asuryani restent très prudents envers les menaces venant de la Grande Faille.

<h4>Devoirs et Restrictions</h4>
    - Préservez les espèces.
    - Ne faites pas confiance aux extraterrestres ; leur vie est courte et leur honneur encore plus court.
    - Il vaut mieux qu'un million de millions d'autres meurent qu'un seul Aeldari soit blessé.
    - Préservez notre vaisseau-monde et ses habitants, et restituez-le à l'espace.
    - Pendant que nous sommes piégés ici, nous devons continuer à enquêter sur les ruines d'Ostia. Bien que cela ait pu être un leurre, il peut y avoir des parents perdus quelque part dans le système.
    - Varonius fait allusion à un ancien appareil qui pourrait fractiliser une planète, quelque chose volé à l'autre bout de la galaxie. Cela pourrait être un moyen de libérer notre foyer de l'emprise de Trollius.
    - Empêchez le chaos d'éclater même si cela signifie que tous les humains périssent. Un système nettoyé des humains est un système qui est plus sûr pour nous.
    - Il pourrait être intéressant de faire en sorte que le Space Hulk surnommé le Persephone's Regret s'écrase dans les Mondes du Cœur, décimant ainsi les nombres d'Orks et d'Humains pendant des siècles.