Localisation: Several et un bastion de l'Ordo Heredicus sur Imperia.

Figure de Proue: Tytrona Dikaisune de l'Ordo Malleus

Ecrits Importants:
    - Gilead Daemonicus
    - Litanies de la haine
    - Xenos Purgation

Symbole:
    -  Icône de l'Inquisition
    - rosette ou autre symbole personnalisé de leur fonction
    - variété de signaux manuels secrets uniques à chaque Inquisiteur et à leurs Acolytes

Héros:
    - Inquisiteur Tytrona Dikaisune
    - Inquisiteur Stephan Argyle
    - Interrogatrice Inge Xenia

Ils sont chargé de défendre non pas l'imperium mais l'humanité des menaces intérieurs comme extérieurs.
Le seul nom d'inquisiteur peut lever des armées et comdamner des mondes entier.
Maintenant que gilead est isolée dans la unit éternelle, des hérésies émergent sur chaque planète.
Etant donné l'isolement logistique de gilead, les inquisiteurs doivent opéré de manière rarement vue avec pour seule aide ce petit système.
A gilead des horreur inimaginable comme la Font de la Peste d'Edon ou la Divination d'Enochid se produisent souvent.
Les sectes vénérant les Xenos et les cultes hérétiques gagnent en puissance.
Les inquisiteurs doivent s'assurer que l'humanité en tombe pas.

<h4>Entrainement</h4>
Les acolytes viennent des 4 coins de l'imperium et apportent avec eux leurs propres capacités.
Les inquisiteurs peuvent leurs donner une formation supplémentaire pouvant aller de la tromperie à l'intimidation.
Plus ils survivent plus il en apprennent sur les Saints Ordos, les pratiques hérétiques, les terreurs de l'au-delà et de l'extérieur, et de meilleurs façon d'utiliser leurs pouvoirs.
Ils apprennent egalement à enquêter et à découvrir les menaces qui pèsent sur l'humanité

<h4>Politique</h4>
La pluspart des inquisiteurs sont des combatants expérimentés.
Les menaces d'executions de masse ou planètaire n'étant pas réalisable, il faut proférer des menaces réalisables.
Les negociations avec des faction gileadiennes odieuses deviennent necessaire.
Heureusement, de nombreux Inquisiteurs sont habitués à conclure des accords avec les diables.

<h4>Relations</h4>
Les inquisiteurs rassemblent souvent des êtres uniques en tant qu'acolytes et développent ainsi des réseaux à travers Gilead.
La plus forte relation des inquisiteurs de l'odro xenos est avec la deathwatch.
Les puritains combattent aux côtés des Absolvers, tandis que les radicaux peuvent traiter avec les marchands rebelles et même les xenos.
Les inquisiteurs de l'ordo heredicus ont des liens fort avec les sororitas pour luter contre les cultes et rassemblements hérétiques.
Certaines soeurs de batailles sont devenu acolytes et l'une d'entre elles à desormais sa propre rosette.
La différence entre allié et ennemi varie d'un inquisiteur à un autre.
Un inquisiteur se méfie de l'ecclesiarchie et surveille ses rangs, un autre dirige une flotte de pirate et traque ceux qui sont liés aux corsaires pendant qu'un troisième utilise une armée de démons pour luter contre les Cultes des Machines adorateurs du Chaos.
Certains inquisiteurs font alliances mais la pluspart du temps ils se méfient les uns des autres.
Comme il en reste peut dans le système, ils peuvent travailler ensemble à l'occasion même si ça aurait été un anathème jusqu'à maintenant.

<h4>Devoirs et Restrictions</h4>
    - Brûlez l'hérétique !
    - Écrasez le démon !
    - Éradiquez l'extraterrestre !
    - L'innocence ne prouve rien.
    - Nous sommes les choses que les démons craignent.
    - Nous ne pouvons pas être partout, nous devons donc être n'importe où.
    - Notre guerre est pour l'âme de l'empereur.
    - Choisissez judicieusement vos batailles, mais ne faiblissez jamais une fois engagé.
    - Recherchez toujours des individus talentueux car les acolytes ne se remplacent pas.