La planète la plus proche de l'étoile du système Gilead.

L'un des 2 côtés de la planète à une surface qui est soumise à une chaleur invivable et pourtant elle grouille de l'activité des transports blindés qui récoltent des ménerais vitaux pour les industries de la planète.
L'autre est une terre abandonnée qui regorge de xenofaune qui s'est adaptée à la nuit permanente.

La planète possèdes 2 lunes jumelles: Odo et Uru.

Les grottes qui fourmilles sous la surface de la planète regorge d'industrie.
On peut prendre des ascenceurs colossaux des zones équatoriales pour descendre dans les villes industrielles du Mechanicus.
Chacune produit son propre système météorologique.
Des rivières de magma serpentes dasn la ville pour aller vers les usines qui ne s'arrêtent jamais de fonctionner.
Les habitations de la population des cités forges osnt dans des maisons en plastacier reliées par des passerelles précaires.

La vie sur cette planète serait impossible sans les Moteurs Eternels, d'anciennes reliques du Moyen-Age technologique, protégés par un ordre sacré de technoprêtre du Mechanicus nommé les "Susprie".
Dispersé sur la surface d'Avachrus, ils ventillent les couloirs des grottes souteraines formant un système sous le nom de "Toile Hestienne".
A cause de l'activité industrielle des villes usines, des générations de travailleurs vivent avec des recycleurs d'air et voir des visages non masqués est inhabituelle.
Chaque habitant de la planète est un rouage dans une machine titanesque et la société d'Avachrus est à l'image de la technologie qu'ils vénèrent (impénétrable archaic et comprehensible uniquement des plus haut placés).
Le Mechanicus est une faction fracturée de plusieurs changement dans leurs credo.

Préserver la Force Motrice et assurer le maintient de ces machines sacrées sont des actes pieux.
Chaque moment d'éveil est dédié au travail au nom d'Omnissiah.

Sur Avachrus, il n'y a pas de concepte de jour nuit.
Les villes-forges sont constement baignées dans des millions de lumens d'une lumière maladive.
Les membres du Mechanicus ont surpassé le besions de sommeil grace à des augmentiques saintes.
Dans le sillage de la Chronostrife, Le Culte de la Machine ont décider de suivre le calendrier martien en honeur à leurs monde natale.
Cette décision a été impopulaire chez l'Administratum, même si ils ne peuvent pas nier que la productivité à augmenter depuis.

<h1>INDUSTRIE</h1>
Avachrus est le fabricant du système entier, fournissant du matériel à leurs planètes voisines emprisonnées dans la grande faille.
Presque toutes les armes viennent des forges de la planète.
Les pièces de véhicules sont fabriqué sur Gilead Primus, assemblé dans les cités forges et alimenté en carbuirant par les raffineries de Charybdion.
Les vaisseaux vont sur l'anneau orbital de la planète pour avoir des réparations lentes et difficiles étant donné que les technologies pour leurs constructions sont perduent depuis longtemps.
Uniquement l'Adeptus Mechanicus est autorisé a construire des appareils informatique pour ne pas créer d'intéligence abominable.

Malgré les merveilles qui sortent des cités forges la plus grande exportation d'Avachrus reste la connaissance.
Les techno-adeptes sont formé à la production rapide et expédié sur les autres planètes du système pour superviser les divers projets.
Le mechanicus sous-traite beaucoup de fabrication de low-tech aux autres mondes du système étant donné que leurs demande est écrasante.

Quelques personnes sont intronisé sacedoce du mechanicus avec a côté des millions de vassaux et ouvrirer sans instructions.
Si la population est en désaccord ou bléssé par une catastrophe industrielle, le mechanicus envoie des légions skitarii pour assurer des protocole de lobotomisation de masse.
Presque toutes les augmentic du système sont conçues sur avachrus.
D'anciens esclaves et des membre du mechanicus en disgrace se cachent dans les cités-forges.

Le suspire a toute la latitude necessaire pour entretenir les moteurs éternels.

<h1>HISTOIRE</h1>
Le système Gilead à été redécouvert dans le 32° millénaire.
La croisade de Galaad à été une aubaine pour le culte de la machine d'avachrus, les légions skitarii et chevaliers sicariens ont chassés et lobotomisé les hérétiques pour en faire des esclaves pour les mines.
Il y a 8000 ans, les mages d'avacrhus ont essayé de courtiser les chevalier de nethreus rn construisant des forges pour les forces du roi Farlin Acasta III.
Julyana Gilead à réduit un plan du mechanicus qui visait à détruire les champ d'ostie pour faire mourir de faim les traites.

Après la croisade de Galaad, on a découvert la vrai valeur d'avachrus, les moteurs eternels.
Malgré des millénaires d'étude par le mechanicus ces machines restent toujours mystérieuses.
Leurs objectif a été révélépar la tragédie de Illiarch qui a vu 89% se sa force motrice perdu, ce qui à arrêté tout le système de ventillation de la ville-forge.
Les skitarii et les véhicules à bouclier de vide sont mis en service toujours en plus grande quantité pour l'entretiens des moteurs éternels qui sont au boird de la dégradation permanente.
Exploitant les rayons de l'étoile Galaad, la machinerie verouillé à la surface de la planète dysfonctionnent plus que jamais qui provoque des baisses de tension dans les cités-forges.

Pendant l'ère de l'Apostasie, avachrus est resté contre l'eclesiarchie.
Les imports de nourritures d'ostie ont été empoisonnés et les cultistes à bord ont inondé les rues.
Au milieu d'une résistance acharnée, des milliers de morts et une famine massive, avachrus a fermé ses portes à toute interaction extérieur à l'exception de nethreus, charybdion et le chapitre de voeux d'absolution.

<h1>ORGANISATION</h1>
Des guerres privées font rages alors que certains dénoncent l'utilisation de robots kastellan par des sectes kharniennes sur Versh.
Les légions Skitarii protègent les manufactorums et les sanctuaires des différentes menaces (hérétiques, techno-gangs), tout en pouvant patrouiller en surface.
Les serviteurs de combat et Kataphrons sont stocker dans des entrepots entre les expéditions.
Dans chaque ville-forge il y a une multitude d'églises mineurs pour louer l'Omnimessie.
L'Église des Soupirs de Fer de Belaxia produit du ferro-béton.
Dans la ville-forge Mercur, l'Abbaye de l'Esprit Immortel travail à s'assurer que les cogitateurs sont aniumés par l'Esprit machine et pas d'Intelligence Abominable.
Les systèmes Auger produits par la Chantrie de l'Œil de l'Omnissiah deviennent de moins en moins éfficace à cause de la régréssion des Techno-prêtres.
Sur Avachrus Les organisations sont plus orienté sur la production que sur le commerce.
Les gangs sont peut nombreux dans les villes-forges, ils se livrent une guerre pour le travail des cités-forges.
Ils peuvent voler des augmentiques ou autres parties du corps pour accéder à des postes plus élevés.
Les classes inférieurs sont difficilement identiffiable comme humain à cause de leurs nombreux augmentiques.

<h1>POLITIQUE</h1>


<h1>AUTRES</h1>
Monde-Forge
~10 milliards hbs
Chaleur extrême côté jour et froid extrême côté nuit.
Tout se passe sous la surface. Beaucoup de fonderies. Un anneau entour la planète, anneau de chantier navals et docks spaciaux.
Fonderies, fortesses, forges et d'anciennes structures cohabitent sur la planète.
Ascenseurs orbitaux entre la surface et l'anneau.
Si un Moteur Eternel tombe en panne, c'est une catastrophe sans précédent qui condamnerait plusieurs milions d'âmes à la mort en quelques instants (comme sur Illiarch).

Ordre sacré de technoprêtre "Suspire" (les membres son des Magos), soccupe des Moteurs Eternels.
Ils ont un grand pouvoir politique.

L'inquisiteur Argyle de la forteresse de l'Ordo Malleus sur Imperia.

Des équipes de skitarii et membre de la suite d'Argyle sont allez sur Illiarch pour ratisser les décombre et transférer des artéfacts vers Imperia.

Les lunes d'Avachrus sont devenus des refuges pour les pirates et corsiares.
La Legio Kaurthos a déserté beaucoup de fortifications et avec les Moteurs Eternels font partie des archéotechnologies que les pillards convoitent.
Les raids xenos et renegats sont chiants mais il y a un anticode qui infeste des systèmes isolés, pour l'Archdomina Vakuul c'est le plus inquiétant.
Des rummeurs disent que dans l'Adeptus Mechanicus il y a une nouvelle religion de technohérésie ave un Magos fou qui créérait des machines horribles.

Des membre du Mechanicus pratique le péché d'innovation et on trahi les precepte du Dieu-Machine pour rentrer dans les rangs blasphematoires des HERETEKS (Le Mechanicum Noir).
Dans les fonderies perdues d    'Avachrus et les lunes cachent toujours des archéotechnologies.
Sous la surface d'Uru il y a une guerre entre 2 groupes de technohérétiques.
Le premier "Temple Libre" cherche des codes engrammiques qui serviraient a désactiver des augmentiques à distance, ce qui peut neutraliser et tuer les technoprêtre et skitarii du système.
Le deuxième est un groupe de pirate qui a survécu a tout ce que l'Adeptus Mecanicus et le "Temple Libre" a envoyer contre eux.
Selon les agents de Varonius le chef du groupe de pirates serait une ruchienne nommé Cimbria.
Elle aurait endocriné son équipage avec un crédo centré autour du culte de "L'Homme de Fer".
Cet "Homme de Fer" est une vielle relique de plusieurs millénaires qui est officiellement nommé "Automate de siège classe Thanatar-Calix XGL345-3".
Elle serait capable de parler avec cet automate.

La forteresse de Kaurthos est la seule strusture à la surface d'Avarchus situé sur le côté de froid extrême.
C'était la base de la Legio titanique Kaurthus dirigé par Gaius Vastatio (titan de plus de 20 mètres).
Le fabricator général de la Légio est Ultima Glo Bessor.
Certains pensent qu'il a fini comme l'état major des Absolvers (qui ont été portés disparus).
Suite à sa disparition, les forges ont dicter leurs propres règles.
Tout pris fin avec l'ascensio de Belaxie et l'arrivée de l'Archdomina Aexekra Vakuul.
Kauradar est quasiment à l'abandon même si elles sont protégées par des bouclier void et des tourelles.
Des fidèles restent là dans l'attente de leur Fabricator général.

