<p>
    <h2>LANCER LES DES</h2>
    Pour faire un jet de dé prendre le score de compétence et celui de l'attribut lié à cette compétence.
    Sur tous ces dés en prendre 1 d'une couleur différente pour le distinguer des autres (le dé de fureur) et si il n'y a qu'un seul dé a lancer c'est le dé de fureur'.
    Les 4 et 5 comptes comme Icônes et les 6 comme Icônes éxaltées (2 Icônes).
    Le nombre d'Icônes obtenues doit être suppérieur ou égale au SD choisi.
    Si on réussi un jet et que le dé de fureur tombe sur 6 c'est une réussite critique (voir tableau p198).

    <h2>RESSOURCES DE DEPART</h2>
    <h3>JOUEURS</h3>
    2 points de FUREUR.
    0 point de GLOIRE.

    <h3>MJ</h3>
    Autant de points de RUINE que de joueurs.

    <h2>FUREUR</h2>
    Si le dé de FUREUR donne 6 on obtient une fureur critique et on ajoute 1 de GLOIRE à la réserve du groupe.
    Si un jet de fureur donne 6 avec une réussite on a un succès critique.
    si un jet de fureur donne 1 il y a des complication dans l'action effectuer.

    On peut dépenser un point de fureur pour pouvoir relancer les 1, 2, 3.
    On peut dépenser une action et un point de fureur pour enlever rang + tier points de stress.
    Gagner un point de fureur en faisant une action héroique ou remplir un objectif.

    <h2>GLOIRE</h2>
    N'importe quel 6 (Icône exaltée) lors d'un test peut être converti en point de GLOIRE (1 par test).
    On gagne aussi 1 point de GLOIRE quand on obtient une réussite critique (jet réussi + dé fureur 6).
    On peut utiliser un point de GLOIRE pour voler l'initiative d'un ennemi lors d'un combat, améliorer l'effet d'un coup critique, augmenter les défats (1 dégat par point de GLOIRE) ou ajouter des dé pendants un test (1 dé par point de GLOIRE).
    Si un joueur utilise un point de GLOIRE sans l'autorisation des autres il gagne un point de corruption.

    <h2>CONVERSION</h2>
    Un joueur peut convertir une Icône exaltée (6) en éffet supplémentaire de la reussite.
    Même chose pour les fureurs critiques (la fureur critique se déclenche même si on la convertie).
    On peut utiliser la conversion pour gagner des informations, améliorer le résultat, réduction du temps d'éxécution.
    On peut aussi onvertir les Icônes éxaltées en dégat (ajoute 1 dé au jet de dégat) ou convertir 1 Icône éxaltée en 1 point de GLOIRE (1 fois par test).

    <h2>TEST D'INFLUENCE</h2>
    Pour faire un tets d'influence contre un PNJ il faut avoir au moins un mot clé en commun.
    Pour chaque mot clé commun en plus du premier ajouter 1 dé au test.
    <h4>POT DE VIN</h4>
    Dépenser des points de richesses pour ajouter des Icônes.
    1 point de richesse = 1 Icône.

    <h2>AIDER A FAIRE UN TEST</h2>
    Un joueur peut être aider lors d'un test par un autre joueur.
    Il peut utiliser une compétence ou un attribut pour aider son allié.
    Le score de la compétence ou le score de l'attribut indique le nombre de dés supplémentaire que son allié peut lancer en plus.

    <h2>TEST DE RESOLUTION</h2>
    Pour resister la condition EFFRAYE on utilise le score de resolution.

    <h2>TEST OPPOSE</h2>
    Celui qui obtient le plus grand nombre d'Icône gagne.
    Si un personnage à un malus, son adversaire à un nombre de dé supplémentaire égale au malus.
    Si il y a une égalité la victoire va à celui qui a déclenché le test opposé.
    Pas de dé de fureur obligatoire.

    <h1>COMBAT</h1>
    Pages 174-175 sommaire de combat.

    <h2>TIRER L'INITIATIVE</h2>
    Quand un combat commence, on prend la stat d'initiative de tous les personnages impliqués dans le combat et on les tries par ordre décroissant.
    Si plusieurs personnages ont le même score d'initiative, ils lancent un dé pour savoir qui commence avant l'autre.

    <h2>EMBUSCADE</h2>
    Si un personnage ou un groupe de personnage ne sont pas prêt a être en combat ils sont en embuscade.
    Les personnages prient en embuscade ne peuvent pas jouer pendant le premier tour du combat.
    Un PJ peut dépenser un point de GLOIRE pour que le personnage prenne conscience d'être dans une embuscade et joue pendant le premier tour.
    Même chose pour les menaces avec un point de RUINE.

    <h2>ACTIONS</h2>
    On ne peut utiliser ces actions qu'une fois par tour:
    -  Déplacement
    -  Action de Combat
    -  Action simple
    -  Action de réaction

    <h3>ACTIONS MULTIPLES</h3>
    Déclarer au début du tour qu'on vas faire une action multiples.
    Pour chaque action en plus de la première ajoute un malus de 2SD sur chaque test.

    <h3>ACTIONS COMPLEXES</h3>
    Les actions complexes empêches d'effectuer d'autres actions.
    Si on utilise une action complexe on ne peut faire que des actions gratuites pendant le reste du tour.

    <h3>ACTIONS GRATUITES</h3>
    Les actions gratuites peuvent être utiliser en dehors de votre tour.
    <h4>ACTIONS DE REACTION</h4>
    On peut utiliser une action de réaction une fois par round en réponse à une action d'une autre personne.

    <h2>DEPLACEMENT</h2>
    <h3>COURIR</h3>
    Double la vitesse de déplacement, empêche d'effectuer une action simple et on ne peut pas courir si on a déjà utiliser son action simple.

    <h3>GRIMPER</h3>
    Grimper sur score de Vitess / 2 mètres.
    On peut grimper sur le score de Vitesse en mètre en faisant un test d'athlétisme SD 3.

    <h3>NAGER</h3>
    On peut nager sur le score de Vitesse / 2 mètres en faisant un test d'athéltisme.

    <h3>RAMPER</h3>
    On peut ramper sur le score de Vitesse / 2.
    Pendant qu'on rampe on est a terre.

    <h3>SAUTER</h3>
    On peut sauter 1 mètre de haut et / ou 1 mètre de long pour un déplacement simple.
    Si on veut sauter plus loin ou plus haut on doit utiliser une action simple et faire un test d'athlétisme.
    La distance de saut en longueur max vaut le score de Force.
    La distance de saut en hauteur max vaut le score de Force / 4.

    <h3>SPRINTER</h3>
    Le sprint est une action complèxe qui permet de courir sur le score de vitesse x 3.

    <h3>VOLER</h3>
    Certains personnages peuvent voler, ils utilisent le score de vitesse ou le score de vitesse de vole.

    <h2>COUVERT</h2>
    Si on vois au moins la moitié du corps d'un personnage derrière un couvert +1 défense si on en vois moins de la moitié +2 défense.

    <h2>FURTIVITE ET VIGILANCE</h2>
    Pour la furtivité il faut faire un test de furtivité opposé à un test de vigilance.

    <h3>SCORE DE FURTIVITE</h3>
    Vous pouvez faire un tetsde furtivité comme action de combat (une fois par scène).
    Le résultat de ce test sert de score de furtivité.
    Si un ennemi fait un test de vigilance votre score de furtivité sert de SD.
    Si il réussi son test de vigilance vous n'avez plus de score de furtivité et êtes visible de tous.

    <h3>DEPLACEMENT FURTIF</h3>
    On peut se déplacer furtivement en utilisant son déplacement et son action de combat.

    <h3>ATTAQUE FURTIVE</h3>
    Si vous attaquer un ennemi qui ne vous vois pas +2 dés sur le jet d'attaque et +2 dégats bonus.
    Si cette attaque déclenche un combat la cible est prise en embuscade.
    L'attaque peut réduire le score de furtivité (voir tableau p182).

    <h1>ATTAQUE</h1>
    Pendant le jet de capacité de tir ou de capacité de combat, si le nombre d'Icône est supérieur ou égale à la défense de la cible on touche.
    On peut convertir les 6 en dégat supplémentaires

    On compte le nombre de DS et on lance autant de dés, on compte le nombre d'Icônes qui donnent le nombre de dégat en plus des dégats de l'arme (p 183).

    On déduit la pénétration de l'arme de la résistance de la cible et on prend la différence entre les dégat et la résistance pour avoir le nombre de blessures.

    On peut utiliser une action de combat pour battre en retraite d'un engagement au corps à corps sans subir d'attaque de reaction.

    <h2>ATTAQUES DE MELEES</h2>
    Pour les attaques de mêlée on ajoute la valeur de force au dégats.
    Si on attaque à mains nues on utilise la force comme valeur de dégats avec +1 DS.
    Quand on attaque ou qu'on est attaqué au corps à corps on est engagé et on ne peut attaqué que les personnages engagés.
    Si la cible avec laquelle on est engagé se désengage on peut utiliser notre attaque de réaction pour l'attaquer avant qu'il ne se désengage, sauf si il utilise action de combat retraite.
    On peut utiliser un pistolet en mêlé (avec le trait pistolet) avec un malus de +2 SD, si me dé de fureur donne 1 l'ennemi peut retourner l'arme contre nous.

    On peut faire une attaque à outrance qui donne +2 dés bonus à au jet d'attaque mais enlève 2 à notre défense jusqu'à notre prochain tour.
    On peut aussi chargé une cible en utilisant une action complexe avec un bonus de 1 dé sur le jet d'attaque et double la vitesse (il faut charger au moins 4 mètres).

    On peut utiliser une action de combat pour saisir une cible avec laquelle on est engagé, il faut faire un test opposé de force.

    <h2>ATTAQUES A DISTANCES</h2>
    Cible à courte portée 1 dé bonus.
    Cible plus de moyenne portée, cible gagne +2 defense.

    Au début de chaque parties les armes sont chargées et possèdes 3 points de MUNITIONS.
    Les complications peuvent faire perdre des points de MUNITIONS.
    On peut utiliser les points de MUNITIONS pour recharger.

    Quand une arme utilise le tir automatique on vide notre chargeur sur une cible.
    Quand on utilise le tir de dispertion on tir sur plusieurs cibles, on ne peut l'utiliser que pour une action multiple et on peut réduire le SD par la valeur de rafale.
    On peut utiliser le tir de dispertion sur une horde avec une action complexe, si le test réussi on touche autant de cibles en plus que la valeur de rafale.

    Quand on utilise une arme a aire d'effet, on fait un test de capacite de tire SD 3 et si le test est réussi l'explosion est centrée sur la cible sinon l'attaque rate et se disperse (voir diagramme p186).
    La zone de déflagration vaut le score de l'explosion en mètre (toute personne dans la zone est touchée).
    Si on vise une horde, le nombre de cible touchée vaut la moitié du score de l'explosion.
    On ne peut pas convertir pour les armes à explosions.

    Si on est touché par un lance-flamme ou dans la zone d'une explosion, defense totale

    Pour un tir ciblé, si le test est réussi on gagne autant de dés de DS que la pénalité de SD (tableau p186).
    Si un tir ciblé touche la main ou une arme d'un ennemi, il doit faire un test de force dont le SD est égale à la moitié des dégats de l'attaque (ce tir ne fait aucun dégat et n'as pas de DS).

    La défense total, utilise une aciton complexe, faire un test d'initiative et on gagne +1 de défense + le nombre d'Icônes.
    Si on l'utilise avec une action de reaction, dans notre prochain tour on ne peut pas faire de déplacement , d'action de combat ou d'action simple.
    On se focalise uniquement sur la défense.

    On peut choisir de retarder une action de combat pour l'utiliser a un autre moment dans le round.
    Au moment de l'utiliser , il faut faire un test d'initiative opposé contre la personne qui a le tour en cours.

    Il est possible d'effectuer une attaque multiple, a chaque cible supplémentaire cette cible gragne +2 de défense (on ne peut pas convertir d'Icône exaltée).
    On ne lance les dégats qu'une seule fois pour toutes les cibles.

    <h2>ATTAQUES DESTABILISANTE</h2>
    Le SD de ce type d'attaque est le score opposé de compétence ou de résolution (le score le plus élevé des 2).
    Si l'attaque réussie choisir entre rendre la cible pertubée ou vulnérable (jusqu'à votre prochain tour).
    Types d'attaques en fonction de la portée p 190.

    <h2>MODIFICATEUR DE COMBAT</h2>
    Complication p191
    Tailles p191
    Vision p191

    <h2>BLESSURES</h2>
    Les personnages bléssés ont +1 SD sur tous les tests.

    Quand on est mourrant on peut ni bouget ni se battre comme avant, il faut vite se faire soigner.
    On a une blessure de guerre (tableau p194) et on tombe à terre.
    Si on subi une blessure quand on est mourrant, on a une blessure grave et si on subi plus de blessure grave que le Tier +1 on meurt (tableau p195).
    On peut faire un jet de détermination quand on prend des blessures en étant mourrant, si on baisse les blessures à 0 on prend pas de blessures grave.

    Quand on est mourant on peut soit ramper, faire une retraite ou faire une action de combat.

    <h3>RETRAITE PEU HONORABLE</h3>
    On peut faire une retraite peu honorable qui ammène tous les PJ dans un lieu sur, ils perdent tous leurs points de GLOIRE et le MJ prend autant de points de RUINES que de joueurs.

    <h3>MORT INSTANTANEE</h3>
    Si on subi plus du double de notre max de blessure on meurt sur le coup.

    <h3>BLESSURES DE GUERRES</h3>
    Si on montre une blessure de guerre on gagne +1 sur le hjet d'intimidation.

    <h3>STRESS</h3>
    Si la jauge de stress est dépassé on est fatigué.
    On peut prendre une action de combat et un point de FUREUR pour enlever RANG + Tier points de stress.

    <h3>DETERMINATION</h3>
    On peut faire un jet de détermination pour convertir les blessures en stress (dés = score endurence), 1 Icône = +1 stress -1 Blessure.

    <h3>RASSEMBLEMENT</h3>
    Prend 1 heure pour se reposer et réfléchire, si on a un score de Medicae on peut soigné un seul allié d'autant de blessure que le score de Medicae.

    <h3>REPOS</h3>
    Prend 6 heures poyur se reposer et réfléchir, le stress et le repos passent à 0, points de FUREUR réinitialisé à 2.

    <h1>CONDITIONS</h1>
    <h2>A TERRE</h2>
    Défense -2 contre les ennemi à - 5 mètres.
    Défense +1 contre les ennemi à + 6 mètres.
    Se lever action gratuite (même chose pour l'aide alliée).

    <h2>AVEUGLE</h2>
    +4 SD pour les actions liées à la vue.

    <h2>EFFRAYE</h2>
    Test de résolution contre SD de la cause.
    Si échec, +2 SD sur tous les test jusqu'à la fin de la scène ou un test de commandement allié (SD 2 + valeur source peur), sinon plus effrayé.

    <h2>EMPOISONNE</h2>
    +2 SD sur tous les test.
    Pour l'enlevé faire un test d'endurence SD en fonction du poison ou avoir reçu du Medicae.

    <h2>EN FEU</h2>
    1d3 blessures au début de chaque tour.
    Test d'athlétisme (SD 3) pour se roulé par terre et éteindre le feu.
    Sinon ignorer le feu et faire un test de force mental SD 3, si échec vous êtes perturbé.

    <h2>ENTRAVE</h2>
    Paas de déplacement et défense -2.

    <h2>FATIGUE</h2>
    Déplacement diminué (ramper ou marcher), action de combat de base, battre en retraite.
    Pas de test de détermination, Si stress en plus transformé en blessure mortelle.
    Si le stress dépasse la jauge vous êtes fatigué.

    <h2>FRENETIQUE</h2>
    Si résiste à la frénésie test force mentale SD 3.
    Vous courez vers l'ennemi le plus proche.
    +1 à votre force, immunisé contre fatigué et pilonné et utilisé attaque a outrance.

    <h2>PERTURBE</h2>
    +1 SD sur tous les tests.
    Dure 1 tour.

    <h2>PILONNE</h2>
    Rester a couvert ou chercher le couvert le plus proche (utilise le déplacement de votre tour).
    +2 SD sur celui qui voius pilonne.
    Vous pouvez rallier les autres personnages pilonné pour enlever l'effet (test commandement SD = valeur rafale).

    <h2>SAIGNEMENT</h2>
    1 blessure mortelle au début de chaque tour.
    Test endurence (SD 4), allié Medicae ou auto Medicae SD +1.

    <h2>SECOUE</h2>
    Ni courir ni sprinter jusqu'à fin du tour.

    <h2>TERRORISE</h2>
    Faire test résolution contre la source de la terreur.
    Si échec utiliser toutes les actions pendant votre tour ou partir jsuqu'à ne plus voir la source de la terreur.
    Sarrête à la fin de la scène ou si allié commandement (SD 2 + valeur terrorisé).

    <h2>VULNERABLE</h2>
    -1 défense jusqu'à prochain tour.



    <h2>ASPHYXIE</h2>
    Faire un test d'endurence SD 3 pour chaque tour ou déplacement.
    Si échec 1d3 stress (si subi plus du max on perd connaissance).
    Si vous perder connaissance sans avoir de sources d'oxygène, on meurt au bout d'autant de tour que le score d'endurence.

    <h2>CHUTE</h2>
    On subi 1 blessure mortelle (à partir de 5 mètres) + 1d3 blessure mortelles pour chaque 5 mètres.

    <h2>ELECTRECITE</h2>
    Subi autant de dégats que l'intensité életrique (voir tableau p201), après faire un test d'endurence.
    Si échec entravé pendant 1 tour et mis à terre si complication, sinon on agit normalement.

    <h2>FEU</h2>
    Test athlétisme quand exposé à des flammes.
    Si echec on prend feu, si c'est une arme en cas de blessure on prend feu.
    Si pas d'agilité réussite auto.

    <h2>RADIATIONS</h2>
    Test survie SD 9 pour repérer la source des rayonnements.
    Test endurence quand on est exposé.
    Si échec 1d3 blessures mortelles, 1d3 stress, secoué pendant 1 round.
    Quand exposé à des radiations possibbilité de test de corruption.

    Si empoisonnement au  radiation voir tableau p202.

    <h2>TEMPERATURES EXTREMES</h2>
    Faire un test d'endurence, toutes les heures ou tous les x round (x = score endurence).
    Si échec vous êtes fatigué.
    juqu'au prochain repos / rasemblement.

    <h2>HORDE</h2>
    Chaque membre d'une horde n'a qu'une blessure.
    Si on a plus d'Icônes que la défense de la horde on touche plusieurs cibles, chaque icône supplémentaire compte comme une cible en plus.
    Si autant d'Icônes que la défense de la horde touche la cible.

    Si un membre de la horde dépasse son max de stress il meurt.



    <h1>EQUIPEMENT</h1>
    Pour réuisitionner de l'équipement faire un test d'influence sd en fonction de la valeur de l'équipement en question.
    Il faut au moins un mot clé en commun avec l'objet voulu.
    Ajouter autant de dé au test que de mot clé en commun en plus du premier.
    Si échec on peut utiliser de la richesse pour ajouter des Icônes.
    Si complication -1 richesse.

    taleau rareté p206.

    <h2>RICHESSE</h2>
    Richesse de départ = Tier.
    Certains objet qu'on récupère pendant l'aventure peuvent valoir de la richesse.

    <h2>MARCHE NOIR</h2>
    Fiare un test de ruse SD 3 (modifiable en fonction de la rareté de l'objet).
    Il peut vous échanger l'objet qu'on veut contre d'autres objet, richesse ou un service.

    <h2>REPARER</h2>
    On peut réparer un objet avec un test de technomaitrise (SD en fonction de l'usure par défaut 3).
    +1 dé par mot clé en commun avec l'objet.

    <h2>TRAITS</h2>
    <h3>ASSAUT</h3>
    Tire pendant un sprint avec SD +2.

    <h3>BRUTAL</h3>
    Les dés de dégâts supplémentaires:
    - 1 ou 2 0 dégât
    - 3 ou 4 1 dégât
    - 5 ou 6 2 dégâts

    <h3>DISPERSION</h3>
    +3 dés bonus sur une horde.
    Touches n'importe quelle nombre de cible tant qu'elles se trouvent à moins de 3 mètres les unes des autres.

    <h3>DOULOUREUX</h3>
    Chaque blessure donne aussi 1 point de stress.

    <h3>ELECTRO (X)</h3>
    Ajoute score en DS sur les véhicules.

    <h3>ENCOMBRANT (X)</h3>
    Ajoute le score en SD sur les tests d'attaques.

    <h3>EXPLOSION (X)</h3>
    Tableau cibles sur hordes p209.

    <h3>FIABLE</h3>
    Test de réparation +1 dé bonus.

    <h3>FLAMME</h3>
    Possède aussi le trait INFLIGE (FEU).
    1 seul jet de dégâts même si plusieurs cibles touchées.

    <h3>FORCE</h3>
    Si mot clé PSYKER ajouter la moitié du score de force mentale à la valeur des dégâts, sinon -2 dégâts.

    <h3>FUSION</h3>
    Les dés de dégâts supplémentaires (portée courte):
    - 1 ou 2 0 dégât
    - 3 ou 4 1 dégât
    - 5 ou 6 2 dégâts

    Les dés de dégâts supplémentaires (contre véhicule):
    - 1 ou 2 ou 3 1 dégât
    - 4 ou 5 ou 6 2 dégâts

    <h3>INFLIGE (CONDITION)</h3>
    Si cible bléssée, elle prend la condition et si nombre après condition csore de SD à faire pour l'enlever.

    <h3>KUSTOM</h3>
    Choisir n'importe quel autre trait et si il peut prendre un score 1D3.

    <h3>LOURD (X)</h3>
    Force égale au score sinon +2 SD sur les tests.
    Si complication vou êtes a terre.
    Caler ou installer l'arme annule LOURD.

    <h3>PARADE</h3>
    +1 défense contre attaque mêlée

    <h3>PERFORANT (X)</h3>
    Si Icône exaltée pendant test ajoute score en PA.

    <h3>PISTOLET</h3>
    Peuvent être utilisés en engagé

    <h3>PRECIS (X)</h3>
    +1 dé bonus sur test + score DS.

    <h3>RADIATION (X)</h3>
    Ajoute le score en résultat de DS.

    <h3>SILENCIEUX</h3>
    Score furtivité -2.

    <h3>SURCHARGE</h3>
    Si on utilise une arme surchargée, complication on prend 1d6 blessure mortelles, si on touche +3 DS.

    <h3>TIR RAPIDE (X)</h3>
    + score DS si cible courte portée.

    <h3>WAAAGH!</h3>
    +1 dé bonus Si ORK et si bléssé +1 DS.

    <h3>WARP</h3>
    Dégâts = resistance totale - 4 (sauf si dégats de base plus élevés).


    <h2>AMELIORATION D'ARME</h2>
    3 amélioration sur une arme maximum et une de chaque types.
    p227-228.

    <h2>MUNITIONS</h2>
    Pour acquerir des munitions on peut faire un test d'influence, si reussite on à 3 munitions supplémentaires.
    Même chose pour les grenades et missiles, si réussite on en à 5 - rareté.

    Pour stocker plus de munitions on peut acheter des objets.

    Bolts spéciaux et munitions spéciales p 230-231.
    Tableau page 230 vendeurs munitions.

    <h2>ARMURES</h2>
    On peut porter plusieurs armures mais on utilise que l'AR le plus élevé sauf si elles ont le trait BOUCLIER.

    La valeur avec * n'est pas affecté avec les PA.

    <h3>TRAITS D'ARMURES</h3>
    <h4>BOUCLIER</h4>
    Ajoute l'AR à la défense et à la résistance.

    <h4>CHAMP DE FORCE</h4>
    Test de détermination contre blessure mortelles.

    <h4>ENCOMBRANTE</h4>
    On peut ni courir ni sprinter.

    <h4>ENERGETIQUE (X)</h4>
    Ajoutte le score à la force et si on utilise une arme avec le trait lourd on ne tombe pas à terre.

    <h4>MASSIVE (X)</h4>
    Réduit les déplacement du score en mètres.

    <h4>ON Y VA!</h4>
    Ignore MASSIVE et ENCOMBRANT si blessé.

    Equipement impérial, aeldari et ork pages 236-241.

    <h2>AUGMENTIQUES</h2>
    <h3>POSE ET DEPOSE</h3>
    Test de technomaitrise le SD vaut la valeur de l'arme.
    Si echec belssure grave sauf si test de medicae avec le même SD.
    Peut-être que le vendre peut aussi faire la pose pour 1 richesse ou un service.

    On peut enlever un augmentique avec un test de technomaitrise du même SD que la pose / 2.

    <h3>AUGMENTIQUES DE RENFORCEMENT</h3>
    page 243

    <h3>IMPLANTS AUGMENTIQUES</h3>
    pages 243-245

    <h3>AUGMENTIQUES AELDARI</h3>
    page 246

    <h3>AUGMENTIQUES ORKS</h3>
    pages 246-247

    <h2>BABIOLES ET FETICHES</h2>
    Objet mistérieux sur votre passé ou votre quête.
    pages 248-251

    <h1>POUVOIRS PSYCHIQUES</h1>
    <h2>UTILISER UN POUVOIR PSYCHIQUE</h2>
    Dire quel pouvoir on utiliser et a quel niveau de puissance (tableau puissance p260).
    Si une complication sur les dés de fureurs, faire un jet sur la tableau p263-264 pour chaque complication en plus de la première ajouter 10 au jet (d66).
    Pas de réussite critique sur un 6 mais une Icône éxaltée.

    <h2>DIFFERENTS POUVOIRS</h2>
    <h3>POUVOIRS PSYCHIQUES UNIVERSELS</h3>
    pages 267-268.

    <h3>POUVOIRS PSYCHIQUES MINEURS</h3>
    pages 268-271.

    <h3>DOMAINES PSYCHIQUES</h3>
    <h4>DOMAINE PSYCHIQUE UNIVERSEL</h4>
    page 272.

    <h4>DOMAINE DE LA BIOMANCIE</h4>
    pages 272-273.

    <h4>DOMAINE DE LA DIVINATION</h4>
    pages 274-275.

    <h4>DOMAINE DE LA PYROMANCIE</h4>
    pages 275-277.

    <h4>DOMAINE DE LA TELEKINESIE</h4>
    pages 277-278.

    <h4>DOAMINE DE LA TELEPATHIE</h4>
    pages 278-280.

    <h4>DOMAINE DU MALEFICARUM</h4>
    pages 280-281.

    <h3>POUVOIRS AELDARI</h3>
    page 282.

    <h3>DOMAINE DE RUNE DE BATAILLES</h3>
    pages 282-284.

    <h2>CORRUPTION</h2>
    <h3>TEST DE CORRUPTION</h3>
    Pour les tests de corruption utiliser le score de conviction.
    Si échec +1 point de RUINE pour le MJ et autant de points de CORRUPTION que la différence entre les Icônes et le SD.
    Si complication en échecc points de CORRUPTION x 2, si réussite critique -2 SD.
    On peut utiliser des points de FUREUR pour diminuer le SD (SD minimum 1).

    <h3>TEST DE MUTATION</h3>
    A chaque fois qu'on augmente le niveau de corruption on fait un test de mutation, on peut choisir de raté ce test.
    Faire un jet de conviction, si échec faire un jet pour le tableau page 287.
    Ensuite faire un jet d66 dans le tableau page 288 correspondant (si on a déjà la mutation ajouter 10).
    
    Pages tableau pour niveau de corruption et test de corruption.

    
    <h2>LA RUINE</h2>
    Le MJ commence avec autant de points de RUINE que de joueurs.
    Nombre de points de RUINE max nb joueur x 2.
    On regagne des points de RUINE quand un joueur perd un test de corruption, perd un test de peur, un 6 sur dé fureur.
    On peut utiliser les points de ruines pour relancer les échecs, restaurer le stress, faire des jet de détermination ou faire des actions de ruines (p320 Corebook et p7 TA Xenos).
</p>
















modifier le système d'obtention d'XP
nb compétences max = score intéligence