<h1 style="width:fit-content;" class="mx-auto" style="width:fit-content">LISTE DES EMPLOYEURS</h1>

<h3 style="width:fit-content;" class="mx-auto d-block">Employeurs de l'Imperium</h3>

<div class="container row mx-auto">
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/Akahir.jpg" width="250" height="250" style="border-radius:25px;"/>
        <label class="mx-auto d-block" style="width:fit-content">AKAHIR</label>
    </div>
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/AxekraVakuul.jpg"  width="250" height="250" style="border-radius:25px;"/>
        <label class="mx-auto d-block" style="width:fit-content">AXEKRA VAKUUL</label>
    </div>
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/EshgarQuintusLorae.jpg"  width="250" height="250" style="border-radius:25px;"/>
        <label class="mx-auto d-block" style="width:fit-content">ESHGAR QUINTUS LORAE</label>
    </div>
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/JakelVaronius.jpg"  width="250" height="250" style="border-radius:25px;"/>
        <label class="mx-auto d-block" style="width:fit-content">JAKEL VARONIUS</label>
    </div>
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/JeanneGraceEmysa.jpg"  width="250" height="250" style="border-radius:25px;"/>
        <label class="mx-auto d-block" style="width:fit-content">JEANNE GRACE D'EMYSA</label>
    </div>
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/MerramarClade.jpg"  width="250" height="250" style="border-radius:25px;"/>
        <label class="mx-auto d-block" style="width:fit-content">MERRAMAR CLADE</label>
    </div>
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/OctaviaOmincara.jpg"  width="250" height="250" style="border-radius:25px;"/>
        <label class="mx-auto d-block" style="width:fit-content">OCTAVIA MINCARA</label>
    </div>
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/TaleriaFylamon.jpg"  width="250" height="250" style="border-radius:25px;"/>
        <label class="mx-auto d-block" style="width:fit-content">TALERIA FYLAMON</label>
    </div>
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/TytronaDikaisune.jpg"  width="250" height="250" style="border-radius:25px;"/>
        <label class="mx-auto d-block" style="width:fit-content">TYTRONA DIKAISUNE</label>
    </div>    
</div>

<h3 style="width:fit-content;" class="mx-auto d-block">Employeurs Xenos et Hérétiques</h3>

<div class="container row mx-auto">
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/LanrielTaranlys.jpg" width="250" height="250" style="border-radius:25px;" />
        <label class="mx-auto d-block" style="width:fit-content">LANRIEL TARANLYS</label>
    </div>
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/Ferianwyr.jpg" width="250" height="250" style="border-radius:25px;" />
        <label class="mx-auto d-block" style="width:fit-content">LA PRINCESSE D'EMERAUDE</label>
    </div>
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/Vazdrok.jpg" width="250" height="250" style="border-radius:25px;" />
        <label class="mx-auto d-block" style="width:fit-content">VAZDROK SPIDEY SMASHA</label>
    </div>
    <div class="col-3 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Employeurs/Maloquence.jpg" width="250" height="250" style="border-radius:25px;" />
        <label class="mx-auto d-block" style="width:fit-content">MALOQUENCE</label>
    </div>
</div>