<label>Nom du Personnage: </label>
<label>Tier: </label>
<label>Espèce: </label>
<label>Archétype: </label>
<label>Historique: </label>
<label>Rang: </label>
<label>Faction: </label>
<label>Mots-CLés: </label>
<br />
@{ 
#region ATTRIBUTS
}
<label>Attributs</label>
<table style="border: hidden;">
    <tr>
        <td></td>
        <td>F</td>
        <td>E</td>
        <td>A</td>
        <td>I</td>
        <td>FM</td>
        <td>Int</td>
        <td>Soc</td>
    </tr>
    <tr>
        <td>Score</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
@{ 
#endregion

#region COMPÉTENCES
}


<label>Compétences</label>
<table style="border:hidden;">
    <tr>
        <td></td>
        <td></td>
        <td>Score</td>
        <td>Total</td>
    </tr>
    <tr>
        <td>Athlétisme</td>
        <td>F</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Capacité de Combat</td>
        <td>I</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Capacité de Tir</td>
        <td>A</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Commandement</td>
        <td>FM</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Connaissance</td>
        <td>Int</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Duperie</td>
        <td>Soc</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Furtivité</td>
        <td>Fm</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Intimidation</td>
        <td>FM</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Investigation</td>
        <td>Int</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Maîtrise Psychique</td>
        <td>FM</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Medicae</td>
        <td>Int</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Persuasion</td>
        <td>Soc</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Pilotage</td>
        <td>A</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Psychologie</td>
        <td>Soc</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Ruse</td>
        <td>Soc</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Survie</td>
        <td>FM</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Technomaîtrise</td>
        <td>Int</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Vigilance</td>
        <td>Int</td>
        <td></td>
        <td></td>
    </tr>
</table>

@{ 
#endregion
}

<style>
    tbody, td, tfoot, th, thead, tr {
        border: 1px solid white;
    }
</style>